    /* sunday */
    .table-condensed > thead > tr:last-child > th.dow:first-child,
    .table-condensed > tbody > tr > td.day:first-child,
    .table-condensed > tbody > tr > td.day:first-child:hover{
        color: #FF0000;
    }


    /* sutorday */
    .table-condensed > thead > tr:last-child > th.dow:last-child,
    .table-condensed > tbody > tr > td.day:last-child,
    .table-condensed > tbody > tr > td.day:last-child:hover{
        color: #0000FF;
    }


    /* other */
    .table-condensed > tbody > tr > td.day.disabled-date,
    .table-condensed > tbody > tr > td.day.disabled-date:hover{
        color: #FF0000;
    }