{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}

<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><span>パスワード発行メールの送信 完了</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_shopping block_about gb_block">
        
        <h2 class="mt10">
            <img src="{{ app.config.front_urlpath }}/img/shopping/h2_login.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/shopping/sm/h2_login.png" alt=" " class="sm">
        </h2>
                
        <h2 class="mt20 bold red">パスワード再発行メールの送信が完了しました。</h2>
        <p>ご登録メールアドレスにパスワードを再発行するためのメールを送信いたしました。<br/>
    メールの内容をご確認いただきますよう、お願いいたします。</p>
        <p>※メールが届かない場合はメールアドレスをご確認の上、再度お試しください。</p>
        
        <div class="row row_full mt30 pd10">
            <a href="{{ url('mypage') }}" class="gb_btn btn_L"><span>マイページへ</span></a>
        </div>
        
    </div>
</div>


{% endblock %}


