{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><span>パスワードの再発行</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_shopping block_about gb_block">
        <h2 class="mt10">
            <img src="{{ app.config.front_urlpath }}/img/shopping/h2_login.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/shopping/sm/h2_login.png" alt=" " class="sm">
        </h2>
                
        <p class="mt20">ご登録時のメールアドレスを入力して「次へ」ボタンをクリックしてください。</p>
        <p>※新しくパスワードを発行いたしますので、お忘れになったパスワードはご利用できなくなります。</p>
        <form name="form1" id="form1" method="post" action="{{ url('forgot') }}">
            {{ form_widget(form._token) }}
            <div class="tb_contact_form tb fms mt20">
                <div class="tr">
                    <div class="th">{{ form_label(form.login_email) }}</div>
                    <div class="td">
                        <div class="group_textinput_plus">
                            {{ form_widget(form.login_email,  {'attr': {'class': 'text_input'}}) }}
                            {{ form_errors(form.login_email) }}
                        </div>
                    </div>
                </div>
            </div>
            {% for f in form %}
                {% if f.vars.name matches '[^plg*]' %}
                    <div class="extra-form dl_table">
                        {{ form_row(f) }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row row_third clearfix text-center mt20 md">
                <div class="col">
                    <button type="submit" class="gb_btn btn_S hover">
                        <span class="ft14">次のページへ</span>
                    </button>
                </div>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}


