{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div class="main_post">

					<div class="block_pathway">
						<ul class="ul_pathway">
							<li><a href="{{ url('homepage') }}">TOP</a></li><li><span>お問い合わせ</span></li>
						</ul>
					</div><!-- /.block_pathway -->

					<div class="block_contact">
						<div class="mod_contact_main gb_block block_about">
							<div class="mod_head">
								<div class="mod_ttl">
									<h2>
										<img src="{{ app.config.front_urlpath }}/img/contact/contact_ttl.png" alt="お問い合わせ先" class="md" />
										<img src="{{ app.config.front_urlpath }}/img/contact/sm/contact_ttl.png" alt="お問い合わせ先" class="sm" />
									</h2>
								</div>
                                <p class="mt20 pd10 red bold">
                                    お問い合わせ内容の送信が完了いたしました。
                                </p>
								<p  class="mt20 pd10">
                                    万一、ご回答メールが届かない場合は、トラブルの可能性もありますので<br />
                                    大変お手数ではございますがもう一度お問い合わせいただくか、お電話にてお問い合わせください。<br />
                                    今後ともご愛顧賜りますようよろしくお願い申し上げます。
                                </p>
							</div>
                            <div class="row row_full mt30">
                                <a href="{{ url('homepage') }}" class="gb_btn btn_L"><span>トップページへ</span></a>
                            </div>
						</div>
					</div><!-- /.block_contact -->

				</div><!-- /.main_post -->
{% endblock %}
