{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div class="main_post">

<div class="block_pathway">
    <ul class="ul_pathway">
        <li><a href="{{ url('homepage') }}">TOP</a></li><li><span>お問い合わせ</span></li>
    </ul>
</div><!-- /.block_pathway -->

<div class="block_contact">
    <div class="mod_contact_main gb_block block_about">
        <div class="mod_head">
            <div class="mod_ttl">
                <h2>
                    <img src="{{ app.config.front_urlpath }}/img/contact/contact_ttl.png" alt="お問い合わせ先" class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/contact/sm/contact_ttl.png" alt="お問い合わせ先" class="sm" />
                </h2>
            </div>
            <div class="mod_desc">
                内容によっては回答をさしあげるのにお時間をいただくこともございます。<br />
                また、休業日は翌営業日以降の対応となりますのでご了承ください。
            </div>
        </div>
        <div class="mod_cont">
            <form name="contact_form" id="contact_form" method="post" action="{{ url('contact') }}">
                {{ form_widget(form._token) }}
                <div>
                    <div class="tb_contact_form tb fms">
                        <div class="tr">
                            <div class="th">{{ form_label(form.name) }}</div>
                            <div class="td">
                                <div class="group_textinput">
                                    {{ form_widget(form.name.name01) }}
                                    {{ form_widget(form.name.name02) }}
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="th">{{ form_label(form.kana) }}</div>
                            <div class="td">
                                <div class="group_textinput">
                                    {{ form_widget(form.kana.kana01, {attr: {class: 'text_input'}}) }}
                                    {{ form_widget(form.kana.kana02, {attr: {class: 'text_input'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="th">{{ form_label(form.zip) }}</div>
                            <div class="td">
                                <div class="group_textinput">
                                    <div id="top_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="tr vtop">
                            <div class="th">{{ form_label(form.address) }}</div>
                            <div class="td">
                                <div class="group_textinput_plus">
                                    <div id="top_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                        {{ form_widget(form.address) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="th">{{ form_label(form.tel) }}</div>
                            <div class="td">
                                <div class="group_textinput_third">
                                    {{ form_widget(form.tel) }}
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="th">{{ form_label(form.email) }}</div>
                            <div class="td">
                                <div class="group_textinput_plus">
                                    {{ form_widget(form.email, {attr: {class: 'text_input'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="tr tr_space vtop">
                            <div class="th">{{ form_label(form.contents) }}</div>
                            <div class="td">
                                {{ form_widget(form.contents, {attr: {class: 'text_area'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="form_btn">
                    <li>
                        <button type="submit" class="btn_back trans" name="mode" value="back">
                            <img src="{{ app.config.front_urlpath }}/img/contact/btn_back.png" alt="戻る" />
                        </button>
                    </li>
                    <li>
                        <button type="submit" class="btn_send trans" name="mode" value="complete">
                            <img src="{{ app.config.front_urlpath }}/img/contact/btn_send.png" alt="送信をする" />
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div><!-- /.block_contact -->

</div><!-- /.main_post -->
{% endblock %}
