{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}
{% block javascript %}
<script src="//ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
    $(function() {
        $('#zip-search').click(function() {
            AjaxZip3.zip2addr('contact[zip][zip01]', 'contact[zip][zip02]', 'contact[address][pref]', 'contact[address][addr01]');
        });
    });
</script>
{% endblock %}
{% block main %}
<div class="main_post">

					<div class="block_pathway">
						<ul class="ul_pathway">
							<li><a href="{{ url('homepage') }}">TOP</a></li><li><span>お問い合わせ</span></li>
						</ul>
					</div><!-- /.block_pathway -->

					<div class="block_contact">
						<div class="mod_contact_main gb_block block_about">
							<div class="mod_head">
								<div class="mod_ttl">
									<h2>
										<img src="{{ app.config.front_urlpath }}/img/contact/contact_ttl.png" alt="お問い合わせ先" class="md" />
										<img src="{{ app.config.front_urlpath }}/img/contact/sm/contact_ttl.png" alt="お問い合わせ先" class="sm" />
									</h2>
								</div>
								<div class="mod_desc">
									四万十うなぎ株式会社へのご質問などがございましたらお問合せ下さい。<br />
									また、今後のよりサービスをお届けするために皆様のご意見、ご感想などもお気軽にお寄せ下さい。
								</div>
								<div class="mod_note"><span class="required">※</span>の項目は必須となります。</div>
							</div>
							<div class="mod_cont">
								<form name="contact_form" id="contact_form" method="post" action="{{ url('contact') }}">
                                    {{ form_widget(form._token) }}
									<div>
										<div class="tb_contact_form tb fms">
											<div class="tr">
												<div class="th">{{ form_label(form.name) }}</div>
												<div class="td">
                                                    <div class="group_textinput">
													   <label class="item"><span>姓</span>{{ form_widget(form.name.name01, {attr : {class : 'text_input'}}) }}</label>
                                                        <label class="item"><span>名</span>{{ form_widget(form.name.name02, {attr : {class : 'text_input'}}) }}</label>
                                                        {{ form_errors(form.name.name01) }}
                                                        {{ form_errors(form.name.name02) }}
                                                    </div>
												</div>
											</div>
											<div class="tr">
												<div class="th">{{ form_label(form.kana) }}</div>
												<div class="td">
													<div class="group_textinput">
														<label class="item"><span>セイ</span>{{ form_widget(form.kana.kana01, {attr : {class : 'text_input'}}) }}</label>
														<label class="item"><span>メイ</span>{{ form_widget(form.kana.kana02, {attr : {class : 'text_input'}}) }}</label>
                                                        {{ form_errors(form.kana.kana01) }}
                                                        {{ form_errors(form.kana.kana02) }}
													</div>
												</div>
											</div>
                                            <div class="tr">
                                                <div class="th">{{ form_label(form.zip) }}</div>
                                                <div class="td">
                                                    <div class="group_textinput">
                                                        <div id="top_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                                                    </div>
                                                </div>
                                            </div>
											<div class="tr vtop">
												<div class="th">{{ form_label(form.address) }}</div>
                                                <div class="td">
                                                    <div class="group_textinput_plus">
                                                        <div id="top_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                                            {{ form_widget(form.address) }}
                                                            {{ form_errors(form.address) }}
                                                        </div>
                                                    </div>
                                                </div>
											</div>
											<div class="tr">
												<div class="th">{{ form_label(form.tel) }}</div>
												<div class="td">
													<div class="group_textinput_third">
												        {{ form_widget(form.tel) }}
                                                        {{ form_errors(form.tel) }}
													</div>
												</div>
											</div><!--
											<div class="tr">
												<div class="th">FAX番号</div>
												<div class="td">
													<div class="group_textinput_third">
                                                        <input type="text" class="text_input" /><span>ー</span><input type="text" class="text_input" /><span>ー</span><input type="text" class="text_input" />
                                                    </div>
												</div>
											</div>
                                         --><div class="tr">
                                                <div class="th">{{ form_label(form.email) }}</div>
                                                <div class="td">
                                                    <div class="group_textinput_plus">
                                                        {{ form_widget(form.email, {attr : {class : 'text_input'}}) }}
                                                        {{ form_errors(form.email) }}
                                                    </div>
                                                </div>
                                            </div><!--
											<div class="tr vtop">
												<div class="th">ご返信方法</div>
												<div class="td">
													<ul class="ul_radio">
														<li>
															<label><input type="radio" name="rad_contact"><span>電話でしてほしい</span></label>
														</li>
														<li>
															<label><input type="radio" name="rad_contact"><span>FAXでしてほしい</span></label>
														</li>
														<li>
															<label><input type="radio" name="rad_contact"><span>メールでしてほしい</span></label>
														</li>
														<li>
															<label><input type="radio" name="rad_contact"><span>返信しなくて良い</span></label>
														</li>
													</ul>
													※受付時間は平日午前8時から午後5時までとなっております。
												</div>
											</div>
								            <div class="tr">
												<div class="th">件名</div>
												<div class="td">
													<select class="select_box">
														<option>項目を選択</option>
													</select>
												</div>
											</div>
								        --><div class="tr tr_space vtop">
												<div class="th">{{ form_label(form.contents) }}</div>
												<div class="td">
													{{ form_widget(form.contents, {attr : {class : 'text_area'}}) }}
                                                    {{ form_errors(form.contents) }}
												</div>
											</div>
										</div>
									</div><!--
									<div class="sm">
										<div class="tb_contact_form_sm fms">
											<dl>
												<dt>{{ form_label(form.name) }}</dt>
												<dd>
													<div class="group_textinput">
                                                        {{ form_widget(form.name.name01) }}
                                                        {{ form_widget(form.name.name02) }}
                                                        {{ form_errors(form.name.name01) }}
                                                        {{ form_errors(form.name.name02) }}
													</div>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>{{ form_label(form.kana) }}</dt>
                                                  <dd>
													<div class="group_textinput">
                                                        {{ form_widget(form.kana.kana01) }}
                                                        {{ form_widget(form.kana.kana02) }}
                                                        {{ form_errors(form.kana.kana01) }}
                                                        {{ form_errors(form.kana.kana02) }}
													</div>
												</dd>
											</dl>
                                            <dl>
                                                <dt>{{ form_label(form.zip) }}</dt>
                                                <dd>
                                                    <div class="group_textinput">
                                                        <div id="top_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                                                    </div>
                                                </dd>
                                            </dl>
											<dl>
												<dt>{{ form_label(form.address) }}</dt>
                                                <dd>
                                                    <div class="group_textinput_plus">
                                                        <div id="top_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                                            {{ form_widget(form.address) }}
                                                            {{ form_errors(form.address) }}
                                                        </div>
                                                    </div>
                                                </dd>
											</dl>
											<dl>
												<dt>{{ form_label(form.tel) }}</dt>
												<dd>
													<div class="group_textinput_third">
                                                        {{ form_widget(form.tel) }}
                                                        {{ form_errors(form.tel) }}
													</div>
												</dd>
											</dl>
											<dl>
												<dt>FAX番号</dt>
												<dd>
													<div class="group_textinput_third">
														<input type="text" class="text_input" /><span>ー</span><input type="text" class="text_input" /><span>ー</span><input type="text" class="text_input" />
													</div>
												</dd>
											</dl>
								         <dl>
												<dt>{{ form_label(form.email) }}</dt>
												<dd>
													<div class="group_textinput_plus">
														{{ form_widget(form.email, {attr : {class : 'text_input'}}) }}
                                                        {{ form_errors(form.email) }}
													</div>
												</dd>
											</dl>
											<dl>
												<dt>ご返信方法<span class="required">【必須】</span></dt>
												<dd>
													<ul class="ul_radio">
														<li>
															<label><input type="radio" name="rad_contact"><span>電話でしてほしい</span></label>
														</li>
														<li>
															<label><input type="radio" name="rad_contact"><span>FAXでしてほしい</span></label>
														</li>
														<li>
															<label><input type="radio" name="rad_contact"><span>メールでしてほしい</span></label>
														</li>
														<li>
															<label><input type="radio" name="rad_contact"><span>返信しなくて良い</span></label>
														</li>
													</ul>
													※受付時間は平日午前8時から午後5時までとなっております。
												</dd>
											</dl>
											<dl>
												<dt>件名<span class="required">【必須】</span></dt>
												<dd>
													<select class="select_box auto">
														<option>項目を選択</option>
													</select>
												</dd>
											</dl>
								         <dl>
												<dt>{{ form_label(form.contents) }}</dt>
												<dd>
													{{ form_widget(form.contents, {attr : {class : 'text_area'}}) }}
                                                    {{ form_errors(form.contents) }}
												</dd>
											</dl>
										</div>
									</div>-->
                                    <input id="top_box__hidden_mode" type="hidden" name="mode" value="confirm">
                                     {% for f in form %}
                                        {% if f.vars.name matches '[^plg*]' %}
                                            <div class="extra-form dl_table">
                                        {{ form_row(f) }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
									<ul class="form_btn">
                                        <li>
                                            <button type="reset" class="btn_reset trans">
                                                <img src="{{ app.config.front_urlpath }}/img/contact/btn_reset.png" alt="リセット" />
                                            </button>
                                        </li><li>
                                            <button type="submit" class="btn_confirm trans">
                                                <img src="{{ app.config.front_urlpath }}/img/contact/btn_confirm.png" alt="送信内容の確認" />
                                            </button>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            <!--<div class="mod_contact_btn">
                                <ul class="ul_contact_btn sm">
                                    <li>
                                        <button type="reset" class="btn_back trans">
                                            <img src="{{ app.config.front_urlpath }}/img/contact/sm/btn_reset.png" alt="リセット" />
                                        </button>
                                    </li><li>
                                        <button type="submit" class="btn_send trans">
                                            <img src="{{ app.config.front_urlpath }}/img/contact/sm/btn_confirm.png" alt="送信内容の確認" />
                                        </button>
                                    </li>
                                </ul>-->
							<!--<ul class="ul_contact_btn">
								<li>
									<a href="#" class="btn_back trans">
										<img src="{{ app.config.ftont_urlpath }}/img/contact/btn_back.png" alt="入力画面に戻る" class="md" />
										<img src="{{ app.config.ftont_urlpath }}/img/contact/sm/btn_back.png" alt="入力画面に戻る" class="sm" />
									</a>
								</li><li>
									<a href="#" class="btn_send trans">
										<img src="{{ app.config.ftont_urlpath }}/img/contact/btn_send.png" alt="送信" class="md" />
										<img src="{{ app.config.ftont_urlpath }}/img/contact/sm/btn_send.png" alt="送信" class="sm" />
									</a>
								</li>
							</ul>-->
						</div>
					</div><!-- /.block_contact -->

				</div><!-- /.main_post -->
{% endblock %}
