<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="ja"><![endif]-->
<!--[if (gt IE 9)|!(IE)]>--> <html lang="ja"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} / {{ subtitle }}{% elseif title is defined and title is not empty %} / {{ title }}{% endif %}</title>
    {% if PageLayout.author is not empty %}
        <meta name="author" content="{{ PageLayout.author }}">
    {% endif %}
    {% if PageLayout.description is not empty %}
        <meta name="description" content="{{ PageLayout.description }}">
    {% endif %}
    {% if PageLayout.keyword is not empty %}
        <meta name="keywords" content="{{ PageLayout.keyword }}">
    {% endif %}
    {% if PageLayout.meta_robots is not empty %}
        <meta name="robots" content="{{ PageLayout.meta_robots }}">
    {% endif %}
    <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/style.css" />
    <link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/mobile.css" />
    {% block stylesheet %}{% endblock %}
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="cleartype" content="on" />
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="{{ app.config.front_urlpath }}/js/html5shiv.min.js"></script>
        <script src="{{ app.config.front_urlpath }}/js/IE9.js"></script>
        <script src="{{ app.config.front_urlpath }}/js/respond.min.js"></script>
    <![endif]-->
    <script src="{{ app.config.front_urlpath }}/js/jquery-1.11.2.min.js"></script>
    <script src="{{ app.config.front_urlpath }}/js/jquery.bxslider.js"></script>
    <script src="{{ app.config.front_urlpath }}/js/scripts.js"></script>
</head>
<body class="{{ body_class|default('other_page') }}">

    <div id="container">
        <div class="main_content wrapper">
            {# ▼HeaderInternal COLUMN #}
            {% if PageLayout.Header %}
                {# ▼上ナビ #}
                {{ include('block.twig', {'Blocks': PageLayout.Header}) }}
                {# ▲上ナビ #}
            {% endif %}
            {# ▲HeaderInternal COLUMN #}

            <!-- CONTENT  -->
            <main class="page_top clearfix">

                <div class="sidebar">

                    <div class="mod_category md">
                        <div class="mod_ttl">
                            <img src="{{ app.config.front_urlpath }}/img/common/category_ttl.png" alt="商品カテゴリ" class="md" />
                            <img src="{{ app.config.front_urlpath }}/img/common/sm/category_ttl.png" alt="商品カテゴリから選ぶ" class="sm" />
                        </div>
                        <div class="mod_cont">
                            <ul class="ul_category">
                                <li><a href="{{ url('homepage') }}products/list"><span>全商品を見る</span></a></li>
                                <li><a href="{{ url('homepage') }}products/list?category_id=7"><span>蒲焼き</span></a></li>
                                <li><a href="{{ url('homepage') }}products/list?category_id=8"><span>塩うなぎ</span></a></li>
                                <li><a href="{{ url('homepage') }}products/list?category_id=9"><span>白焼き</span></a></li>
                                <li><a href="{{ url('homepage') }}products/list?category_id=10"><span>ちまき</span></a></li>
                                <li><a href="{{ url('homepage') }}products/list?category_id=11"><span>珍味</span></a></li>
                                <li class="sm"><a href="{{ url('homepage') }}products/list?category_id=12"><span>セット商品</span></a></li>
                                <li class="sm"><a href="{{ url('homepage') }}products/list?category_id=13"><span>まとめ買い</span></a></li>
                            </ul>
                        </div>
                    </div><!--/.mod_category -->
                    
                    <div class="mod_calendar md">
                        <div class="mod_ttl"><img src="{{ app.config.front_urlpath }}/img/common/calendar_ttl.png" alt="営業日カレンダー" /></div>
                    </div>

                    {# ▼LEFT COLUMN #}
                    {% if PageLayout.SideLeft %}
                        {# ▼左ナビ #}
                        {{ include('block.twig', {'Blocks': PageLayout.SideLeft}) }}
                        {# ▲左ナビ #}
                    {% endif %}
                    {# ▲LEFT COLUMN #}

                    <!--<div class="mod_calendar md">
                        <div class="mod_ttl"><img src="{{ app.config.front_urlpath }}/img/common/calendar_ttl.png" alt="営業日カレンダー" /></div>
                        <div class="mod_cont">
                            <div class="tb_calendar tb">
                                <div class="tr">
                                    <div class="th">日</div>
                                    <div class="th">月</div>
                                    <div class="th">火</div>
                                    <div class="th">水</div>
                                    <div class="th">木</div>
                                    <div class="th">金</div>
                                    <div class="th">土</div>
                                </div>
                                <div class="tr">
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                </div>
                                <div class="tr">
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                </div>
                                <div class="tr">
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                </div>
                                <div class="tr">
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                </div>
                                <div class="tr">
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                    <div class="td">&nbsp;</div>
                                </div>
                            </div>
                            <div class="tb_caption"><span>定休日</span></div>
                        </div>
                    </div>--><!--/.mod_calendar -->

                    <div class="mod_hours md">
                        <div class="mod_ttl"><img src="{{ app.config.front_urlpath }}/img/common/hours_ttl.png" alt="営業時間 午前10時〜午後5時" /></div>
                        <div class="mod_cont">
                            当店へのお問い合わせは上記の時間帯で受け付けております。なお、インターネットでのご注文は24時間受け付けております。
                        </div>
                    </div><!-- /.mod_hours -->

                    <div class="mod_contact md">
                        <div class="mod_ttl"><img src="{{ app.config.front_urlpath }}/img/common/contact_ttl.png" alt="お問い合わせ先" /></div>
                        <div class="mod_cont">
                            <div class="tel">TEL. 088-803-7108</div>
                            <div class="cont">
                                <a href="{{ url('homepage') }}contact" class="trans">
                                    ホームページから<br />問い合わせする
                                </a>
                            </div>
                        </div>
                    </div><!-- /.mod_contact -->

                    <div class="mod_adv md">
                        <ul class="ul_adv">
                            <li>
                                <div class="thumb">
                                    <a href="#" class="trans"><img src="{{ app.config.front_urlpath }}/img/common/adv01.jpg" alt="直営店 うなぎ料理「うなきち」" /></a>
                                </div>
                                <div class="cont">
                                    四万十うなぎ(株)直営店<br />うなぎ料理「うなきち」
                                </div>
                            </li>
                            <li>
                                <div class="thumb">
                                    <a href="#" class="trans"><img src="{{ app.config.front_urlpath }}/img/common/adv02.jpg" alt="ユースホステル" /></a>
                                </div>
                                <div class="cont">
                                    うなぎ料理「うなきち」<br />の3階・4階は<br />ユースホステル
                                </div>
                            </li>
                        </ul>
                    </div><!-- /.mod_adv -->

                    <div class="mod_twitter md">
                        <img src="{{ app.config.front_urlpath }}/img/common/mod_twitter.png" alt="twitter" />
                    </div><!--/.mod_twitter -->

                </div><!-- ./sidebar -->

                {# ▼メイン上部 #}
                {% if PageLayout.MainTop %}
                    {{ include('block.twig', {'Blocks': PageLayout.MainTop}) }}
                {% endif %}
                {# ▲メイン上部 #}

                {% block main %}{% endblock %}

                {# ▼メイン下部 #}
                {% if PageLayout.MainBottom %}
                    {{ include('block.twig', {'Blocks': PageLayout.MainBottom}) }}
                {% endif %}
                {# ▲メイン下部 #}

            </main><!-- /.CONTENT  -->

            <!-- FOOTER  -->
            {# ▼Footer COLUMN#}
            {% if PageLayout.Footer %}
                {# ▼上ナビ #}
                {{ include('block.twig', {'Blocks': PageLayout.Footer}) }}
                {# ▲上ナビ #}
            {% endif %}
            {# ▲Footer COLUMN#}
            <!-- /.FOOTER  -->
        </div>
    </div><!-- /.container -->
    <script src="{{ app.config.front_urlpath }}/js/function.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
    <script src="{{ app.config.front_urlpath }}/js/eccube.js?v={{ constant('Eccube\\Common\\Constant::VERSION') }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>