{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'toppage' %}

{% block javascript %}
<script type="text/javascript">
    $.ajax({
        dataType: 'xml',
        url: '{{ url('homepage') }}news/feed/',
        success: function(data) {
            if($("item", data).length < 1){
                return false;
            }

            $("item", data).each(function(){
                var item = $(this);
                var title = $('title', item).text();
                var link = $('link', item).text();
                var datetime = $('pubDate', item).text();
                var date = new Date(datetime);
                var datetext = [date.getFullYear(), date.getMonth(), date.getDate()].join('/');
                //var datetext = date.toString();

                var row = '<dl class="tb">';
                row += '<dt class="td">'+datetext+'</dt>';
                row += '<dd class="td"><a href="'+link+'" class="trans">'+title+'</a></dd>';
                row += '</dl>';

                $("#list_news").append(row);
            });
        }
    });
</script>
{% endblock %}

{% block main %}
    <div class="main_post">

    <div class="block_hot_news">
        <div class="block_head clearfix">
            <h2 class="ttl">
                <img src="{{ app.config.front_urlpath }}/img/top/news_ttl.png" alt="四万十うなぎからのお知らせ" class="md" />
                <img src="{{ app.config.front_urlpath }}/img/top/sm/news_ttl.png" alt="四万十うなぎからのお知らせ" class="sm" />
            </h2>
            <a href="news/" class="btn_more trans"><span>お知らせ一覧を見る</span></a>
        </div>
        <div class="block_cont">
            <div class="list_hot_news" id="list_news">

                <!--<dl class="tb">
                    <dt class="td">yyyy/mm/dd</dt>
                    <dd class="td"><a href="#" class="trans">オンラインショップGW休業のお知らせ</a></dd>
                </dl>
                <dl class="tb">
                    <dt class="td">yyyy/mm/dd</dt>
                    <dd class="td"><a href="#" class="trans">特別セットを期間限定で販売！「四万十の青さのりスープ」限定プレゼント</a></dd>
                </dl>
                <dl class="tb">
                    <dt class="td">yyyy/mm/dd</dt>
                    <dd class="td"><a href="#" class="trans">朝日放送「朝だ！生です旅サラダ」で当店の蒲焼きが紹介されました！</a></dd>
                </dl>
                <dl class="tb">
                    <dt class="td">yyyy/mm/dd</dt>
                    <dd class="td"><a href="#" class="trans">土用の丑の日まであと1ヶ月!</a></dd>
                </dl>
                <dl class="tb">
                    <dt class="td">yyyy/mm/dd</dt>
                    <dd class="td"><a href="#" class="trans">年末年始休業のお知らせ</a></dd>
                </dl>-->
            </div>
        </div>
        <div class="block_footer sm">
            <a href="news/" class="btn_more trans"><span>お知らせ一覧を見る</span></a>
        </div>
    </div><!-- /.block_hot_news -->

    <div class="block_banner_access md">
        <div class="row row_full">
            <a href="{{ url('homepage') }}user_data/appeal" class="trans">
                <img src="{{ app.config.front_urlpath }}/img/top/banner01.jpg" alt="四万十うなぎこだわりいろいろ" />
            </a>
        </div>
        <div class="row clearfix">
            <div class="col one_half">
                <a href="{{ url('homepage') }}products/list?category_id=7" class="trans">
                    <img src="{{ app.config.front_urlpath }}/img/top/banner02.jpg" alt="定番 四万十うなぎ「蒲焼き」" />
                </a>
            </div>
            <div class="col one_half">
                <a href="{{ url('homepage') }}products/list?category_id=8" class="trans">
                    <img src="{{ app.config.front_urlpath }}/img/top/banner03.jpg" alt="新味 四万十うなぎ「塩うなぎ」" />
                </a>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col one_third">
                <a href="{{ url('homepage') }}products/list?category_id=9" class="trans">
                    <img src="{{ app.config.front_urlpath }}/img/top/banner04.jpg" alt="これぞうなぎ！ 四万十うなぎ「白焼き」" />
                </a>
            </div>
            <div class="col one_third">
                <a href="{{ url('homepage') }}products/list?category_id=10" class="trans">
                    <img src="{{ app.config.front_urlpath }}/img/top/banner05.jpg" alt="四万十町産餅米、古代米使用。 四万十うなぎ「ちまき」" />
                </a>
            </div>
            <div class="col one_third">
                <a href="{{ url('homepage') }}products/list?category_id=11" class="trans">
                    <img src="{{ app.config.front_urlpath }}/img/top/banner06.jpg" alt="四万十うなぎの肝を味わい深く 四万十うなぎ「珍味」" />
                </a>
            </div>
        </div>
        <div class="row row_full">
            <a href="{{ url('homepage') }}products/list?category_id=12" class="trans">
                <img src="{{ app.config.front_urlpath }}/img/top/banner07.jpg" alt="四万十うなぎを試しに買う。四万十うなぎをいろいろ食べる。 四万十うなぎ「セットいろいろ」" />
            </a>
        </div>
        <div class="row row_full">
            <a href="{{ url('homepage') }}products/list?category_id=13" class="trans">
                <img src="{{ app.config.front_urlpath }}/img/top/banner08.jpg" alt="四万十うなぎを贅沢に食す。 四万十うなぎ「まとめ買い」" />
            </a>
        </div>
    </div><!-- /.block_banner_access -->

    <div class="block_product_feature mod_product_popular">
        <div class="block_tag">
            <img src="{{ app.config.front_urlpath }}/img/top/tag_best.png" alt="Best3" class="md" />
            <img src="{{ app.config.front_urlpath }}/img/top/sm/tag_best.png" alt="Best3" class="sm" />
        </div>
        <div class="block_ttl">
            <img src="{{ app.config.front_urlpath }}/img/top/popular_product_ttl.png" alt="人気商品から選ぶ" class="md" />
            <img src="{{ app.config.front_urlpath }}/img/top/sm/popular_product_ttl.png" alt="人気商品から選ぶ" class="sm" />
        </div>
        <div class="block_cont">
            <ul class="ul_product_feature clearfix">
                <li>
                    <div class="item">
                        <div class="thumb">
                            <figure>
                                <img src="{{ app.config.front_urlpath }}/img/top/product_thumb01.jpg" alt="四万十うなぎ" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/top/sm/product_thumb01.jpg" alt="四万十うなぎ" class="sm" />
                            </figure>
                            <div class="label">
                                <img src="{{ app.config.front_urlpath }}/img/product/label01.png" alt="壱" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/product/sm/label01.png" alt="壱" class="sm" />
                            </div>
                        </div>
                        <div class="cont">
                            商品名<br />
                            通常価格：xx,xxx円（税込）
                        </div>
                        <div class="btn">
                            <a href="#" class="btn_detail trans">
                                <img src="{{ app.config.front_urlpath }}/img/common/btn_watch.png" alt="この商品を見る" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/common/sm/btn_watch.png" alt="この商品を見る" class="sm" />
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="thumb">
                            <figure>
                                <img src="{{ app.config.front_urlpath }}/img/top/product_thumb02.jpg" alt="四万十うなぎ" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/top/sm/product_thumb02.jpg" alt="四万十うなぎ" class="sm" />
                            </figure>
                            <div class="label">
                                <img src="{{ app.config.front_urlpath }}/img/product/label02.png" alt="弐" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/product/sm/label02.png" alt="弐" class="sm" />
                            </div>
                        </div>
                        <div class="cont">
                            商品名<br />
                            通常価格：xx,xxx円（税込）
                        </div>
                        <div class="btn">
                            <a href="#" class="btn_detail trans">
                                <img src="{{ app.config.front_urlpath }}/img/common/btn_watch.png" alt="この商品を見る" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/common/sm/btn_watch.png" alt="この商品を見る" class="sm" />
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="thumb">
                            <figure>
                                <img src="{{ app.config.front_urlpath }}/img/top/product_thumb03.jpg" alt="四万十うなぎ" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/top/sm/product_thumb03.jpg" alt="四万十うなぎ" class="sm" />
                            </figure>
                            <div class="label">
                                <img src="{{ app.config.front_urlpath }}/img/product/label03.png" alt="参" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/product/sm/label03.png" alt="参" class="sm" />
                            </div>
                        </div>
                        <div class="cont">
                            商品名<br />
                            通常価格：xx,xxx円（税込）
                        </div>
                        <div class="btn">
                            <a href="#" class="btn_detail trans">
                                <img src="{{ app.config.front_urlpath }}/img/common/btn_watch.png" alt="この商品を見る" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/common/sm/btn_watch.png" alt="この商品を見る" class="sm" />
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- /.block_product_feature -->

    <div class="block_product_feature mod_product_new">
        <div class="block_tag">
            <img src="{{ app.config.front_urlpath }}/img/top/tag_new.png" alt="New" class="md" />
            <img src="{{ app.config.front_urlpath }}/img/top/sm/tag_new.png" alt="New" class="sm" />
        </div>
        <div class="block_ttl">
            <img src="{{ app.config.front_urlpath }}/img/top/new_product_ttl.png" alt="新商品から選ぶ" class="md" />
            <img src="{{ app.config.front_urlpath }}/img/top/sm/new_product_ttl.png" alt="新商品から選ぶ" class="sm" />
        </div>
        <div class="block_cont">
            <ul class="ul_product_feature clearfix">
                <li>
                    <div class="item">
                        <div class="thumb">
                            <figure>
                                <img src="{{ app.config.front_urlpath }}/img/top/product_thumb01.jpg" alt="四万十うなぎ" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/top/sm/product_thumb01.jpg" alt="四万十うなぎ" class="sm" />
                            </figure>
                        </div>
                        <div class="cont">
                            商品名<br />
                            通常価格：xx,xxx円（税込）
                        </div>
                        <div class="btn">
                            <a href="#" class="btn_detail trans">
                                <img src="{{ app.config.front_urlpath }}/img/common/btn_watch.png" alt="この商品を見る" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/common/sm/btn_watch.png" alt="この商品を見る" class="sm" />
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="thumb">
                            <figure>
                                <img src="{{ app.config.front_urlpath }}/img/top/product_thumb02.jpg" alt="四万十うなぎ" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/top/sm/product_thumb02.jpg" alt="四万十うなぎ" class="sm" />
                            </figure>
                        </div>
                        <div class="cont">
                            商品名<br />
                            通常価格：xx,xxx円（税込）
                        </div>
                        <div class="btn">
                            <a href="#" class="btn_detail trans">
                                <img src="{{ app.config.front_urlpath }}/img/common/btn_watch.png" alt="この商品を見る" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/common/sm/btn_watch.png" alt="この商品を見る" class="sm" />
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="thumb">
                            <figure>
                                <img src="{{ app.config.front_urlpath }}/img/top/product_thumb03.jpg" alt="四万十うなぎ" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/top/sm/product_thumb03.jpg" alt="四万十うなぎ" class="sm" />
                            </figure>
                        </div>
                        <div class="cont">
                            商品名<br />
                            通常価格：xx,xxx円（税込）
                        </div>
                        <div class="btn">
                            <a href="#" class="btn_detail trans">
                                <img src="{{ app.config.front_urlpath }}/img/common/btn_watch.png" alt="この商品を見る" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/common/sm/btn_watch.png" alt="この商品を見る" class="sm" />
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- /.block_product_feature -->

    <div class="block_banner_access">
        <div class="row row_full sm">
            <a href="{{ url('homepage') }}user_data/appeal" class="trans">
                <img src="{{ app.config.front_urlpath }}/img/top/sm/banner01.jpg" alt="四万十うなぎ こだわりいろいろ" />
            </a>
        </div>
        <div class="row clearfix">
            <div class="col one_half">
                <a href="#" class="trans">
                    <img src="{{ app.config.front_urlpath }}/img/top/banner09.jpg" alt="直営店 うなぎ料理「うなきち」" class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/top/sm/banner09.jpg" alt="直営店 うなぎ料理「うなきち」" class="sm" />
                </a>
            </div>
            <div class="col one_half">
                <a href="#" class="trans">
                    <img src="{{ app.config.front_urlpath }}/img/top/banner10.jpg" alt="四万十町 観光・ビジネスにとても便利なユースホステル" class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/top/sm/banner10.jpg" alt="四万十町 観光・ビジネスにとても便利なユースホステル" class="sm" />
                </a>
            </div>
        </div>
    </div><!-- /.block_banner_access -->

</div><!-- /.main_post -->
{% endblock %}
