{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% if pages.pageCount > 1 %}
<div class="mod_products_pager bottom">
    <ul class="ul_gb_pager">
        {% if pages.previous is defined %}
            <li class="pager_prev">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'pageno': pages.previous})) }}">前の<span class="pager-disp-num"></span>件</a>
            </li>
        {% endif %}

        {% for page in pages.pagesInRange %}
            {% if page == pages.current %}
                <li class="pager_item">
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'pageno': page})) }}" class="active">{{ page }}</a>
                </li>
            {% else %}
                <li class="pager_item">
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'pageno': page})) }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if pages.next is defined %}
        <li class="pager_next">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'pageno': pages.next})) }}">次の<span class="pager-disp-num"></span>件</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
