{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}

{% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
{% for error in app.session.flashbag.get('eccube.front.request.error')  %}
    {% set idx = loop.index0 %}
    {% if productStr[idx] is defined %}
    <div id="cart_box__message--{{ loop.index }}" class="message">
        <p class="errormsg bg-danger">
            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>
            {{ error|trans({'%product%':productStr[idx]})|nl2br }}
        </p>
    </div>
    {% else %}
    <div id="cart_box__message--{{ loop.index }}" class="message">
        <p class="errormsg bg-danger">
            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
        </p>
    </div>
    {% endif %}
{% endfor %}
{% for error in app.session.flashbag.get('eccube.front.cart.error')  %}
    <div id="cart_box__message_error--{{ loop.index }}" class="message">
        <p class="errormsg bg-danger">
            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
        </p>
    </div>
{% endfor %}

{% if Cart.CartItems|length > 0 %}
{% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><span>買い物カゴの中身</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <form name="form" id="form_cart" method="post" action="{{ url('cart') }}">
        <div class="mod_cart block_about gb_block">
            <p>お買い上げ商品の合計金額は「<span class="red">{{ Cart.total_price|price }}円</span>」です。 {% if is_delivery_free %}現在、「<span class="red">送料無料</span>」です！！{% endif %}</p>
            <h2 class="mt20">
                <img src="{{ app.config.front_urlpath }}/img/cart/h2_cart.png" alt=" " class="md">
                <img src="{{ app.config.front_urlpath }}/img/cart/sm/h2_cart.png" alt=" " class="sm">
            </h2>
            <table class="table_content mt40">
                <tr>
                    <th class="delete"><img src="{{ app.config.front_urlpath }}/img/cart/delete.gif" alt="削除" /></th>
                    <th class="image"><img src="{{ app.config.front_urlpath }}/img/cart/image.gif" alt="商品画像" /></th>
                    <th class="name"><img src="{{ app.config.front_urlpath }}/img/cart/name.gif" alt="商品名" /></th>
                    <th class="price"><img src="{{ app.config.front_urlpath }}/img/cart/price.gif" alt="価格" /></th>
                    <th class="quantity"><img src="{{ app.config.front_urlpath }}/img/cart/quantity.gif" alt="数量" /></th>
                    <th class="small-total"><img src="{{ app.config.front_urlpath }}/img/cart/small-total.gif" alt="小計" /></th>
                </tr>
                {% for CartItem in Cart.CartItems %}
                    {% set ProductClass = CartItem.Object %}
                    {% set Product = ProductClass.Product %}
                    <tr>
                        <td>
                            <a href="{{ url('cart_remove', {'productClassId': ProductClass.id }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-message="カートから商品を削除してもよろしいですか?">削除</a>
                        </td>
                        <td><img class="cart-image" src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}" alt="{{ Product.name }}" /></td>
                        <td class="bold">{{ Product.name }}</td>
                        <td>{{ CartItem.price|number_format }}円</td>
                        <td>
                            <table class="qt-table">
                                <tr><td>{{ CartItem.quantity|number_format }}</td></tr>
                                <tr><td>
                                    <a id="cart_item_list__up" href="{{ url('cart_up', {'productClassId': ProductClass.id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">
                                        <div class="plus"><img src="{{ app.config.front_urlpath }}/img/cart/plus.gif" alt="+" /></div>
                                    </a>

                                    {% if CartItem.quantity > 1 %}
                                        <a id="cart_item_list__down" href="{{ url('cart_down', {'productClassId': ProductClass.id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">
                                            <div class="minus"><img src="{{ app.config.front_urlpath }}/img/cart/minus.gif" alt="-" /></div>
                                        </a>
                                    {% else %}
                                        <div class="minus"><img src="{{ app.config.front_urlpath }}/img/cart/minus.gif" alt="-" /></div>
                                    {% endif %}
                                </td></tr>
                            </table>
                        </td>
                        <td>{{ CartItem.total_price|number_format }}円</td>
                    </tr>
                {% endfor %}
                
                <tr>
                    <td class="total-row bold" colspan="4">合計（10,800円以上の商品送料無料）</td>
                    <td class="total" colspan="2">{{ Cart.total_price|number_format }}円</td>
                </tr>   
            </table>
            <p class="mt30">上記内容でよろしければ「購入手続きへ」ボタンをクリックしてください。</p>
            <div class="row row_half clearfix mt20">
                <div class="col">
                    <a href="javascript: history.back()" class="gb_btn btn_M"><span>前のページへ戻る</span></a>
                </div>
                <div class="col">
                    <a href="{{ path('cart_buystep') }}" class="gb_btn btn_M hover"><span>購入手続きへ</span></a>
                </div>
            </div>
            <div class="seal">
                <div class="left">
                    <p>これより先のページはSSLによって、<br>お客様の個人情報を保護しています。<br>安心してご購入下さい。</p>
                </div>
                <div class="right">
                    <img src="{{ app.config.front_urlpath }}/img/cart/siteseal.gif" alt="Verified" />
                </div>
            </div>
            <p class="mt30">※商品の性質上、お客様ご都合によるお取り替え、返品はご容赦願います。詳細については<a class="gb_link" href="#">こちら</a>をご覧ください。</p>
        </div><!-- /.block_about -->
    </form>

</div><!-- /.main_post -->
{% else %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><span>買い物カゴの中身</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="block_about gb_block text-center">
        <span class="red bold">※ 現在カート内に商品はございません。</span>
    </div><!-- /.block_about -->

</div><!-- /.main_post -->
{% endif %}

{% endblock %}
