{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><span>新規会員登録（完了）</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_shopping block_about gb_block">
        
        <h2 class="mt10">
            <img src="{{ app.config.front_urlpath }}/img/entry/h2_entry.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/entry/sm/h2_entry.png" alt=" " class="sm">
        </h2>
                
        <h2 class="mt20 bold red">本登録が完了いたしました。</h2>
        <p>
            それではショッピングをお楽しみください。<br/>
            今後ともご愛顧賜りますようよろしくお願い申し上げます。
        </p>
        
        <div class="row row_full mt30 pd10">
            <a href="{{ url('mypage') }}" class="gb_btn btn_L"><span>マイページへ</span></a>
        </div>
        
    </div>
</div>
{% endblock %}
