{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block main %}

<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('entry') }}">新規委員登録</a></li><li><span>会員登録</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_entry block_about gb_block register">
        <h2>
            <img src="{{ app.config.front_urlpath }}/img/entry/h2_entry.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/entry/sm/h2_entry.png" alt=" " class="sm">
        </h2>
        <p class="mt20 pd10 red bold">
            会員登録が完了いたしました。<br>
            それではショッピングをお楽しみください。
        </p>
        <p class="mt20 pd10">
            今後ともご愛顧賜りますようよろしくお願い申し上げます。
            <br>
            <br>
            四万十うなぎ株式会社<br>
            TEL：088-803-7108 （受付時間/午前10時～午後5時）<br>
            E-mail：<a href="mailto:info@shimanto-unagi.com" class="gb_link">info@shimanto-unagi.com</a>
        </p>
        <div class="row row_full mt30 pd10">
            <a href="{{ url('homepage') }}" class="gb_btn btn_L"><span>トップへ</span></a>
        </div>
    </div>
    
</div><!-- /.main_post -->

{% endblock %}
