{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = '' %}

{% block main %}

<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('entry') }}">新規委員登録</a></li><li><span>会員登録</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_entry block_about gb_block register">
        <h2>
            <img src="{{ app.config.front_urlpath }}/img/entry/h2_entry.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/entry/sm/h2_entry.png" alt=" " class="sm">
        </h2>
        <p class="mt20 pd10">
            下記の内容で送信してもよろしいでしょうか？<br/>
            よろしければ、一番下の「会員登録完了へ」ボタンをクリックしてください。
        </p>
        <form action="{{ url('entry') }}" method="post" id="contact_form">
            {{ form_widget(form._token) }}
            <div>
                <div class="tb_contact_form tb fms">
                    <div class="tr">
                        <div class="th">{{ form_label(form.name) }}</div>
                        <div class="td">
                            <div class="group_textinput">
                                {{ form_widget(form.name.name01, { attr : { placeholder: '姓' }}) }}
                                {{ form_widget(form.name.name02, { attr : { placeholder: '名' }}) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.kana) }}</div>
                        <div class="td">
                            <div class="group_textinput">
                                {{ form_widget(form.kana.kana01, { attr : { placeholder: 'セイ' }}) }}
                                {{ form_widget(form.kana.kana02, { attr : { placeholder: 'メイ' }}) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.zip) }}</div>
                        <div class="td">
                            <div class="group_textinput">
                                <div id="top_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="tr vtop">
                        <div class="th">{{ form_label(form.address) }}</div>
                        <div class="td">
                            <div class="group_textinput_plus">
                                <div id="top_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                    {{ form_widget(form.address) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.tel) }}</div>
                        <div class="td">
                            <div class="group_textinput_third">
                                {{ form_widget(form.tel, {attr : {class : 'short'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.fax) }}</div>
                        <div class="td">
                            <div class="group_textinput_third">
                                {{ form_widget(form.fax, {attr : {class : 'short'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.email) }}</div>
                        <div class="td">
                            <div class="group_textinput_plus">
                                {{ form_widget(form.email.first) }}
                                {{ form_widget(form.email.second, {freeze_display_text: false}) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.sex) }}</div>
                        <div class="td">
                            {{ form_widget(form.sex) }}
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.job) }}</div>
                        <div class="td">
                            {{ form_widget(form.job) }}
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">生年月日</div>
                        <div class="td">
                            {{ form_widget(form.birth) }}
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">
                            {{ form_label(form.password) }}<br>
                            パスワードは購入時に必要です
                        </div>
                        <div class="td">
                            <div class="group_textinput_plus">
                                <div class="form-group">
                                    ********
                                    {{ form_widget(form.password.first, {freeze_display_text: false}) }}
                                    {{ form_widget(form.password.second, {freeze_display_text: false}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <ul class="form_btn">
                <li>
                    <button type="submit" class="btn_back trans" name="mode" value="back">
                        <img src="{{ app.config.front_urlpath }}/img/contact/btn_back.png" alt="戻る" />
                    </button>
                </li><li>
                    <button type="submit" class="btn_send trans" name="mode" value="complete">
                        <img src="{{ app.config.front_urlpath }}/img/contact/btn_send.png" alt="送信をする" />
                    </button>
                </li>
            </ul>
        </form>
    </div>
    
</div><!-- /.main_post -->

{% endblock %}
