{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = '' %}

{% block javascript %}

<script src="//ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
    $(function() {
        $('#zip-search').click(function() {
            AjaxZip3.zip2addr('entry[zip][zip01]', 'entry[zip][zip02]', 'entry[address][pref]', 'entry[address][addr01]');
        });
    });
</script>

{% endblock javascript %}

{% block main %}


<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('entry') }}">新規委員登録</a></li><li><span>会員登録</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_entry block_about gb_block register">
        <h2>
            <img src="{{ app.config.front_urlpath }}/img/entry/h2_entry.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/entry/sm/h2_entry.png" alt=" " class="sm">
        </h2>
        <p class="mt20 pd10">登録がお済みになりましたら、引き続きお買い物をお楽しみください。</p>
        <form action="{{ url('entry') }}" method="post" id="contact_form">
            {{ form_widget(form._token) }}
            <div>
                <div class="tb_contact_form tb fms">
                    <div class="tr">
                        <div class="th">{{ form_label(form.name) }}</div>
                        <div class="td">
                            <div class="group_textinput">
                                <label class="item"><span>姓</span>{{ form_widget(form.name.name01, {attr : {class : 'text_input'}}) }}</label>
                                <label class="item"><span>名</span>{{ form_widget(form.name.name02, {attr : {class : 'text_input'}}) }}</label>
                                {{ form_errors(form.name.name01) }}
                                {{ form_errors(form.name.name02) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.kana) }}</div>
                        <div class="td">
                            <div class="group_textinput">
                                <label class="item"><span>姓</span>{{ form_widget(form.kana.kana01, {attr : {class : 'text_input'}}) }}</label>
                                <label class="item"><span>名</span>{{ form_widget(form.kana.kana02, {attr : {class : 'text_input'}}) }}</label>
                                {{ form_errors(form.kana.kana01, {attr : {class : 'text_input'}}) }}
                                {{ form_errors(form.kana.kana02, {attr : {class : 'text_input'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.zip) }}</div>
                        <div class="td">
                            <div class="group_textinput">
                                <div id="top_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="tr vtop">
                        <div class="th">{{ form_label(form.address) }}</div>
                        <div class="td">
                            <div class="group_textinput_plus">
                                <div id="top_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                    {{ form_widget(form.address) }}
                                    {{ form_errors(form.address) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.tel) }}</div>
                        <div class="td">
                            <div class="group_textinput_third">
                                {{ form_widget(form.tel) }}
                                {{ form_errors(form.tel) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.fax) }}</div>
                        <div class="td">
                            <div class="group_textinput_third">
                                {{ form_widget(form.fax) }}
                                {{ form_errors(form.fax) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.email) }}</div>
                        <div class="td">
                            <div class="group_textinput_plus">
                                <div class="form-group {% if form.email.first.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.email.first, {attr: {'class': 'text_input'}})  }}</div><br>
                                <div class="form-group {% if form.email.second.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.email.second, {attr: {'class': 'text_input', placeholder: '確認のためもう一度入力してください'}}) }}
                                    {{ form_errors(form.email.first) }}
                                    {{ form_errors(form.email.second) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.sex) }}</div>
                        <div class="td">
                            {{ form_widget(form.sex) }}
                            {{ form_errors(form.sex) }}
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.job) }}</div>
                        <div class="td">
                            {{ form_widget(form.job, {attr : {class : 'select_box'}}) }}
                            {{ form_errors(form.job) }}
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">生年月日</div>
                        <div class="td">
                            {{ form_widget(form.birth) }}
                            {{ form_errors(form.birth) }}
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">
                            {{ form_label(form.password) }}<br>
                            パスワードは購入時に必要です
                        </div>
                        <div class="td">
                            <div class="group_textinput_plus">
                                <div class="form-group {% if form.password.first.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.password.first, {type: 'password', attr: {'class': 'text_input'}})  }}</div><br>
                                <div class="form-group {% if form.password.second.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.password.second, {type: 'password', attr: {'class': 'text_input', placeholder: '確認のためもう一度入力してください'}}) }}
                                    {{ form_errors(form.password.first) }}
                                    {{ form_errors(form.password.second) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="tr">
                        <div class="th">パスワードを忘れた時のヒント<span class="required">【必須】</span></div>
                        <div class="td">
                            質問
                            <select class="select_box auto">
                                <option>選択してください</option>
                                <option>母親の旧姓は？</option>
                                <option>お気に入りのマンガは？</option>
                                <option>大好きなペットの名前は？</option>
                                <option>初恋の人の名前は？</option>
                                <option>面白かった映画は？</option>
                                <option>尊敬していた先生の名前は？</option>
                                <option>好きな食べ物は？</option>
                            </select>
                            <div class="group_textinput_plus mt10">
                                答え
                                <input type="text" class="text_input" />
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">メールマガジン送付について<span class="required">【必須】</span></div>
                        <div class="td">
                            <ul class="ul_radio">
                                <li>
                                    <label><input type="radio" name="mailmag" checked><span>HTMLメール＋テキストメールを受け取る</span></label>
                                </li>
                                <li>
                                    <label><input type="radio" name="mailmag"><span>テキストメールを受け取る</span></label>
                                </li>
                                <li>
                                    <label><input type="radio" name="mailmag"><span>受け取らない</span></label>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                </div>
            </div>
            
            {% for f in form %}
                {% if f.vars.name matches '[^plg*]' %}
                    <div class="extra-form dl_table">
                        {{ form_row(f) }}
                    </div>
                {% endif %}
            {% endfor %}
            
            <input id="top_box__hidden_mode" type="hidden" name="mode" value="confirm">
            
            <ul class="form_btn">
                <li>
                    <button type="reset" class="btn_reset trans">
                        <img src="{{ app.config.front_urlpath }}/img/contact/btn_reset.png" alt="リセット" />
                    </button>
                </li><li>
                    <button type="submit" class="btn_confirm trans">
                        <img src="{{ app.config.front_urlpath }}/img/contact/btn_confirm.png" alt="送信内容の確認" />
                    </button>
                </li>
            </ul>
        </form>
        <!--<div class="sm mt20">
                <div class="tb_contact_form_sm fms">
                    <dl>
                        <dt>{{ form_label(form.name) }}</dt>
                        <dd>
                            <div class="group_textinput">
                                <label class="item"><span>姓</span>{{ form_widget(form.name.name01, {attr : {class : 'text_input'}}) }}</label>
                                <label class="item"><span>名</span>{{ form_widget(form.name.name02, {attr : {class : 'text_input'}}) }}</label>
                                {{ form_errors(form.name.name01) }}
                                {{ form_errors(form.name.name02) }}
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>郵便番号<span class="required">【必須】</span></dt>
                        <dd>
                            <div class="group_textinput">
                                <label class="item"><span>〒</span><input type="text" class="text_input" /></label>
                                <label class="item no-margin"><span>-</span><input type="text" class="text_input" /></label>
                                <a class="gb_link" href="#">郵便番号検索</a><br><br>
                                <a href="#"><img src="{{ app.config.ftont_urlpath }}/img/entry/address.gif" alt="住所自動入力"/></a>
                                郵便番号を入力後、クリックしてください。
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>住所<span class="required">【必須】</span></dt>
                        <dd>
                            <div class="group_address">
                                <ul class="address_field tb">
                                    <li class="tr">
                                        <div class="th">&nbsp;</div>
                                        <div class="td">
                                            <select class="select_box">
                                                <option>都道府県を選択</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="tr">
                                        <div class="th">&nbsp;</div>
                                        <div class="td">
                                            <input type="text" class="text_input size_large" placeholder="市区町村名（例：千代田区神田神保町）" />
                                        </div>
                                    </li>
                                </ul>
                                <div class="address_note">住所は2つに分けてご記入いただけます。マンション名は必ず記入してください。</div>
                                <ul class="address_field tb">
                                    <li class="tr">
                                        <div class="th">&nbsp;</div>
                                        <div class="td">
                                            <input type="text" class="text_input size_large" placeholder="番地・ビル名（例：1-3-5）" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>電話番号<span class="required">【必須】</span></dt>
                        <dd>
                            <div class="group_textinput_third">
                                <input type="text" class="text_input" /><span>ー</span><input type="text" class="text_input" /><span>ー</span><input type="text" class="text_input" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>FAX番号</dt>
                        <dd>
                            <div class="group_textinput_third">
                                <input type="text" class="text_input" /><span>ー</span><input type="text" class="text_input" /><span>ー</span><input type="text" class="text_input" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>メールアドレス<span class="required">【必須】</span></dt>
                        <dd>
                            <div class="group_textinput_plus">
                                <input type="text" class="text_input" />
                                <div class="text_note">確認のため2度入力してください。</div>
                                <input type="text" class="text_input" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>性別<span class="required">【必須】</span></dt>
                        <dd>
                            <label><input type="radio" name="sex" checked><span>男性</span></label>
                            <label><input type="radio" name="sex"><span>女性</span></label>
                        </dd>
                    </dl>
                    <dl>
                        <dt>職業</dt>
                        <dd>
                            <select class="select_box auto">
                                <option>選択してください</option>
                                <option>公務員</option>
                                <option>コンサルタント</option>
                                <option>コンピューター関連技術職</option>
                                <option>コンピューター関連以外の技術職</option>
                                <option>金融関係</option>
                                <option>医師</option>
                                <option>弁護牛</option>
                                <option>総務・人事・事務</option>
                                <option>営業・販売</option>
                                <option>研究・開発</option>
                                <option>広報・宣伝</option>
                                <option>企画・マーケティング</option>
                                <option>デザイン関係</option>
                                <option>会社経営・役員</option>
                                <option>出版・マスコミ関係</option>
                                <option>学生・フリーター</option>
                                <option>主婦</option>
                                <option>その他</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>生年月日</dt>
                        <dd>
                            <select class="select_box small">
                                <option>- -</option>
                                <?php for($i=1900; $i<=date('Y'); $i++){echo "<option>".$i."</option>";}?>
                            </select>年
                            <select class="select_box small">
                                <option>- -</option>
                                <?php for($i=1; $i<=12; $i++){echo "<option>".$i."</option>";}?>
                            </select>月
                            <select class="select_box small">
                                <option>- -</option>
                                <?php 
                                    for($i=1; $i<=31; $i++){echo "<option>".$i."</option>";}
                                ?>
                            </select>日
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            希望するパスワード<span class="required">【必須】</span><br>
                            パスワードは購入時に必要です
                        </dt>
                        <dd>
                            <div class="group_textinput_plus">
                                <input type="password" class="text_input" />
                                <div class="text_note">半角英数字4〜10文字でお願いします。（記号不可）</div>
                                <input type="password" class="text_input" />
                                <div class="text_note">確認のために2度入力してください。</div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>パスワードを忘れた時のヒント<span class="required">【必須】</span></dt>
                        <dd>
                            質問
                            <select class="select_box auto">
                                <option>選択してください</option>
                                <option>母親の旧姓は？</option>
                                <option>お気に入りのマンガは？</option>
                                <option>大好きなペットの名前は？</option>
                                <option>初恋の人の名前は？</option>
                                <option>面白かった映画は？</option>
                                <option>尊敬していた先生の名前は？</option>
                                <option>好きな食べ物は？</option>
                            </select>
                            <div class="group_textinput_plus mt10">
                                答え
                                <input type="text" class="text_input" />
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>メールマガジン送付について<span class="required">【必須】</span></dt>
                        <dd>
                            <ul class="ul_radio">
                                <li>
                                    <label><input type="radio" name="mailmag_sm" checked><span>HTMLメール＋テキストメールを受け取る</span></label>
                                </li>
                                <li>
                                    <label><input type="radio" name="mailmag_sm"><span>テキストメールを受け取る</span></label>
                                </li>
                                <li>
                                    <label><input type="radio" name="mailmag_sm"><span>受け取らない</span></label>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="mod_contact_btn">
                <ul class="ul_contact_btn sm">
                    <li>
                        <button type="reset" class="btn_back trans">
                            <img src="{{ app.config.front_urlpath }}/img/contact/sm/btn_reset.png" alt="リセット" />
                        </button>
                    </li><li>
                        <button type="submit" class="btn_send trans">
                            <img src="{{ app.config.front_urlpath }}/img/contact/sm/btn_confirm.png" alt="送信内容の確認" />
                        </button>
                    </li>
                </ul>
            </div>
            
        </form>-->
    </div>
    
</div><!-- /.main_post -->

{% endblock %}
