{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

 http://www.lockon.co.jp/

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 #}
{% extends 'default_frame.twig' %}

{% set mypageno = 'change' %}

{% set body_class = 'mypage' %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('mypage') }}">マイページ</a></li><li><span>会員登録内容変更　完了</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_entry block_about gb_block register">
        {% include 'Mypage/navi.twig' %}
        <h2>
            <img src="{{ app.config.front_urlpath }}/img/mypage/h2_change.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/mypage/sm/h2_change.png" alt=" " class="sm">
        </h2>
        
        <h2 class="mt20 bold red">会員登録内容の変更が完了いたしました</h2>
        <p>
            ご登録メールアドレスにパスワードを再発行するためのメールを送信いたしました。<br/>
            今後ともご愛顧賜りますようよろしくお願い申し上げます。
        </p>
        
        <div class="row row_full mt30 pd10">
            <a href="{{ url('index') }}" class="gb_btn btn_L"><span>トップページへ</span></a>
        </div>
        
    </div>
</div>
{% endblock %}