{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'delivery' %}

{% set body_class = 'mypage' %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('mypage') }}">マイページ</a></li><li><span>お届け先追加・変更</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_entry block_about gb_block register">
        {% include 'Mypage/navi.twig' %}
        <h2>
            <img src="{{ app.config.front_urlpath }}/img/mypage/h2_delivery.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/mypage/sm/h2_delivery.png" alt=" " class="sm">
        </h2>
        <p class="mt30">
            登録住所以外へのご住所へ送付される場合等にご利用いただくことができます。<br>※最大20件まで登録できます。
        </p>

        {% if Customer.CustomerAddresses|length < app.config.deliv_addr_max %}
            <div class="row row_third clearfix md mt20">
                <div class="col">
                    <a href="{{ url('mypage_delivery_new') }}" class="gb_btn btn_S">
                        <span>新しいお届け先を追加する</span>
                    </a>
                </div>
            </div>
            <div class="row row_full clearfix mt20 sm pd10">
                <a href="#" class="gb_btn btn_S">
                    <span>
                        <small>新しいお届け先を追加する</small>
                    </span>
                </a>
            </div>
        {% else %}
            <p class="red mt10">
                お届け先登録の上限の{{ app.config.deliv_addr_max }}件に達しています<br>
                お届け先を入力したい場合は、削除か変更を行ってください
            </p>
        {% endif %}

        {% set addressNB = 1 %}
        {% if Customer.CustomerAddresses|length > 0 %}
            <table class="table_content mt10">
                <tr>
                    <th class="bold text-left" colspan="5">▼お届け先</th>
                </tr>
                {% for CustomerAddress in Customer.CustomerAddresses %}
                    <tr>
                        <td>{{ addressNB }}</td>
                        <td>お届け先住所</td>
                        <td class="text-left">
                            〒{{ CustomerAddress.zip01 }}-{{ CustomerAddress.zip02 }}<br>
                            {{ CustomerAddress.Pref }}{{ CustomerAddress.addr01 }}{{ CustomerAddress.addr02 }}<br>
                            {{ CustomerAddress.name01 }}&nbsp;{{ CustomerAddress.name02 }}
                        </td>
                        <td>
                            <a href="{{ url('mypage_delivery_edit', { id : CustomerAddress.id }) }}" class="gb_link">変更</a>
                        </td>
                        <td>
                            {% if Customer.CustomerAddresses|length != 1 %}
                                <a href="{{ url('mypage_delivery_delete', { id : CustomerAddress.id }) }}" {{ csrf_token_for_anchor() }} data-method="delete" class="gb_link">削除</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% set addressNB = addressNB+1 %}
                {% endfor %}
            </table>
        {% endif %}
    </div>

</div>
{% endblock %}
