{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'favorite' %}

{% set body_class = 'mypage' %}

{% block main %}
<div class="main_post">
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li>
            <li><a href="{{ url('mypage') }}">マイページ</a></li>
            <li><span>お気に入り商品一覧</span></li>
        </ul>
    </div><!-- /.block_pathway -->
    <div class="mod_mypage block_about gb_block fav">
        {% include 'Mypage/navi.twig' %}
        <h2>
            <img src="{{ app.config.front_urlpath }}/img/mypage/h2_favorite.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/mypage/sm/h2_favorite.png" alt=" " class="sm">
        </h2>
        {% if pagination.totalItemCount > 0 %}
            <p class="mt20">
                {{ pagination.totalItemCount }}件のお気に入りがあります。
            </p>
            <table class="table_content favorite mt10">
                <tr>
                    <th>削除</th>
                    <th>商品画像</th>
                    <th class="name text-left">商品名</th>
                    <th class="text-right">販売価格(税込)</th>
                </tr>
                {% for Product in pagination %}
                    <tr>
                        <td>
                            <a class="gb_link" href="{{ url('mypage_favorite_delete', { id : Product.id }) }}" {{ csrf_token_for_anchor() }} data-method="delete">削除</a>
                        </td>
                        <td>
                            <a class="gb_link" href="{{ url('product_detail', {'id': Product.id}) }}">
                                <div id="favorite_list__image--{{ Product.id }}">
                                    <img class="product_fav"src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt="{{ Product.name }}"/>
                                </div>
                            </a>
                        </td>
                        <td class="text-left"><a class="gb_link" href="{{ url('product_detail', {'id': Product.id}) }}">{{ Product.name }}</a></td>
                        <td class="text-right red">
                            {% if Product.price02_inc_tax_min == Product.price02_inc_tax_max %}
                                {{ Product.price02_inc_tax_min|price }}円
                            {% else %}
                                {{ Product.price02_inc_tax_min|price }}円～{{ Product.price02_inc_tax_max|price }}円
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <p class="mt20">
                    お気に入りが登録されていません。
                </p>
            {% endif %}
    </div><!-- /.block_about -->
</div><!-- /.main_post -->
{% endblock %}
