{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('mypage') }}">マイページ</a></li><li><span>ご注文履歴詳細</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_mypage block_about gb_block">
        {% include 'Mypage/navi.twig' %}
        <h2>
            <img src="{{ app.config.front_urlpath }}/img/mypage/h2_mypage.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/mypage/sm/h2_mypage.png" alt=" " class="sm">
        </h2>
        
        <div class="tb_contact_form tb fms mt20">
            <div class="tr">
                <div class="th">ご注文日時</div>
                <div class="td">{{ Order.create_date|date("Y/m/d H:i:s") }}</div>
            </div>
            <div class="tr">
                <div class="th">ご注文番号</div>
                <div class="td">{{ Order.id }}</div>
            </div>
            {% if BaseInfo.option_mypage_order_status_display %}
            <div class="tr">
                <div class="th">ご注文状況</div>
                <div class="td">{{ Order.CustomerOrderStatus }}</div>
            </div>
            {% endif %}
        </div>
        
        <table class="table_content mt10">
            <tr>
                <th>商品コード</th>
                <th>商品名</th>
                <th>単価</th>
                <th>個数</th>
                <th>小計</th>
            </tr>
            {% set remessage = '' %}
            {% set itemTotal = 0 %}
            {% for OrderDetail in Order.OrderDetails %}
                <tr>
                    <td>{{ OrderDetail.product_code }}</td>
                    <td>
                        {% if OrderDetail.Product is null %}
                            {{ OrderDetail.product_name }}
                        {% else %}
                            {% if OrderDetail.enable %}
                                <a href="{{ url('product_detail', {'id': OrderDetail.Product.id}) }}">
                                    {{ OrderDetail.product_name }}
                                </a>
                            {% else %}
                                {{ OrderDetail.product_name }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ OrderDetail.price_inc_tax|price }}</td>
                    <td>{{ OrderDetail.quantity|number_format }}</td>
                    <td>{{ OrderDetail.total_price|price }}</td>
                </tr>
                {% set itemTotal = itemTotal + OrderDetail.total_price %}
            {% endfor %}
            <tr>
                <th colspan="4" class="text-right">小計</th>
                <td>
                    {{ itemTotal|price }}
                </td>
            </tr>
            {% set OrderDetail = Order.OrderDetails.0 %}
            {% for Shipping in Order.Shippings %}
                <tr>
                    <th colspan="4" class="text-right">送料</th>
                    <td>{{ Shipping.delivery_fee.fee|price }}</td>
                </tr>
                <tr>
                    <th colspan="4" class="text-right">手数料</th>
                    <td>{{ Order.charge|price }}</td>
                </tr>
                <tr>
                    <th colspan="4" class="text-right">合計</th>
                    {% set total = itemTotal + Shipping.delivery_fee.fee + Order.charge %}
                    <td class="bb-big red">{{ total|price }}</td>
                </tr>
            {% endfor %}
        </table>
        
        <h3 class="mt30 h3_title">
            <img src="{{ app.config.front_urlpath }}/img/shopping/h3_confirm_02.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/shopping/h3_confirm_02.png" alt=" " class="sm">
        </h3>
        <div class="tb_contact_form tb fms mt10">
            {% set OrderDetail = Order.OrderDetails.0 %}
            {% for Shipping in Order.Shippings %}
            <div class="tr">
                <div class="th">お名前</div>
                <div class="td">{{ Shipping.name01 }}&nbsp;{{ Shipping.name02 }}&nbsp;</div>
            </div>
            <div class="tr">
                <div class="th">お名前（フリガナ）</div>
                <div class="td">({{ Shipping.kana01 }}&nbsp;{{ Shipping.kana02 }})&nbsp;</div>
            </div>
            <div class="tr">
                <div class="th">郵便番号</div>
                <div class="td">〒{{ Shipping.zip01 }}-{{ Shipping.zip02 }}</div>
            </div>
            <div class="tr">
                <div class="th">住所</div>
                <div class="td">{{ Shipping.Pref }}{{ Shipping.addr01 }}{{ Shipping.addr02 }}</div>
            </div>
            <div class="tr">
                <div class="th">電話番号</div>
                <div class="td">{{ Shipping.tel01 }}-{{ Shipping.tel02 }}-{{ Shipping.tel03 }}</div>
            </div>
            {% endfor %}
        </div>
        
        <div class="row row_full mt30 pd10">
            <a href="{{ url('mypage') }}" class="gb_btn btn_L"><span>戻る</span></a>
        </div>
        
    </div><!-- /.block_about -->
</div><!-- /.main_post -->
{% endblock %}
