{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}

<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('mypage') }}">マイページ</a></li><li><span>購入履歴一覧</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_mypage block_about gb_block">
        {% include 'Mypage/navi.twig' %}
        <h2>
            <img src="{{ app.config.front_urlpath }}/img/mypage/h2_mypage.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/mypage/sm/h2_mypage.png" alt=" " class="sm">
        </h2>
        
         {% if pagination.totalItemCount > 0 %}
            <p class="mt30">{{ pagination.totalItemCount }}件の購入履歴があります。</p>

            <table class="table_content mt10">
                <tr>
                    <th>購入日時</th>
                    <th>注文番号</th>
                    <th>お支払い方法</th>
                    <th>合計金額</th>
                    <th>詳細</th>
                </tr>
                {% for Order in pagination %}
                    <tr id="history_list__item--{{ Order.id }}" class="historylist_column row">
                        <td>{{ Order.order_date|date("Y/m/d H:i:s") }}</td>
                        <td>{{ Order.id }}</td>
                        <td>{{ Order.paymentMethod }}</td>
                        <td>{{ Order.total|price }}</td>
                        <td><a class="btn btn-default btn-sm gb_link" href="{{ url('mypage_history', {'id': Order.id}) }}">詳細</a></td>
                    </tr><!--/historylist_column-->
                {% endfor %}
            </table>

            {% include "pagination.twig" with {'pages': pagination.paginationData} %}

        {% else %}
            <p class="mt30"> 購入履歴はありません。</p>
        {% endif %}
    </div><!-- /.block_about -->
</div><!-- /.main_post -->

{% endblock %}
