{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><span>ログイン</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_shopping block_about gb_block">
        <h2 class="mt10">
            <img src="{{ app.config.front_urlpath }}/img/shopping/h2_login.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/shopping/sm/h2_login.png" alt=" " class="sm">
        </h2>
        <ul class="gb_list mt20 no-decoration">
            <li>
                <span class="item">すでに登録されているお客様</span>
            </li>
        </ul>
        <p class="mt10">会員の方は、登録時に入力されたメールアドレスとパスワードでログインしてください。</p>
        <form name="login_mypage" id="login_mypage" method="post" action="{{ url('login_check') }}" onsubmit="return eccube.checkLoginFormInputted('login_mypage')" {{ form_enctype(form) }}>
            {% if app.session.flashBag.has('eccube.login.target.path') %}
                {% for targetPath in app.session.flashBag.get('eccube.login.target.path') %}
                    <input type="hidden" name="_target_path" value="{{ targetPath }}" />
                {% endfor %}
            {% endif %}
            <div class="mt30">   
                <div class="tb_contact_form tb fms">
                    <div class="tr">
                        <div class="th">メールアドレス</div>
                        <div class="td">
                            <div class="group_textinput_plus">
                                {{ form_widget(form.login_email, {'attr': {'class': 'text_input', 'style' : 'ime-mode: disabled;', 'placeholder' : 'メールアドレス' }}) }}
                                <!--<input type="text" class="text_input">
                                <label><input type="checkbox" name="remember_me">会員メールアドレスをコンピューターに記憶させる</label>-->
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">パスワード</div>
                        <div class="td">
                            <div class="group_textinput_plus">
                                {{ form_widget(form.login_pass,  {'attr': {'class': 'text_input', 'placeholder' : 'パスワード' }}) }}
                                {% if BaseInfo.option_remember_me %}
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <input id="mypage_login_box__login_memory" type="hidden" name="login_memory" value="1">
                                    {% else %}
                                        {{ form_widget(form.login_memory) }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="extra-form form-group">
                        {% for f in form.getIterator %}
                            {% if f.vars.name matches '[^plg*]' %}
                                {{ form_label(f) }}
                                {{ form_widget(f) }}
                                {{ form_errors(f) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--<div class="sm mt30">
                <div class="tb_contact_form_sm fms">
                    <dl>
                        <dt>メールアドレス</dt>
                        <dd>
                            <div class="group_textinput_plus">
                                <input type="text" class="text_input"><br>
                                <label><input type="checkbox" name="remember_me">会員メールアドレスをコンピューターに記憶させる</label>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>パスワード</dt>
                        <dd>
                            <div class="group_textinput_plus">
                                <input type="password" class="text_input">
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>-->
            <p class="mt10">
                パスワードを忘れた方は<a href="{{ url('forgot') }}" class="gb_link">こちら</a>からパスワードの再発行を行ってください。<br>
                メールアドレスを忘れた方は、お手数ですが、<a href="{{ url('contact') }}" class="gb_link">お問い合わせページ</a>からお問い合せください。
            </p>
            
            {% if error %}
            <p class="mt20 red">
                {{ error|trans|raw }}
            </p>
            {% endif %}

            <div class="row row_third clearfix text-center mt20 md">
                <div class="col">
                    <button type="submit" class="gb_btn btn_S hover">
                        <span>ログインする</span>
                    </button>
                </div>
            </div>

           <div class="row row_third clearfix mt20 sm">
                <div class="col">
                    <button type="submit" class="gb_btn btn_S">
                        <span>
                            <small>ログインする</small>
                        </span>
                    </button>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        </form>

        <div class="gb_line"></div>

        <ul class="gb_list mt20 no-decoration">
            <li>
                <span class="item">まだ登録されていないお客様</span>
            </li>
        </ul>

        <p class="mt10">
            会員登録をすると便利なMyページをご利用いただけます。<br>
            また、ログインするだけで、毎回お名前や住所などを入力することなくスムーズにお買い物をお楽しみいただけます。
        </p>

        <div class="row row_third clearfix text-center mt20 md">
            <div class="col">
                <a href="{{ url('homepage')}}help/agreement" class="gb_btn btn_S hover">
                    <span>登録手続きへ</span>
                </a>
            </div>
        </div>

        <div class="row row_third clearfix mt20 sm">
            <div class="col">
                <a href="#" class="gb_btn btn_S">
                    <span>
                        <small>登録手続きへ</small>
                    </span>
                </a>
            </div>
            <div class="col">
                <a href="#" class="gb_btn btn_S">
                    <span>
                        <small>登録手続きへ</small>
                    </span>
                </a>
            </div>
        </div>

    </div><!-- /.block_about -->

</div><!-- /.main_post -->

{% endblock %}
