{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('mypage') }}">マイページ</a></li><li><span>退会手続き</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_mypage block_about gb_block">
        {% include 'Mypage/navi.twig' %}
        <h2>
            <img src="{{ app.config.front_urlpath }}/img/mypage/h2_change.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/mypage/sm/h2_change.png" alt=" " class="sm">
        </h2>
        <p class="mt30">
            会員を退会された場合には、現在保存されている購入履歴や、お届け先などの情報は、すべて削除されますがよろしいでしょうか？
        </p>
        <form method="post" action="{{ url('mypage_withdraw') }}">
        {{ form_widget(form._token) }}
            <div class="row row_full mt20">
                <button type="submit" name="mode" value="confirm" class="gb_btn btn_L">
                    <span class="ft14">会員退会手続きへ</span>
                </button>
            </div>
            
            <div class="row">
                {% for f in form %}
                    {% if f.vars.name matches '[^plg*]' %}
                        <div class="extra-form dl_table">
                            {{ form_row(f) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </form>    
        <p class="red mt20">※退会手続きが完了した時点で、現在保存されている購入履歴や、お届け先等の情報はすべてなくなりますのでご注意ください。</p>
    </div><!-- /.block_about -->
</div><!-- /.main_post -->
{% endblock %}
