{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
<script>
    eccube.classCategories = {{ Product.class_categories|json_encode|raw }};

    // 規格2に選択肢を割り当てる。
    function fnSetClassCategories(form, classcat_id2_selected) {
        var $form = $(form);
        var product_id = $form.find('input[name=product_id]').val();
        var $sele1 = $form.find('select[name=classcategory_id1]');
        var $sele2 = $form.find('select[name=classcategory_id2]');
        eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
    }

    {% if form.classcategory_id2 is defined %}
    fnSetClassCategories(
            document.form1, {{ form.classcategory_id2.vars.value|json_encode|raw }}
    );
    {% endif %}

    // 並び順を変更
    function fnChangeQuantity(value) {
        console.log(value);
        $("input[name=quantity]").val(value);
    }

    $('#favorite').click(function() {
        $('#mode').val('add_favorite');
    });
</script>

{% endblock %}

{% block main %}
<div class="main_post">

    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><span><a href="{{ url('homepage') }}products/list">商品一覧</a>>{{ Product.name }}</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="block_products gb_block">
        <div class="mod_product_detail clearfix">
            <div class="product_thumb">
                <div class="thumb_slider">
                    {% set nbImages = Product.ProductImage|length %}
                    {% if nbImages > 2 %}
                        <ul class="ul_product_slider">
                            {% for current in 0..nbImages %}
                                {% if current % 2 == 0 and current < nbImages %}
                                    <li>
                                        <div class="item">
                                            <div class="thumb">
                                                {% if Product.ProductImage[current] %}
                                                    <img src="{{ app.config.image_save_urlpath }}/{{ Product.ProductImage[current] }}" alt=" " />
                                                {% endif %}
                                            </div>
                                            <div class="tag">
                                            <!--
                                                <img src="{{ app.config.front_urlpath }}/img/product/tag_postage_detail.png" alt="送料無料" class="md" />
                                                <img src="{{ app.config.front_urlpath }}/img/product/sm/tag_postage_detail.png" alt="送料無料" class="sm" />
                                            -->
                                            </div>
                                        </div>
                                        <div class="item md">
                                            {% if Product.ProductImage[current + 1] %}
                                                <img src="{{ app.config.image_save_urlpath }}/{{ Product.ProductImage[current + 1] }}" alt=" " />
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul class="ul_product_slider disabled">
                            <li>
                                <div class="item">
                                    <div class="thumb">
                                        {% if Product.ProductImage[0] %}
                                            <img src="{{ app.config.image_save_urlpath }}/{{ Product.ProductImage[0] }}" alt=" " />
                                        {% endif %}
                                    </div>
                                    <div class="tag">
                                    </div>
                                </div>
                                <div class="item md">
                                    {% if Product.ProductImage[1] %}
                                        <img src="{{ app.config.image_save_urlpath }}/{{ Product.ProductImage[1] }}" alt=" " />
                                    {% endif %}
                                </div>
                            </li>
                        
                        </ul>
                    {% endif %}
                </div>
                <div id="bx_pager_product" class="clearfix">
                    {% if nbImages > 2 %}
                        {% set slide = 0 %}
                        {% for current in 0..nbImages %}
                            {% if current % 2 == 0 and current < nbImages %}
                                {% if Product.ProductImage[current] %}
                                    <a data-slide-index="{{ slide }}" href="#" class="trans"><img src="{{ app.config.image_save_urlpath }}/{{ Product.ProductImage[current] }}" alt=" " /></a>
                                    {% set slide = slide + 1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="product_cont fms">
                <div class="ttl">{{ Product.name }}</div>
                <div class="desc">商品番号 {{ Product.ID }}</div>
                <div class="price">
                    {% if Product.getPrice01Max is not null %}
                        <div class="price_old">通常価格： {{ Product.getPrice01IncTaxMin|number_format }}円</div>
                    {% endif %}
                    <div class="price_new">セール価格： {{ Product.getPrice02IncTaxMin|number_format }}円</div>
                </div>
                {% if Product.stock_find %}
                    <div class="order">
                        <form action="?" method="post" id="form1" name="form1">
                            <div class="label">個数</div>
                            <div class="choose">
                                

                                <select class="select_choose" onchange="javascript: fnChangeQuantity(this.value)">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <!--
                                <a href="#" class="btn_add_cart trans">
                                    <img src="{{ app.config.front_urlpath }}/img/product/btn_add_cart.png" class="md" alt="買い物カゴに入れる" />
                                    <img src="{{ app.config.front_urlpath }}/img/product/sm/btn_add_cart.png" class="sm" alt="買い物カゴに入れる" />
                                </a>
                                -->
                                <button type="submit" id="cart" class="btn_add_cart trans">
                                    <img src="{{ app.config.front_urlpath }}/img/product/btn_add_cart.png" class="md" alt="買い物カゴに入れる" />
                                    <img src="{{ app.config.front_urlpath }}/img/product/sm/btn_add_cart.png" class="sm" alt="買い物カゴに入れる" />
                                </button>
                                {% if BaseInfo.option_favorite_product == 1 %}
                                <ul id="detail_cart_box__favorite_button" class="row">
                                    {% if is_favorite == false %}
                                        <li class="col-xs-12 col-sm-8"><button type="submit" id="favorite" class="btn btn-info btn-block prevention-btn prevention-mask">お気に入りに追加</button></li>
                                    {% else %}
                                        <li class="col-xs-12 col-sm-8"><button type="submit" id="favorite" class="btn btn-info btn-block" disabled="disabled">お気に入りに追加済みです</button></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>
                            <div style="display: none">
                                {{ form_widget(form.quantity) }}
                                {{ form_errors(form.quantity) }}
                                {{ form_rest(form) }}
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="order">
                        <p>品切れ中です</p>
                    </div>
                {% endif %}
                <div class="info">
                    <a href="#" class="btn_more_info trans"><span>発送の詳細はこちら</span></a>
                </div>
                <div class="detail">
                    <ul class="gb_list">
                        <li>
                            <a href="#" class="item trans">送料について</a>
                        </li>
                        <li>
                            <a href="#" class="item trans">返品キャンセルについて</a>
                        </li>
                        <li>
                            <a href="{{ url('homepage') }}help/tradelaw" class="item trans">特定商法に基づく表記</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mod_product_post">
            <div class="row_full">
                <div class="div_product_catch">
                    <div class="div_ttl">
                        <h4 class="h4_title">
                            <img src="{{ app.config.front_urlpath }}/img/product/catch_ttl.png" alt=" " class="md" />
                            <img src="{{ app.config.front_urlpath }}/img/product/sm/catch_ttl.png" alt=" " class="sm" />
                        </h4>
                    </div>
                    <div class="div_cont">
                        <p class="md">
                            {{ Product.description_detail|raw|nl2br }}
                        </p>
                        <p class="sm">
                            {{ Product.description_detail|raw|nl2br }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row_inner clearfix">
                    <div class="col">
                        <div class="div_product_content">
                            <div class="div_ttl">
                                <img src="{{ app.config.front_urlpath }}/img/product/content_ttl.png" alt="内容量" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/product/sm/content_ttl.png" alt="内容量" class="sm" />
                            </div>
                            <div class="div_cont">
                                ・テキストが入ります。<br />
                                ・テキストが入ります。<br />
                                ・テキストが入ります。<br />
                                ・テキストが入ります。<br />
                                ・テキストが入ります。
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="div_product_detail">
                            <div class="div_ttl">
                                <img src="{{ app.config.front_urlpath }}/img/product/detail_ttl.png" alt="商品詳細" class="md" />
                                <img src="{{ app.config.front_urlpath }}/img/product/sm/detail_ttl.png" alt="商品詳細" class="sm" />
                            </div>
                            <div class="div_cont">
                                <div class="dl_product_detail">
                                    <dl class="tb">
                                        <dt class="td">賞味期限</dt>
                                        <dd class="td">テキストが入ります。</dd>
                                    </dl>
                                    <dl class="tb">
                                        <dt class="td">原材料</dt>
                                        <dd class="td">テキストが入ります。</dd>
                                    </dl>
                                    <dl class="tb">
                                        <dt class="td">保存方法</dt>
                                        <dd class="td">テキストが入ります。</dd>
                                    </dl>
                                    <dl class="tb">
                                        <dt class="td">注意事項</dt>
                                        <dd class="td">
                                            テキストが入ります。<br />
                                            テキストが入ります。
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mod_tel_banner md">
            <img src="{{ app.config.front_urlpath }}/img/product/tel_banner.png" alt="ご注文はお電話でも承っております。お気軽におかけください。088-803-7108　受付時間／平日：午前10時〜午後5時" />
        </div>
    </div><!-- /.block_products -->

    <div class="mod_tel_banner sm">
        <img src="{{ app.config.front_urlpath }}/img/product/sm/tel_banner.png" alt="ご注文はお電話でも承っております。お気軽におかけください。088-803-7108　受付時間／平日：午前10時〜午後5時" />
    </div>

    <div class="block_others_products">
        <div class="block_ttl">
            <img src="{{ app.config.front_urlpath }}/img/product/others_product_ttl.png" alt="その他の商品を見る" class="md" />
            <img src="{{ app.config.front_urlpath }}/img/product/sm/others_product_ttl.png" alt="その他の商品を見る" class="sm" />
        </div>
        <div class="block_cont">
            <ul class="ul_others_products clearfix">
                <li>
                    <a href="{{ url('homepage') }}products/list?category_id=7" class="trans"><span>蒲焼き</span></a>
                </li><li>
                    <a href="{{ url('homepage') }}products/list?category_id=8" class="trans"><span>塩うなぎ</span></a>
                </li><li>
                    <a href="{{ url('homepage') }}products/list?category_id=9" class="trans"><span>白焼き</span></a>
                </li><li>
                    <a href="{{ url('homepage') }}products/list?category_id=10" class="trans"><span>ちまき</span></a>
                </li><li>
                    <a href="{{ url('homepage') }}products/list?category_id=11" class="trans"><span>珍味</span></a>
                </li><li>
                    <a href="{{ url('homepage') }}products/list?category_id=12" class="trans"><span>たれ</span></a>
                </li><li>
                    <a href="{{ url('homepage') }}products/list?category_id=13" class="trans"><span>セット商品</span></a>
                </li>
            </ul>
        </div>
    </div>

</div><!-- /.main_post -->
{% endblock %}
