{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
    <script>
        // 並び順を変更
        /*
        function fnChangeOrderBy(orderby) {
            console.log("ChangeOrderBy");
            eccube.setValue('orderby', orderby);
            eccube.setValue('pageno', 1);
            eccube.submitForm();
        }
        */

        // 表示件数を変更
        function fnChangeDispNumber(dispNumber) {
            console.log("ChangeDispNumber");
            eccube.setValue('disp_number', dispNumber);
            eccube.setValue('pageno', 1);
            eccube.submitForm();
        }

        //並び順を変更を変更（価格順）
        function fnChangeDispNumber1() {
            eccube.setValue('disp_number', 1);
            eccube.setValue('pageno', 1);
            eccube.submitForm();
        }
        //並び順を変更を変更（新着順）  
        function fnChangeDispNumber2() {
            eccube.setValue('disp_number', 2);
            eccube.setValue('pageno', 1);
            eccube.submitForm();
        } 

        //pagerの件数を適用
        $("span.pager-disp-num").text($("input[name=disp_number]").val());

        //n件〜m件の表示
        var pageno = $("input[name=pageno]").val();
        if(pageno == ""){
            pageno = 0;
        }else{
            pageno = parseInt(pageno) - 1;    
        }
        
        //console.log(pageno);

        var disp_number = $("input[name=disp_number]").val();
        disp_number = parseInt(disp_number);
        //console.log(disp_number);

        $("span#current-disp-start").text(pageno * disp_number + 1);

        var actual_disp = $(".ul_products li").length;

        $("span#current-disp-end").text(actual_disp + pageno * disp_number);


    </script>
{% endblock %}

{% block main %}
<form name="form1" id="form1" method="get" action="?">
    {{ form_widget(search_form) }}
</form>
<div class="main_post">

    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="../">TOP</a></li><li><span>全商品を見る</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="block_products gb_block">
        <div id="result_info_box" class="row"></div>
        <div class="block_cont">
            <div class="mod_products_filter clearfix">
                <form name="page_navi_top" id="page_navi_top" action="?">
                    <div class="ttl"><span id="current-disp-start"></span>件〜<span id="current-disp-end"></span>件 全{{ pagination.totalItemCount }}件） </div>
                    <div class="filter">
                        <a href="javascript:void(0)" class="url" onclick="javascript:fnChangeDispNumber1()">▼価格順</a> | <a href="javascript:void(0)" class="url" onclick="javascript:fnChangeDispNumber2()">▼新着順</a> |
                        {{ form_widget(disp_number_form, {'id': '', 'attr': {'onchange': "javascript:fnChangeDispNumber(this.value);"}}) }}
                    </div>
                </form>
                {% for f in disp_number_form.getIterator %}
                    {% if f.vars.name matches '[^plg*]' %}
                        {{ form_label(f) }}
                        {{ form_widget(f) }}
                        {{ form_errors(f) }}
                    {% endif %}
                {% endfor %}

                {% for f in order_by_form.getIterator %}
                    {% if f.vars.name matches '[^plg*]' %}
                        {{ form_label(f) }}
                        {{ form_widget(f) }}
                        {{ form_errors(f) }}
                    {% endif %}
            {% endfor %}
            </div>
            {% if pagination.totalItemCount > 0 %}
                {% include "pagination.twig" with { 'pages' : pagination.paginationData } %}
            {% endif %}
            <div class="mod_products_list">
                <div class="row">
                    <ul class="ul_products clearfix">
                        {% for Product in pagination %}
                        <li>
                            <a href="{{ url('product_detail', {'id': Product.id}) }}" class="item clearfix trans">
                                <div class="thumb">
                                    <figure>
                                        <img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt=" " />
                                    </figure>
                                    <div class="tag">
                                        <!--
                                        <img src="{{ app.config.front_urlpath }}/img/product/tag_postage.png" alt="送料無料" class="md" />
                                        <img src="{{ app.config.front_urlpath }}/img/product/sm/tag_postage.png" alt="送料無料" class="sm" />
                                        <img src="{{ app.config.front_urlpath }}/img/product/tag_new.png" alt="New" class="md" />
                                        <img src="{{ app.config.front_urlpath }}/img/product/sm/tag_new.png" alt="New" class="sm" />
                                        <img src="{{ app.config.front_urlpath }}/img/product/tag_ship.png" alt="セール対象商品" class="md" />
                                        <img src="{{ app.config.front_urlpath }}/img/product/sm/tag_ship.png" alt="セール対象商品" class="sm" />
                                        -->
                                    </div>
                                </div>
                                <div class="cont">
                                    <div class="ttl">{{ Product.name }}</div>
                                    <div class="desc">
                                        通常価格：{{ Product.getPrice02IncTaxMin|number_format }}円<br />
                                        (税込、送料込)
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if pagination.totalItemCount > 0 %}
                {% include "pagination.twig" with { 'pages' : pagination.paginationData } %}
            {% endif %}
            <div class="mod_tel_banner md">
                <img src="{{ app.config.front_urlpath }}/img/product/tel_banner.png" alt="ご注文はお電話でも承っております。お気軽におかけください。088-803-7108　受付時間／平日：午前10時〜午後5時" />
            </div>
        </div>
    </div><!-- /.block_products -->

    <div class="mod_tel_banner sm">
        <img src="{{ app.config.front_urlpath }}/img/product/sm/tel_banner.png" alt="ご注文はお電話でも承っております。お気軽におかけください。088-803-7108　受付時間／平日：午前10時〜午後5時" />
    </div>

    <div class="block_others_products">
        <div class="block_ttl">
            <img src="{{ app.config.front_urlpath }}/img/product/others_product_ttl.png" alt="その他の商品を見る" class="md" />
            <img src="{{ app.config.front_urlpath }}/img/product/sm/others_product_ttl.png" alt="その他の商品を見る" class="sm" />
        </div>
        <div class="block_cont">
            <ul class="ul_others_products clearfix">
                <li>
                    <a href="#" class="trans"><span>蒲焼き</span></a>
                </li><li>
                    <a href="#" class="trans"><span>塩うなぎ</span></a>
                </li><li>
                    <a href="#" class="trans"><span>白焼き</span></a>
                </li><li>
                    <a href="#" class="trans"><span>ちまき</span></a>
                </li><li>
                    <a href="#" class="trans"><span>珍味</span></a>
                </li><li>
                    <a href="#" class="trans"><span>たれ</span></a>
                </li><li>
                    <a href="#" class="trans"><span>セット商品</span></a>
                </li>
            </ul>
        </div>
    </div>

</div><!-- /.main_post -->
{% endblock %}
