{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = '' %}

{% block javascript %}

{% endblock %}

{% block main %}

<div class="main_post">

    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><span>会社概要</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="block_about gb_block">
        <div class="block_ttl">
            <h2>
                <img src="{{ app.config.front_urlpath }}/img/about/h2_about.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h2_about.png" alt=" " class="sm" />
            </h2>
        </div>

        <div class="tb_contact_form tb fms vertical md">
            <img src="{{ app.config.front_urlpath }}/img/about/company_img002.gif" />
        </div>

        <img class="mt20" src="{{ app.config.front_urlpath }}/img/about//company_img003.gif" />

        <img class="sm mauto mt20" src="{{ app.config.front_urlpath }}/img/about/company_img002.gif" />

        <img class="mt20" src="{{ app.config.front_urlpath }}/img/about/company_img004.jpg" alt=" "/>

        <div class="clearfix"></div>

        <p class="mt10">
            当社は、四万十川の源流域に位置しており、昔から変わることのない、美しい水の恵みを、受けております。<br>
            <br>
            創業以来、徹底した生産管理にこだわる私達は、四万十川で採捕したうなぎの稚魚（シラスウナギ）を、四万十川上流域の四万十町で、養殖しています。<br>
            立派に育ったうなぎは、私達のもとで地下水で泳がせ、身を引き締めてから蒲焼きに仕上げます。<br>
            うなぎ一筋に歩んで来た私達は、うなぎのおいしさへの追求では、誰にも、負けない自信を持っています。<br>
            そんないごっそう気質があってこそ生まてくるおいしさが「四万十うなぎ株式会社」の蒲焼きです。<br>
            <br>
            養殖から加工・販売まで一貫したワンストップ体制と徹底した生産管理の四万十うなぎです。
        </p>
        <div class="block_cont mt20">
            <h3 class="h3_title">
                <img src="{{ app.config.front_urlpath }}/img/about/h3_about.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_about.png" alt=" " class="sm" />
            </h3>
            <div class="tb_contact_form tb fms md mt10">
                <div class="tr">
                    <div class="th">社名</div>
                    <div class="td">四万十うなぎ株式会社</div>
                </div>
                <div class="tr">
                    <div class="th">所在地</div>
                    <div class="td">
                        <table>
                            <tr>
                                <td class="adress">
                                    【本社】<br>
                                    高知県高岡郡四万十町見付896-6<br>
                                    TEL.0880-22-1468<br>
                                    FAX.0880-22-2502<br>
                                    <br>
                                    【四万十市下田出張所（シラスウナギ集荷場）】<br>
                                    高知県四万十市下田4317-3　<br>
                                    TEL.0880-33-1223<br>
                                    <br>
                                    【四万十うなぎ養殖場】<br>
                                    高知県高岡郡四万十町見付字岩本26103<br>
                                    <br>
                                    【四万十うなぎ第一養鰻場】<br>
                                    高知県高岡郡四万十町昨屋384<br>
                                    <br>
                                    【うなきち】<br>
                                    高知県高岡郡四万十町本町1-14<br>
                                    TEL.0880-22-2138
                                </td>
                                <td class="thumb"><img src="{{ app.config.front_urlpath }}/img/about/company_img102_detail.jpg" alt=""/></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tr">
                    <div class="th">創業</div>
                    <div class="td">昭和42年</div>
                </div>
                <div class="tr">
                    <div class="th">代表者代表取締役</div>
                    <div class="td">大前達也</div>
                </div>
                <div class="tr">
                    <div class="th">資本金</div>
                    <div class="td">2,100万円</div>
                </div>
                <div class="tr">
                    <div class="th">業種</div>
                    <div class="td">シラス・養鰻・活鰻・加工・販売・飲食（うなきち）</div>
                </div>
                <div class="tr">
                    <div class="th">営業品目</div>
                    <div class="td">
                        <table>
                            <tr>
                                <td>シラスウナギ</td>
                                <td>20％</td>
                            </tr>
                            <tr>
                                <td>活鰻</td>
                                <td>10％</td>
                            </tr>
                            <tr>
                                <td>加工（白焼・蒲焼）</td>
                                <td>70％</td>
                            </tr>
                            <tr>
                                <td>お食事処</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tr">
                    <div class="th">従業員</div>
                    <div class="td">15名</div>
                </div>
                <div class="tr">
                    <div class="th">企業特徴</div>
                    <div class="td">
                        四万十川に近く、四万十うなぎで売り出しています。<br>
                        日本全国に出荷しており、直営鰻料理店（うなきち）も併営しています。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">関連会社</div>
                    <div class="td">
                        <a href="#" class="gb_link">【四万十うなぎ販売株式会社】</a><br>
                        高知県高知市一宮中町1丁目14-40
                    </div>
                </div>
                <div class="tr">
                    <div class="th">取引銀行</div>
                    <div class="td">
                        高知銀行窪川支店<br>
                        高知信用金庫窪川支店<br>
                        四国銀行窪川支店<br>
                        JA四万十農協
                    </div>
                </div>
                <div class="tr">
                    <div class="th">アクセスマップ</div>
                    <div class="td">
                        <iframe width="420" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=d&amp;source=s_d&amp;saddr=%E9%AB%98%E7%9F%A5%E7%9C%8C%E9%AB%98%E5%B2%A1%E9%83%A1%E5%9B%9B%E4%B8%87%E5%8D%81%E7%94%BA%E8%A6%8B%E4%BB%98%EF%BC%98%EF%BC%99%EF%BC%96%E2%88%92%EF%BC%96&amp;daddr=&amp;hl=ja&amp;geocode=&amp;mra=mi&amp;sll=33.212337,133.144684&amp;sspn=0.029119,0.055747&amp;ie=UTF8&amp;start=0&amp;ll=33.21126,133.142281&amp;spn=0.021543,0.025749&amp;z=14&amp;output=embed"></iframe><br />
<small><a class="gb_link" target="_blank" href="http://maps.google.co.jp/maps?f=d&amp;source=embed&amp;saddr=%E9%AB%98%E7%9F%A5%E7%9C%8C%E9%AB%98%E5%B2%A1%E9%83%A1%E5%9B%9B%E4%B8%87%E5%8D%81%E7%94%BA%E8%A6%8B%E4%BB%98%EF%BC%98%EF%BC%99%EF%BC%96%E2%88%92%EF%BC%96&amp;daddr=&amp;hl=ja&amp;geocode=&amp;mra=mi&amp;sll=33.212337,133.144684&amp;sspn=0.029119,0.055747&amp;ie=UTF8&amp;start=0&amp;ll=33.21126,133.142281&amp;spn=0.021543,0.025749&amp;z=14" style="color:#0000FF;text-align:left">大きな地図で見る</a></small>

                    </div>
                </div>
                <div class="tr">
                    <div class="th">直営店</div>
                    <div class="td">
                        <table class="links">
                            <tr>
                                <td>
                                    <img src="{{ app.config.front_urlpath }}/img/about/company_img103.jpg" alt="" /><br>
                                    <a class="gb_link" href="#" target="_blank">ユースホステル</a>
                                </td>
                                <td>
                                    <img src="{{ app.config.front_urlpath }}/img/about/company_img104.jpg" alt="" /><br>
                                    <a class="gb_link" href="#" target="_blank">うなきち</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tb_contact_form_sm tb fms sm sm-mt10">
                <dl>
                    <dt>社名</dt>
                    <dd>四万十うなぎ株式会社</dd>
                </dl>
                <dl>
                    <dt>所在地</dt>
                    <dd>
                        <table>
                            <tr>
                                <td class="adress">
                                    【本社】<br>
                                    高知県高岡郡四万十町見付896-6<br>
                                    TEL.0880-22-1468<br>
                                    FAX.0880-22-2502<br>
                                    <br>
                                    【四万十市下田出張所（シラスウナギ集荷場）】<br>
                                    高知県四万十市下田4317-3　<br>
                                    TEL.0880-33-1223<br>
                                    <br>
                                    【四万十うなぎ養殖場】<br>
                                    高知県高岡郡四万十町見付字岩本26103<br>
                                    <br>
                                    【四万十うなぎ第一養鰻場】<br>
                                    高知県高岡郡四万十町昨屋384<br>
                                    <br>
                                    【うなきち】<br>
                                    高知県高岡郡四万十町本町1-14<br>
                                    TEL.0880-22-2138
                                </td>
                                <td class="thumb"><img src="{{ app.config.front_urlpath }}/img/about/company_img102_detail.jpg" alt=""/></td>
                            </tr>
                        </table>
                    </dd>
                </dl>
                <dl>
                    <dt>創業</dt>
                    <dd>昭和42年</dd>
                </dl>
                <dl>
                    <dt>代表者代表取締役</dt>
                    <dd>大前達也</dd>
                </dl>
                <dl>
                    <dt>資本金</dt>
                    <dd>2,100万円</dd>
                </dl>
                <dl>
                    <dt>業種</dt>
                    <dd>シラス・養鰻・活鰻・加工・販売・飲食（うなきち）</dd>
                </dl>
                <dl>
                    <dt>営業品目</dt>
                    <dd>
                        <table>
                            <tr>
                                <td>シラスウナギ</td>
                                <td>20％</td>
                            </tr>
                            <tr>
                                <td>活鰻</td>
                                <td>10％</td>
                            </tr>
                            <tr>
                                <td>加工（白焼・蒲焼）</td>
                                <td>70％</td>
                            </tr>
                            <tr>
                                <td>お食事処</td>
                                <td></td>
                            </tr>
                        </table>
                    </dd>
                </dl>
                <dl>
                    <dt>従業員</dt>
                    <dd>15名</dd>
                </dl>
                <dl>
                    <dt>企業特徴</dt>
                    <dd>
                        四万十川に近く、四万十うなぎで売り出しています。<br>
                        日本全国に出荷しており、直営鰻料理店（うなきち）も併営しています。
                    </dd>
                </dl>
                <dl>
                    <dt>関連会社</dt>
                    <dd>
                        <a href="#" class="gb_link">【四万十うなぎ販売株式会社】</a><br>
                        高知県高知市一宮中町1丁目14-40
                    </dd>
                </dl>
                <dl>
                    <dt>取引銀行</dt>
                    <dd>
                        高知銀行窪川支店<br>
                        高知信用金庫窪川支店<br>
                        四国銀行窪川支店<br>
                        JA四万十農協
                    </dd>
                </dl>
                <dl>
                    <dt>アクセスマップ</dt>
                    <dd>
                        <iframe width="420" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=d&amp;source=s_d&amp;saddr=%E9%AB%98%E7%9F%A5%E7%9C%8C%E9%AB%98%E5%B2%A1%E9%83%A1%E5%9B%9B%E4%B8%87%E5%8D%81%E7%94%BA%E8%A6%8B%E4%BB%98%EF%BC%98%EF%BC%99%EF%BC%96%E2%88%92%EF%BC%96&amp;daddr=&amp;hl=ja&amp;geocode=&amp;mra=mi&amp;sll=33.212337,133.144684&amp;sspn=0.029119,0.055747&amp;ie=UTF8&amp;start=0&amp;ll=33.21126,133.142281&amp;spn=0.021543,0.025749&amp;z=14&amp;output=embed"></iframe><br />
<small><a class="gb_link" target="_blank" href="http://maps.google.co.jp/maps?f=d&amp;source=embed&amp;saddr=%E9%AB%98%E7%9F%A5%E7%9C%8C%E9%AB%98%E5%B2%A1%E9%83%A1%E5%9B%9B%E4%B8%87%E5%8D%81%E7%94%BA%E8%A6%8B%E4%BB%98%EF%BC%98%EF%BC%99%EF%BC%96%E2%88%92%EF%BC%96&amp;daddr=&amp;hl=ja&amp;geocode=&amp;mra=mi&amp;sll=33.212337,133.144684&amp;sspn=0.029119,0.055747&amp;ie=UTF8&amp;start=0&amp;ll=33.21126,133.142281&amp;spn=0.021543,0.025749&amp;z=14" style="color:#0000FF;text-align:left">大きな地図で見る</a></small>

                    </dd>
                </dl>
                <dl>
                    <dt>直営店</dt>
                    <dd>
                        <table class="links">
                            <tr>
                                <td>
                                    <img src="{{ app.config.front_urlpath }}/img/about/company_img103.jpg" alt="" /><br>
                                    <a class="gb_link" href="#" target="_blank">ユースホステル</a>
                                </td>
                                <td>
                                    <img src="{{ app.config.front_urlpath }}/img/about/company_img104.jpg" alt="" /><br>
                                    <a class="gb_link" href="#" target="_blank">うなきち</a>
                                </td>
                            </tr>
                        </table>
                    </dd>
                </dl>
            </div>
        </div>
    </div><!-- /.block_about -->

</div><!-- /.main_post -->

{% endblock %}
