{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = '' %}

{% block main %}
<div class="main_post">
<div class="block_pathway">
    <ul class="ul_pathway">
        <li><a href="../../">TOP</a></li><li><span>初めての方へ</span></li>
    </ul>
</div><!-- /.block_pathway -->

<div class="mod_guide block_about gb_block">
    <div class="block_ttl">
        <h2>
            <img src="{{ app.config.front_urlpath }}/img/about/h2_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h2_title.png" alt=" " class="sm" />
        </h2>
    </div>
    <div class="block_cont">

        <h3 class="h3_title">
            <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
        </h3>
        <p class="mt20">
            いらっしゃいませ　 お客様<br>
            <br>
            四万十うなぎ株式会社は、自然豊かな高知県の四万十町で創業以来40年間、徹底した生産管理で養殖しているうなぎと共に育った会社です。<br>
            豊富できれいな地下水を使って育てたうなぎは、身が柔らかく、ほど良く脂がのっている『安心・安全・おいしい』を追及した四万十うなぎです。<br>
            水質管理や温度管理はもちろん、餌作りにも細心の注意を払い、皆様に安心して食べていただける安全で美味しいうなぎをご提供します。<br>
        </p>
        
        <ul class="gb_anchor fms clearfix mt20 sm-mt20">
            <li>
                <a href="#shopping" class="trans"><span>お買い物の流れ</span></a>
            </li>
            <li>
                <a href="#delivery" class="trans"><span>配送物の流れ</span></a>
            </li>
            <li>
                <a href="#payment" class="trans"><span>お支払い方法について</span></a>
            </li>
            <li>
                <a href="#change" class="trans"><span>返品・交換・キャンセル</span></a>
            </li>
            <li>
                <a href="#register" class="trans"><span>新規会員登録</span></a>
            </li>
            <li>
                <a href="#about" class="trans"><span>四万十うなぎ株式会社とは？</span></a>
            </li>
            <li>
                <a href="#privacy" class="trans"><span>お客様の個人情報について</span></a>
            </li>
            <li>
                <a href="#settings" class="trans"><span>ご利用環境設定について</span></a>
            </li>
        </ul>
    
        <div class="gb_line mt50"></div>
        
        <div id="shopping" class="cont mt20">
            <h3 class="h3_title">
                <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
            </h3>
            <div class="with-puce sec mt20">
                <div class="puce"><img src="{{ app.config.front_urlpath }}/img/guide/guide_img101.gif" alt="1"/></div>
                <div class="desc">
                    <h4 class="h4_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                    </h4>
                    <p>
                        当店ホームページ内のお好きな商品をお選びいただいて「買い物かごにいれる」ボタンをクリックします。他にも購入を希望される方は、「前のページへ戻る」ボタンを押していただき、他の商品をお選びください。
                    </p>
                </div>
            </div>
            <div class="with-puce sec mt20">
                <div class="puce"><img src="{{ app.config.front_urlpath }}/img/guide/guide_img102.gif" alt="2"></div>
                <div class="desc">
                    <h4 class="h4_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                    </h4>
                    <p>
                        買い物かごに入った商品は画面左上側にある「買い物かごの中身」に商品点数と合計金額が表示されます。<br>
                        詳細を見る場合は「買い物かごを見る」ボタンをクリックしてください。<br>
                        商品の数量を変えたい方は、「数量」欄の「＋」「－」ボタンを押して増減させてください。
                    </p>
                </div>
            </div>
            <div class="with-puce sec mt20">
                <div class="puce"><img src="{{ app.config.front_urlpath }}/img/guide/guide_img103.gif" alt="3"></div>
                <div class="desc">
                    <h4 class="h4_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                    </h4>
                    <p>
                        買い物かごを見ている状態で購入を希望される方はそのまま「レジに進む」ボタンをクリックしてください。<br>
                        <span class="red">※商品購入には会員登録が便利です。会員登録をされると次回以降の購入がスムーズになります！</span><br>
                        会員登録をしなくても購入は可能です。「ゲスト購入に進む」ボタンをクリックしてください。<br>
                        すでに会員の方は、登録した「メールアドレス」と「パスワード」を入力して「ログインする」ボタンをクリックしてください。<br>
                        ※パスワードを忘れた方は<a href="#" class="gb_link">こちら</a>をご確認ください。<br>
                        新規会員登録をする方は「<a href="#" class="gb_link">新規会員登録はこちら</a>」ボタンをクリックしてください。
                    </p>
                </div>
            </div>
            <div class="with-puce sec mt20">
                <div class="puce"><img src="{{ app.config.front_urlpath }}/img/guide/guide_img104.gif" alt="4"></div>
                <div class="desc">
                    <h4 class="h4_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                    </h4>
                    <p>
                        お贈り先がお申込者住所と異なる場合でもご購入ができます。<br>
                        会員の方は20件まで贈り先を登録しておく事ができます。<br>
                        ※一度の購入で複数場所への送付はできません。<br>
                    </p>
                </div>
            </div>
            <div class="with-puce sec mt20">
                <div class="puce"><img src="{{ app.config.front_urlpath }}/img/guide/guide_img105.gif" alt="5"></div>
                <div class="desc">
                    <h4 class="h4_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                    </h4>
                    <p>
                        お支払いは、銀行振込、商品代金引換の中からお選びいただけます。<br>
                        お支払いは、クレジットカード、銀行振込、商品代金引換の中からお選びいただけます。<br>
                    </p>
                    <div class="md mt10">
                        <div class="tb_contact_form tb fms mt10">
                            <div class="tr">
                                <div class="th">クレジットカード</div>
                                <div class="td">VISA、MASTER、DINERS</div>
                            </div>
                            <div class="tr">
                                <div class="th">銀行振込</div>
                                <div class="td">高知銀行</div>
                            </div>
                            <div class="tr">
                                <div class="th">商品代金引換</div>
                                <div class="td">ヤマト運輸の宅急便コレクト or 佐川急便</div>
                            </div>
                        </div>
                    </div>
                    <div class="sm">
                        <div class="tb_contact_form_sm fms mt10">
                            <dl>
                                <dt>クレジットカード</dt>
                                <dd>VISA、MASTER、DINERS</dd>
                            </dl>
                            <dl>
                                <dt>銀行振込</dt>
                                <dd>高知銀行</dd>
                            </dl>
                            <dl>
                                <dt>商品代金引換</dt>
                                <dd>ヤマト運輸の宅急便コレクト or 佐川急便</dd>
                            </dl>
                        </div>
                    </div>
                    ※詳しくは「<a class="gb_link" href="#">3・お支払い方法について</a>」をご確認ください。
                </div>
            </div>
            <div class="with-puce sec mt20">
                <div class="puce"><img src="{{ app.config.front_urlpath }}/img/guide/guide_img106.gif" alt="6"></div>
                <div class="desc">
                    <h4 class="h4_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                    </h4>
                    <p>
                        必要事項を入力したらご注文内容をご確認ください。<br>
                        訂正箇所がある場合は「戻る」ボタンをクリックしてください。<br>
                        訂正箇所がなければ、そのまま「完了ページへ」ボタンをクリックしてください。<br>
                        ※「完了ページへ」ボタンをクリックした時点でご注文となります。
                    </p>
                </div>
            </div>
            <div class="with-puce sec mt20">
                <div class="puce"><img src="{{ app.config.front_urlpath }}/img/guide/guide_img107.gif" alt="7"></div>
                <div class="desc">
                    <h4 class="h4_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                    </h4>
                    <p>
                        ご注文をお受けしましたら、ご注文時にご記入いただきましたメールアドレス宛に自動返信にて注文確認メールを送信させていただきますのでご確認ください。<br>
                        送信メールアドレスは　info@shimanto-unagi.com　となります。<br>
                        届いたメールはご注文確認などのお問い合わせで必要になりますので商品が届くまで削除せず保存しておいてください。<br>
                        また商品をご確認のうえご注文内容に問題なければご返信は不要です。<br>
                        ご購入された商品と違う、ご注文商品が届かない、確認メールが届かない、買った覚えがないといった方は、お手数ですが下記アドレスまでご連絡お願いします。<br>
                        <a class="gb_link" href="mailto:info@shimanto-unagi.com">info@shimanto-unagi.com</a>
                    </p>
                </div>
            </div>
            <div class="sec mt20">
                <div class="puce"><img src="{{ app.config.front_urlpath }}/img/guide/guide_img108.gif" alt="8"></div>
                <div class="desc">
                    <h4 class="h4_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                    </h4>
                    <p>
                        当店で受注内容を確認後正式な詳細メールをお送りいたします。<br>
                        届いたメールはご注文確認などの問い合わせで必要になりますので商品が届くまで削除せず保存しておいてください。<br>
                        ※銀行振込でのお支払いの場合は、入金確認後詳細メールをお送りいたします。<br>
                        ※出荷準備に取り掛かりますので、このメール送信後のキャンセル・ご変更等はご遠慮ください。
                    </p>
                </div>
            </div>
            <div class="with-puce sec mt20">
                <div class="puce"><img src="{{ app.config.front_urlpath }}/img/guide/guide_img109.gif" alt="9"></div>
                <div class="desc">
                    <h4 class="h4_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                    </h4>
                    <p>
                        当店からの出荷準備が整い次第運送便の詳細などをメールにてお送りいたします。<br>
                        届いたメールはご注文確認などのお問い合わせてで必要になりますので商品が届くまで削除せず保存しておいてください。<br>
                        ※本メールにクロネコヤマトのお問い合わせ伝票番号か佐川急便のお問い合わせNO.が記載されますのでご注意ください。
                    </p>
                </div>
            </div>
            <div class="with-puce sec mt20">
                <div class="puce"><img src="{{ app.config.front_urlpath }}/img/guide/guide_img110.gif" alt="10"></div>
                <div class="desc">
                    <h4 class="h4_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                    </h4>
                    <p>
                        お客様・お届け先へ配送業者より商品をお届けします。<br>
                        配送する際、各商品ページをプリントアウトしたものは箱には入っておりませんので、恐れ入りますが、商品説明等を紙でご覧になりたい方は、プリントアウトか、ダウンロードして下さるよう、お願い致します。
                    </p>
                </div>
            </div>
            
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
        </div>
        
        <div class="gb_line mt50"></div>
        
        <div id="delivery" class="cont mt20">
            <h3 class="h3_title">
                <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
            </h3>
            <div class="sec mt20">
                <h4 class="h4_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <p class="mt10">
                    商品は、在庫がございましたら、ご決済完了後、3営業日以内に発送致します。<br>
                    商品の在庫がない場合、7日ほどお時間をいただく場合がございます。<br>
                    <br>
                    土・日・祝日を含む当店休業日のご注文は、翌営業日以降に発送させていただきます。<br>
                    <br>
                    ただし、ご注文が集中したり、発送件数が多くなった場合、上記の通りとならない場合もございますので、あらかじめご了承ください。<br>
                    <br>
                    ご注文いただいた商品の在庫がない場合、7日ほどお時間をいただく場合がございます。<br>
                    <br>
                    実際の発送日につきましては、ご注文後にお送りさせていただきますメールにて、ご連絡させていただきますので、そちらをご確認ください。<br>
                </p>
            </div>
            <div class="sec mt20">
                <h4 class="h4_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <p class="mt10">
                    ヤマト運輸のクール宅急便か佐川急便の飛脚クール便でお届けいたします。<br>
                    原則、お客様による配送業者のご指定は承っておりません。<br>
                    あらかじめご了承ください。<br>
                    商品の発送は、日本国内のみに限らせて頂きます。<br>
                    当店で販売している商品は、全て要冷凍品です。<br>
                    クール便で配送いたしますので、商品が到着致しましたら内容をご確認の上、すぐに冷凍庫に入れて下さい。<br>
                </p>
            </div>
            <div class="sec mt20">
                <h4 class="h4_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <p class="mt10">
                    恐れ入りますが、送料は、お客様のご負担となっております。<br>
                    下記の料金表をご参照下さい。<br>
                </p>
                <img class="mt10" src="{{ app.config.front_urlpath }}/img/guide/guide_img201.gif" alt="送料全国一律1,080円" />
            </div>
            <div class="sec mt20">
                <h4 class="h4_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <p class="mt10">
                    お届け希望日やお届け希望時間のご指定が可能です。<br>
                    ご注文の際にご指定ください。<br>
                    時間帯は以下の6つの時間帯からご指定できます。
                </p>
                <img class="mt10" src="{{ app.config.front_urlpath }}/img/guide/guide_img202.gif" alt="送料全国一律1,080円" />
                <p class="red mt10">お届け希望日時のご指定は余裕を持ってお願いいたします。</p>
            </div>
            
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
        </div>
        
        <div class="gb_line mt50"></div>
        
        <div id="payment" class="cont mt20">
            <h3 class="h3_title">
                <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
            </h3>
            <p class="mt20">下記のお支払い方法をご利用になれます。</p>
            <div class="sec mt20">
                <h4 class="h4_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <p class="mt10">
                    ご入金確認後、商品を発送させていただきます。振込み手数料はお客様のご負担となります。<br>
                    <span><img src="{{ app.config.front_urlpath }}/img/guide/guide_img301.gif" alt="高知銀行"/></span>がご利用いただけます。
                </p>
            </div>
            <div class="sec mt20">
                <h4 class="h4_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <p class="mt10">
                    ヤマト運輸の　<span><img src="{{ app.config.front_urlpath }}/img/guide/guide_img302.gif" alt="ヤマト運輸　宅急便コレクト" /></span>　か佐川急便の　<span><img src="{{ app.config.front_urlpath }}/img/guide/guide_img303.gif" alt="佐川急便　e-collect" /></span><br>
                    ※原則、配送業者のご指定は承っておりません。あらかじめご了承ください。<br>
                    <br>
                    商品お届けの際に商品代金をお支払いください。代金引換手数料324円がかかります。<br>
                    （ただし、一配送先につき、10,800円以上お買い上げのお客様の、代金引換手数料は当社がご負担いたします。）<br>
                    代金引換商品と引換えに宅配業者が集金致します。<br>
                    <br>
                    なお、税込み金額が30万円以上になる場合は、代金引換はご利用できません。<br>
                    銀行振込をご利用ください。<br>
                    <br>
                    銀行振込もしくはクレジットカードをご利用ください。
                </p>
            </div>
            <div class="sec mt20">
                <h4 class="h4_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <p class="mt10">
                    各種クレジットカードがご使用いただけます。
                </p>
                <img class="mt10" src="{{ app.config.front_urlpath }}/img/guide/guide_img304.gif" />
            </div>
            
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
        </div>
        
        <div class="gb_line mt50"></div>
        
        <div id="change" class="cont mt20">
            <h3 class="h3_title">
                <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
            </h3>
            <p class="mt10">
                商品には万全を期しておりますが、万が一、商品開封時に破損などございましたらご連絡ください。新しいものと交換させていただきます。<br>
                お客様のご都合による返品につきましては、お受けしかねます。<br>
                不良品の返品の期間につきましては、商品到着後3日以内にご連絡をお願いいたします。<br>
                <br>
                ご注文すぐのキャンセルはキャンセル料無料で対応させていただきますが、即日発送をする場合がございますので、ご連絡はお急ぎください。<br>
                即日発送のご注文の場合はご注文日の平日正午までにご連絡ください。発送作業後のキャンセルはお受けできません。<br>
                <br>
                何らかのご事情で、お届け先様がお受取りをご辞退された場合でも、すでに発送済みの商品のキャンセルは承ることができません。<br>
                お届け先様のご意志やご在宅状況などご配慮の上、ご注文いただければ幸いです。<br>
                万が一、お届け先様がお受取りをご辞退された場合は、ご注文の商品はご注文主様のご住所に転送させていただきます。<br>
                ご了承いただければ幸いです。
            </p>
            
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
        </div>
        
        <div class="gb_line mt50"></div>
        
        <div id="register" class="cont mt20">
            <h3 class="h3_title">
                <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
            </h3>
            <p class="mt10">
                何度もご利用いただく場合の商品購入には会員登録が便利です。<br>
                会員登録をされると次回以降の購入がスムーズになります！<br>
                会員登録をしなくても購入は可能ですが、ぜひ会員登録をお願いいたします。<br>
                会員になっていただければお得な情報が配信されるようになります。<br>
            </p>
            
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
        </div>
        
        <div class="gb_line mt50"></div>
        
        <div id="about" class="cont mt20 clearfix">
            <div class="cont">
                <h3 class="h3_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                </h3>
                <p class="mt10">
                    <img class="thumb" src="{{ app.config.front_urlpath }}/img/guide/guide_img601.jpg" alt=" "/>
                    当社は、四万十川の源流域に位置しており、昔から変わることのない美しい水の恵みを受けております。<br>
                    創業以来、徹底した生産管理にこだわる私達は、四万十川で採捕したうなぎの稚魚（シラスウナギ）を四万十川上流域の四万十町で養殖しています。<br>
                    立派に育ったうなぎは私達のもとで地下水で泳がせ、身を引き締めてから蒲焼きに仕上げます。<br>  
                    <br>
                    うなぎ一筋に歩んで来た私達はうなぎのおいしさへの追求では誰にも負けない自信を持っています。<br>
                    そんないぞっそう気質があってこそ生まれてくるおいしさが「四万十うなぎ株式会社」の蒲焼きです。<br>
                    養殖から加工・販売まで一貫したワンストップ体制。徹底した生産管理の四万十うなぎです。<br>
                    <br>
                    詳しくは、<a class="gb_link" href="#">こちら</a>へ。
                </p>
            </div>
            
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
        </div>
        
        <div class="gb_line mt50"></div>
        
        <div id="privacy" class="cont mt20">
            <h3 class="h3_title">
                <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
            </h3>
            <p class="mt10">
                当店では、お買い物やプレゼント応募・メールニュース購読等のサービスをご利用いただいたお客様の個人情報（住所、氏名、メールアドレスなど）について最大限の責任を持って安全に蓄積・保管しております。<br>
                個人情報は、当社の業務遂行のためにのみ利用し管理しています。個人情報は、事前の同意なく第三者への開示はいたしません。<br>
                <br>
                詳しくは、<a class="gb_link" href="#">こちら</a>へ。
            </p>
            
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
        </div>
        
        <div class="gb_line mt50"></div>
        
        <div id="settings" class="cont mt20">
            <h3 class="h3_title">
                <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
            </h3>
            <p class="mt10">
                本サイトを快適にご利用いただくには、以下のブラウザのご利用を推奨致します。<br>
                <br>
                ■ Windows<br>
                 Internet Explorer 6.x 以上 / Firefox 1.5x 以上<br>
                ■ Macintosh<br>
                 Safari 1.3 以上<br>
                <br>
                また、ご利用にあたり、以下の設定を推奨致します。<br>
                <br>
                 JavaScript を有効にする<br>
                 Cookie 利用を有効にする<br>
                 スタイルシートを有効にする
            </p>
        </div>
        
        <div class="row row_full mt20">
            <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
        </div>
    </div>
        
</div><!-- /.block_about -->
</div><!-- /.main_post -->
{% endblock %}
