{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = '' %}

{% block javascript %}

{% endblock %}

{% block main %}
<div class="main_post">

    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><span>個人情報保護方針について</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_static block_about gb_block privacy">
        <div class="block_ttl">
            <h2>
                <img src="{{ app.config.front_urlpath }}/img/about/h2_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h2_title.png" alt=" " class="sm" />
            </h2>
        </div>

        <div class="gb_line mt50"></div>

        <div class="block_cont">

            <div class="cont mt20">
                <h3 class="h3_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                </h3>
                <p class="mt10">
                    当社ではお客様に当店をご利用いただく際に、お客様の氏名、住所、電話番号、メールアドレスなどお取り引きやご連絡に必要な情報（以下「個人情報」といいます）を開示していただく必要がございます。<br>
                    <br>
                    当社では、個人情報保護法の趣旨のもと、以下のプライバシーポリシーに則って個人情報を取り扱います。
                </p>

            </div>

            <div class="gb_line mt50"></div>

            <div class="cont mt20">
                <h3 class="h3_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                </h3>
                <div>
                    <h4 class="mt20">【法令・規範の遵守】</h4>
                    <p class="alinea mt10">
                        当社は個人情報保護に関して適用される法令、国が定める指針その他の規範を遵守し、当社が保有する個人情報の保護に努めます。
                    </p>
                    <h4 class="mt20">【個人情報の取得、利用、提供】</h4>
                    <p class="alinea mt10">
                        当社は通信販売事業、店舗販売事業などを行う事業者として、個人情報の利用目的を明確に定め、その目的達成のために必要な範囲で、公正かつ適正な手段により適切な個人情報の取得、利用 及び 提供を行います。<br>
                        <br>
                        また、特定された利用目的の達成に必要な範囲を超えた個人情報の取り扱い（以下、”目的外利用”という。）を行わないとともに、目的外利用が行われないための措置を講じます。
                    </p>
                    <h4 class="mt20">【個人情報の管理】</h4>
                    <p class="alinea mt10">
                        当社が保有する個人情報の漏えい、滅失 又は き損等の防止に努め、厳正管理のもとで安全に蓄積、保管します。また、万一の発生時には速やかな是正措置を講じます。
                    </p>
                    <h4 class="mt20">【個人情報の外部委託】</h4>
                    <p class="alinea mt10">
                        個人情報の処理を外部に委託する場合には、漏えいや目的外利用を行わないように契約を義務付け、厳重な管理、指導を行います。
                    </p>
                    <h4 class="mt20">【個人情報の開示・訂正・利用停止】</h4>
                    <p class="alinea mt10">
                        当社の保有する個人情について、本人から開示・訂正・利用停止などの要求 及び 問い合わせ 又は 苦情 及び 相談があった場合には、適正に対応します。<br>
                        制定日　 2009.10.1<br>
                        <br>
                        四万十うなぎ株式会社　代表取締役　大前達也
                    </p>
                </div>

            </div>

            <div class="gb_line mt50"></div>

            <div class="cont mt20">
                <h3 class="h3_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                </h3>
                <div>
                    <h4 class="mt20">【個人情報の利用】</h4>
                    <p class="alinea mt10">
                        弊社は、以下の目的のために個人情報を利用します。
                    </p>
                    <ul class="numbers ml50">
                        <li>活鰻卸・加工商品及びこれに付随する商品（以下「商品」といいます）の配達</li>
                        <li>および代金の請求のため。</li>
                        <li>ご注文の内容や配達について連絡したり確認するため。</li>
                        <li>お客様に弊店の商品・サービスのご案内をするため。</li>
                        <li>弊店のサービス改善を行うため。</li>
                        <li>お客様からのご要望、お問い合わせに対して回答をするため。</li>
                    </ul>
                    <h4 class="mt20">【個人情報の管理ついて】</h4>
                    <p class="alinea mt10">
                        弊店は、以下の体制で個人情報を管理します。
                    </p>
                    <ul class="normal ml50">
                        <li>個人情報保護法などの法令・ガイドライン（以下「法令等」といいます）を遵守して、個人情報を取り扱います。</li>
                    </ul>
                    <h4 class="mt20">【第三者提供について】</h4>
                    <p class="alinea mt10">
                        当社がお客様から取得させていただいた個人情報は、下記のいずれかに該当する場合を除き、第三者に提供、開示などをすることはありません。
                    </p>
                    <ul class="numbers ml50">
                        <li>法令などに基づく場合。</li>
                        <li>お客様の事前の承認、同意を得た場合。</li>
                        <li>当社運営店舗に対し、お客様に明示した利用目的の達成に必要な範囲で提供し、共同利用する場合。</li>
                        <li>お客様及び第三者の生命、身体、財産など公共の利益またはお客様の利益のため必要であると判断した場合。</li>
                        <li>当社及び当社運営店舗が合併、分社化、営業譲渡により事業が継承され個人情報を引き継ぐ場合。</li>
                        <li>個人情報の外部委託</li>
                    </ul>
                    <p class="alinea mt10">
                        弊社がお客様から取得させていただいた個人情報は、個人情報に関する機密保持契約を締結している業務委託会社に委託することがあります。お客様に明示した利用目的の達成に必要な範囲で個人情報の取り扱いを委託する場合を除き委託をすることはありません。弊店に提供される情報については弊店の定めるプライバシーの考え方に従って、厳重な管理体制を採ることを義務付けております。
                    </p>
                    <h4 class="mt20">【個人情報の開示について】</h4>
                    <p class="alinea mt10">
                        弊店は、お客様の同意がない限り、個人情報を第三者に開示することはありません。<br>
                        ただし、以下の事例に該当する場合はその限りではありません。
                    </p>
                    <ul class="normal ml50">
                        <li>法令に基づき裁判所や警察等の公的機関から要請があった場合</li>
                        <li>法令に特別の規定がある場合</li>
                        <li>お客様や第三者の生命・身体・財産を損なうおそれがあり、本人の同意を得ることができない場合</li>
                        <li>法令や当社のご利用規約・注意事項に反する行動から、弊店の権利、財産またはサービスを保護または防禦する必要があり、本人の同意を得ることができない場合</li>
                    </ul>
                    <p class="alinea mt10">
                        お客様から個人情報の開示要求があった場合は、本人であることが確認できた場合に限り開示します。<br>
                        <br>
                        注：本人確認の方法<br>
                         本人であることが証明できるもの（免許証、保険証など）の写しを、弊店宛にご郵送ください。
                        <br>
                         内容を確認させていただき、本人であることが明確になり次第、開示させていただきます。
                    </p>
                    <h4 class="mt20">【情報の削除】</h4>
                    <p class="alinea mt10">
                        お客さまより個人情報削除のお申し出がありました場合は、速やかに記録を削除いたします。
                    </p>
                    <h4 class="mt20">【Cookieについて】</h4>
                    <p class="alinea mt10">
                        お客様が本サイトをご利用する過程で、サイト運営のためにお客様の「Cookie情報」を取得する場合があります。<br>
                        <br>
                        「Cookie情報」とは、お客様が当社のウェブサイトを再度訪問されたときなどに、より便利に閲覧して頂くため、お客様がご使用のコンピュータを識別するデータのことです。お客様のコンピュータを識別することはできますが、お客様自身を識別することはできません。<br>
                        <br>
                        本サイトのカートは、利便性を考慮してCookieを使用しておりますが、データはお客様のコンピュータに保存され、弊社のサーバー側では記録しておりません。お客様がご使用になるインターネット閲覧ソフト（ブラウザ）の設定を変更することにより、Cookieを拒否するように設定することもできますが、その場合ウェブサイトを十分に活用できなくなる可能性があります。これにより当社ウェブサイト、またはウェブサイトにおけるサービスを正常にご利用頂けない場合がございますので、予めご了承ください。
                    </p>
                    <h4 class="mt20">【Google Analyticsについて】</h4>
                    <p class="alinea mt10">
                        当社のウェブサイトには、Google Analyticsを使用しているページがあります。<br>
                        <br>
                        Google Analyticsとは、特定のページに何回のアクセスが行われたかを知るための技術のことです。<br>
                        <br>
                        当社はウェブサイトの利用状況に関する統計をとり、ウェブページをはじめ、製品やサービスをより良いものに改善することを目的としてGoogle Analyticsを使用しています。<br>
                        <br>
                        Google Analyticsを用いて取得された情報には、個人を特定するような情報は一切含まれておりません。
                    </p>
                </div>

                <div class="privacy-consulting mt50">
                    <h4>個人情報お客様相談室</h4>
                    <p class="mt20">
                        <span class="bold">電話番号　088-022-1468 メールアドレス<br class="sm"> <a href="#" class="gb_link">info@shimanto-unagi.com</a></span><br>
                        <br>
                        こちらの<a href="{{ url('contact') }}" class="gb_link">お問い合わせフォーム</a>からもお問い合わせできます。<br>
                        <br>
                        ※受付時間は平日午前10時から午後5時まで。詳しくはこちらの左側の営業日カレンダーをご確認ください。
                    </p>
                </div>

            </div>

        </div>

    </div><!-- /.block_about -->

</div><!-- /.main_post -->
{% endblock %}
