{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = '' %}

{% block javascript %}

{% endblock %}

{% block main %}
<div class="main_post">

    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><span>特定商取引法に関する表示</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_order block_about gb_block">
        <div class="block_ttl">
            <h2>
                <img src="{{ app.config.front_urlpath }}/img/about/h2_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h2_title.png" alt=" " class="sm" />
            </h2>
        </div>

        <div class="md mt30">
            <div class="tb_contact_form tb fms mt10">
                <div class="tr">
                    <div class="th">販売業者名</div>
                    <div class="td">四万十うなぎ株式会社</div>
                </div>
                <div class="tr">
                    <div class="th">販売責任者</div>
                    <div class="td">代表取締役　大前 達也　（おおまえ　たつや）</div>
                </div>
                <div class="tr">
                    <div class="th">運営責任者</div>
                    <div class="td">須江 佐和　(すえ さわ)</div>
                </div>
                <div class="tr">
                    <div class="th">業種</div>
                    <div class="td">シラス・養鰻・活鰻・加工・販売・飲食 （うなきち）</div>
                </div>
                <div class="tr">
                    <div class="th">所在地</div>
                    <div class="td">
                        【本社】<br>
                        〒786-0002　高知県高岡郡四万十町見付896-6<br>
                        TEL.0880-22-1468　FAX.0880-22-2502<br>
                        <br>
                        【四万十町下田出張所】<br>
                        高知県四万十市下田4317-3<br>
                        TEL.0880-33-1223<br>
                        <br>
                        【うなきち】<br>
                        高知県高岡郡四万十町本町11-14<br>
                        TEL.0880-22-2138<br>
                    </div>
                </div>
                <div class="tr">
                    <div class="th">お問い合わせ先</div>
                    <div class="td">
                        <table class="text-left">
                            <tr>
                                <th>電話番号</th>
                                <td>088-803-7108</td>
                            </tr>
                            <tr>
                                <th>メールアドレス</th>
                                <td>info@shimanto-unagi.com</td>
                            </tr>
                        </table>	
                        <br>
                        <a href="#" class="gb_link">こちら</a>のお問い合わせフォームからもお問い合わせできます。<br>
                        <br>
                        ※受付時間は平日午前10時から午後5時まで。<br>
                        詳しくはこちらの左側の営業日カレンダーをご確認ください。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">販売価格</div>
                    <div class="td">
                        商品表示の価格はすべて送料・代金引換手数料・銀行振込手数料別の価格です。<br>
                        （消費税5%込）
                    </div>
                </div>
                <div class="tr">
                    <div class="th">商品代金以外の必要料金</div>
                    <div class="td">
                        商品代金以外に、送料が必要になります。<br>
                        支払方法によっては代金引換手数料や銀行振込手数料等がかかります。<br>
                        <br>
                        ※送料については「はじめての方へ」の「2. 配送物の流れ」でご確認下さい。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">申込みの有効期限</div>
                    <div class="td">
                        掲載している商品は在庫がある場合いつでも購入できます。<br>
                        品切れの場合はメールまたは電話で御連絡いたします。<br>
                        販売期間を限っている商品については、当サイト上に記載された販売終了日時までとなります。<br>
                        銀行振込を選択されたお客様は、入金が確認できた段階でお申し込み完了となります。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">返品の取り扱い</div>
                    <div class="td">
                        食品をご注文の場合、その性質上原則としてお取り替え、返品はご容赦願います。<br>
                        また配送途中でのご注文の変更、キャンセルはご容赦ください。<br>
                        ただし次の場合は商品受領後3日以内にご連絡下さい。   <br>
                        <br>
                        <ul class="normal ml20">
                            <li>お申込商品と明らかに異なる場合</li>
                            <li>
                                お届け時に破損や汚損、腐食など商品が劣化していた場合。<br>
                                ただし、以下の場合は返品・交換を受け付けられません。
                            </li>
                            <li>お届け後、3日以上経過した場合</li>
                            <li>お客様が汚損、破損した場合</li>
                        </ul>
                        <br>
                        返送方法と返送料ご返送の場合メールか電話にてまずはご連絡ください。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">返品期限</div>
                    <div class="td">
                        商品が生鮮食料品のため、お客様の御都合による返品・交換は御容赦ください。<br>
                        弊社の不手際による場合、3日以内の返品をお願いいたします。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">返品送料</div>
                    <div class="td">
                        お客様のご都合による場合は、送料はお客様がご負担下さい。<br>
                        弊社の不手際による場合は、弊社が負担いたします。<br>
                        弊社負担の場合の送料は「料金着払い」をご指定下さい。<br>
                        その後、送付伝票に返送の理由をご記入の上、商品と共に宅急便や郵便小包にて、弊社所在地までご返送下さい。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">販売数量</div>
                    <div class="td">
                        お問い合わせにより、メールまたは電話でご連絡いたします。<br>
                        色・姿・形状などが掲載写真と多少異なる場合がございますのでご了承ください。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">引き渡し時期</div>
                    <div class="td">
                        お届け先は宅配便で7～10日をいただいております。産地より発送いたします。<br>
                        天候などによりお届けが若干遅れる場合もございますのでご了承ください。<br>
                        複数個ご注文の場合でも商品は個別に配送されます。<br>
                        商品によっては配達日に差が出る場合があります。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">お支払方法</div>
                    <div class="td">
                        <ul class="normal ml20">
                            <li>
                                商品代金引換<br>
                                （ヤマト運輸の宅急便コレクト、佐川急便のe-コレクト）
                            </li>
                            <li>銀行振込（高知銀行）</li>
                            <li>クレジットカード決済（VISA/MASTER/DINERS）</li>
                        </ul>
                        <br>
                        運送会社はヤマト運輸または、佐川急便を利用いたします。<br>
                        原則、運送業者のご指定は承っておりません。<br>
                        あらかじめ、ご了承ください
                    </div>
                </div>
                <div class="tr">
                    <div class="th">お支払期限</div>
                    <div class="td">
                        商品代金引換以外の後払いはいたしておりません。<br>
                        当ページでご注文の日より14日以内に商品を発送いたします。<br>
                        商品引渡時にお支払いください。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">銀行振込の場合</div>
                    <div class="td">
                        注文されてから7日以内にお振込ください。<br>
                        振込確認後14日以内に商品を発送いたします。<br>
                        商品によっては、まれに在庫切れになることがございますが、その際にはメールまたはお電話にてご連絡いたします。<br>
                        <br>
                        法人様の場合等で納品書・領収書が必要な際は、メールまたはお電話にてご連絡下さい。<br>
                        その際は部署名及びご担当者のお名前をお知らせください。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">
                        クレジットカード<br>
                        不正使用防止対策
                    </div>
                    <div class="td">
                        ご注文の際に、注文者様の本人確認（電話確認、身分証明書のFAX確認など）をお願いする場合もございます。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">キャンセル</div>
                    <div class="td">
                        <ul class="normal ml20">
                            <li>
                                ご注文後すぐのキャンセルはキャンセル料無料です。<br>
                                即日発送を可能にしておりますので、キャンセルの場合はお手数ですが、当平日の正午までにご連絡ください。
                            </li>
                            <li>
                                当日発送のご注文のキャンセルはできません。<br>
                                即発送のご注文の場合、ご注文とともに発送作業に入る可能性があるためです。<br>
                                即発送以外の場合はご相談ください。
                            </li>
                            <li>決済手数料など実費として、キャンセル料販売商品（送料・消費税含む）の30%をご負担いただきます。</li>
                            <li>
                                発送後のキャンセルはできません。<br>
                                返品に関しましては上記「返品の取扱い」をご参照ください。
                            </li>
                            <li>
                                お届け先様お受け取りご辞退の場合。<br>
                                何らかのご事情で、お届け先様がお受け取りをご辞退された場合でも、すでに発送済みの商品のキャンセルは承ることができません。<br>
                                お届け先様のご意志やご在宅状況などご配慮の上、ご注文いただければ幸いです。
                            </li>
                            <li>万一、お届け先様がお受け取りをご辞退された場合は、ご注文の商品はご注文主様のご住所に転送させていただきます。</li>
                            <br>
                            ご了承いただければ幸いです。
                        </ul>
                    </div>
                </div>
                <div class="tr">
                    <div class="th">取扱商品</div>
                    <div class="td">
                        活鰻卸・加工商品の全国通信販売
                    </div>
                </div>
                <div class="tr">
                    <div class="th">プライバシーポリシー</div>
                    <div class="td">
                        お客様からいただいた個人情報（お名前、メールアドレス、住所、電話番号、注文情報など）は、下記のいずれかに該当する場合を除き、第三者に提供、開示などをすることはありません。<br>
                        <br>
                        <ul class="numbers ml20">
                            <li>法令などに基づく場合。</li>
                            <li>お客様の事前の承認、同意を得た場合。</li>
                            <li>当社運営店舗に対し、お客様に明示した利用目的の達成に必要な範囲で提供し、共同利用する場合。</li>
                            <li>お客様及び第三者の生命、身体、財産など公共の利益またはお客様の利益のため必要であると判断した場合。</li>
                            <li>当社及び当社運営店舗が合併、分社化、営業譲渡により事業が継承され個人情報を引き継ぐ場合。</li>
                            <li>個人情報の外部委託</li>
                        </ul>
                        <br>
                        弊社がお客様から取得させていただいた個人情報は、個人情報に関する機密保持契約を締結している業務委託会社に委託することがあります。<br>
                        お客様に明示した利用目的の達成に必要な範囲で個人情報の取り扱いを委託する場合を除き委託をすることはありません。<br>
                        <br>
                        弊店に提供される情報については弊店の定めるプライバシーの考え方に従って、厳重な管理体制を採ることを義務付けております。
                    </div>
                </div>
                <div class="tr">
                    <div class="th">免責事項</div>
                    <div class="td">
                        天候不良や天災、配送途中における予測できない事由による商品延着につきましては免責とさせて頂きますが、お手元に商品が届くまでは、お客様がご安心出来ますように全力でサポートをさせて頂きます。<br>
                        <br>
                        <ul class="normal ml20">
                            <li>
                                本サイトに記載された情報の正確性について万全を期しておりますが、誤解を生みやすい記載や誤植を含む可能性があります<br>
                                その際に生じたいかなる損害に関しても、当社は責任を負いません。
                            </li>
                            <li>
                                掲載価格につきましても細心の注意を払っておりますが、万が一、人為的な誤りがあった場合はご容赦ください。<br>
                                価格の入力ミスの場合、ご注文の確定後であっても、ご注文を承れない場合がございます。<br>
                                その場合は、ご注文後に正規の価格をご連絡し、『ご購入の意思のご確認』をさせていただきます。(商品情報についてデッドリンク、間違った表記等がございましたらご一報いただければ幸いです。)
                            </li>
                            <li>
                                情報は予告なしに変更または更新されることがあり、当社は本サイトに記載された製品情報やプログラムを予告なしに変更することができます。
                            </li>
                            <li>
                                上記の事由に関わらず、本サイトの記載事項・リンク先にて発生した損害に付きましては一切の責任を負いかねます。
                            </li>
                            <li>
                                商品一覧表記とショッピングカート上の表記に差異が発生する場合があります。<br>
                                これはホームページの更新のタイミングによる誤差であり、基本はショッピングカートの情報を優先します。
                            </li>
                            <li>
                                商品発送時期に関しては細心の注意を払っておりますが、延着などによる二次的に発生する事由による一切の責は負いかねます。
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sm mt30">
            <div class="tb_contact_form_sm fms">
                <dl>
                    <dt>販売業者名</dt>
                    <dd>四万十うなぎ株式会社</dd>
                </dl>
                <dl>
                    <dt>販売責任者</dt>
                    <dd>代表取締役　大前 達也　（おおまえ　たつや）</dd>
                </dl>
                <dl>
                    <dt>運営責任者</dt>
                    <dd>須江 佐和　(すえ さわ)</dd>
                </dl>
                <dl>
                    <dt>業種</dt>
                    <dd>シラス・養鰻・活鰻・加工・販売・飲食 （うなきち）</dd>
                </dl>
                <dl>
                    <dt>所在地</dt>
                    <dd>
                        【本社】<br>
                        〒786-0002　高知県高岡郡四万十町見付896-6<br>
                        TEL.0880-22-1468　FAX.0880-22-2502<br>
                        <br>
                        【四万十町下田出張所】<br>
                        高知県四万十市下田4317-3<br>
                        TEL.0880-33-1223<br>
                        <br>
                        【うなきち】<br>
                        高知県高岡郡四万十町本町11-14<br>
                        TEL.0880-22-2138<br>
                    </dd>
                </dl>
                <dl>
                    <dt>お問い合わせ先</dt>
                    <dd>
                        <table class="text-left">
                            <tr>
                                <th>電話番号</th>
                                <td>088-803-7108</td>
                            </tr>
                            <tr>
                                <th>メールアドレス</th>
                                <td>info@shimanto-unagi.com</td>
                            </tr>
                        </table>	
                        <br>
                        <a href="#" class="gb_link">こちら</a>のお問い合わせフォームからもお問い合わせできます。<br>
                        <br>
                        ※受付時間は平日午前10時から午後5時まで。<br>
                        詳しくはこちらの左側の営業日カレンダーをご確認ください。
                    </dd>
                </dl>
                <dl>
                    <dt>販売価格</dt>
                    <dd>
                        商品表示の価格はすべて送料・代金引換手数料・銀行振込手数料別の価格です。<br>
                        （消費税5%込）
                    </dd>
                </dl>
                <dl>
                    <dt>商品代金以外の必要料金</dt>
                    <dd>
                        商品代金以外に、送料が必要になります。<br>
                        支払方法によっては代金引換手数料や銀行振込手数料等がかかります。<br>
                        <br>
                        ※送料については「はじめての方へ」の「2. 配送物の流れ」でご確認下さい。
                    </dd>
                </dl>
                <dl>
                    <dt>申込みの有効期限</dt>
                    <dd>
                        掲載している商品は在庫がある場合いつでも購入できます。<br>
                        品切れの場合はメールまたは電話で御連絡いたします。<br>
                        販売期間を限っている商品については、当サイト上に記載された販売終了日時までとなります。<br>
                        銀行振込を選択されたお客様は、入金が確認できた段階でお申し込み完了となります。
                    </dd>
                </dl>
                <dl>
                    <dt>返品の取り扱い</dt>
                    <dd>
                        食品をご注文の場合、その性質上原則としてお取り替え、返品はご容赦願います。<br>
                        また配送途中でのご注文の変更、キャンセルはご容赦ください。<br>
                        ただし次の場合は商品受領後3日以内にご連絡下さい。   <br>
                        <br>
                        <ul class="normal ml20">
                            <li>お申込商品と明らかに異なる場合</li>
                            <li>
                                お届け時に破損や汚損、腐食など商品が劣化していた場合。<br>
                                ただし、以下の場合は返品・交換を受け付けられません。
                            </li>
                            <li>お届け後、3日以上経過した場合</li>
                            <li>お客様が汚損、破損した場合</li>
                        </ul>
                        <br>
                        返送方法と返送料ご返送の場合メールか電話にてまずはご連絡ください。
                    </dd>
                </dl>
                <dl>
                    <dt>返品期限</dt>
                    <dd>
                        商品が生鮮食料品のため、お客様の御都合による返品・交換は御容赦ください。<br>
                        弊社の不手際による場合、3日以内の返品をお願いいたします。
                    </dd>
                </dl>
                <dl>
                    <dt>返品送料</dt>
                    <dd>
                        お客様のご都合による場合は、送料はお客様がご負担下さい。<br>
                        弊社の不手際による場合は、弊社が負担いたします。<br>
                        弊社負担の場合の送料は「料金着払い」をご指定下さい。<br>
                        その後、送付伝票に返送の理由をご記入の上、商品と共に宅急便や郵便小包にて、弊社所在地までご返送下さい。
                    </dd>
                </dl>
                <dl>
                    <dt>販売数量</dt>
                    <dd>
                        お問い合わせにより、メールまたは電話でご連絡いたします。<br>
                        色・姿・形状などが掲載写真と多少異なる場合がございますのでご了承ください。
                    </dd>
                </dl>
                <dl>
                    <dt>引き渡し時期</dt>
                    <dd>
                        お届け先は宅配便で7～10日をいただいております。産地より発送いたします。<br>
                        天候などによりお届けが若干遅れる場合もございますのでご了承ください。<br>
                        複数個ご注文の場合でも商品は個別に配送されます。<br>
                        商品によっては配達日に差が出る場合があります。
                    </dd>
                </dl>
                <dl>
                    <dt>お支払方法</dt>
                    <dd>
                        <ul class="normal ml20">
                            <li>
                                商品代金引換<br>
                                （ヤマト運輸の宅急便コレクト、佐川急便のe-コレクト）
                            </li>
                            <li>銀行振込（高知銀行）</li>
                            <li>クレジットカード決済（VISA/MASTER/DINERS）</li>
                        </ul>
                        <br>
                        運送会社はヤマト運輸または、佐川急便を利用いたします。<br>
                        原則、運送業者のご指定は承っておりません。<br>
                        あらかじめ、ご了承ください
                    </dd>
                </dl>
                <dl>
                    <dt>お支払期限</dt>
                    <dd>
                        商品代金引換以外の後払いはいたしておりません。<br>
                        当ページでご注文の日より14日以内に商品を発送いたします。<br>
                        商品引渡時にお支払いください。
                    </dd>
                </dl>
                <dl>
                    <dt>銀行振込の場合</dt>
                    <dd>
                        注文されてから7日以内にお振込ください。<br>
                        振込確認後14日以内に商品を発送いたします。<br>
                        商品によっては、まれに在庫切れになることがございますが、その際にはメールまたはお電話にてご連絡いたします。<br>
                        <br>
                        法人様の場合等で納品書・領収書が必要な際は、メールまたはお電話にてご連絡下さい。<br>
                        その際は部署名及びご担当者のお名前をお知らせください。
                    </dd>
                </dl>
                <dl>
                    <dt>
                        クレジットカード<br>
                        不正使用防止対策
                    </dt>
                    <dd>
                        ご注文の際に、注文者様の本人確認（電話確認、身分証明書のFAX確認など）をお願いする場合もございます。
                    </dd>
                </dl>
                <dl>
                    <dt>キャンセル</dt>
                    <dd>
                        <ul class="normal ml20">
                            <li>
                                ご注文後すぐのキャンセルはキャンセル料無料です。<br>
                                即日発送を可能にしておりますので、キャンセルの場合はお手数ですが、当平日の正午までにご連絡ください。
                            </li>
                            <li>
                                当日発送のご注文のキャンセルはできません。<br>
                                即発送のご注文の場合、ご注文とともに発送作業に入る可能性があるためです。<br>
                                即発送以外の場合はご相談ください。
                            </li>
                            <li>決済手数料など実費として、キャンセル料販売商品（送料・消費税含む）の30%をご負担いただきます。</li>
                            <li>
                                発送後のキャンセルはできません。<br>
                                返品に関しましては上記「返品の取扱い」をご参照ください。
                            </li>
                            <li>
                                お届け先様お受け取りご辞退の場合。<br>
                                何らかのご事情で、お届け先様がお受け取りをご辞退された場合でも、すでに発送済みの商品のキャンセルは承ることができません。<br>
                                お届け先様のご意志やご在宅状況などご配慮の上、ご注文いただければ幸いです。
                            </li>
                            <li>万一、お届け先様がお受け取りをご辞退された場合は、ご注文の商品はご注文主様のご住所に転送させていただきます。</li>
                            <br>
                            ご了承いただければ幸いです。
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>取扱商品</dt>
                    <dd>
                        活鰻卸・加工商品の全国通信販売
                    </dd>
                </dl>
                <dl>
                    <dt>プライバシーポリシー</dt>
                    <dd>
                        お客様からいただいた個人情報（お名前、メールアドレス、住所、電話番号、注文情報など）は、下記のいずれかに該当する場合を除き、第三者に提供、開示などをすることはありません。<br>
                        <br>
                        <ul class="numbers ml20">
                            <li>法令などに基づく場合。</li>
                            <li>お客様の事前の承認、同意を得た場合。</li>
                            <li>当社運営店舗に対し、お客様に明示した利用目的の達成に必要な範囲で提供し、共同利用する場合。</li>
                            <li>お客様及び第三者の生命、身体、財産など公共の利益またはお客様の利益のため必要であると判断した場合。</li>
                            <li>当社及び当社運営店舗が合併、分社化、営業譲渡により事業が継承され個人情報を引き継ぐ場合。</li>
                            <li>個人情報の外部委託</li>
                        </ul>
                        <br>
                        弊社がお客様から取得させていただいた個人情報は、個人情報に関する機密保持契約を締結している業務委託会社に委託することがあります。<br>
                        お客様に明示した利用目的の達成に必要な範囲で個人情報の取り扱いを委託する場合を除き委託をすることはありません。<br>
                        <br>
                        弊店に提供される情報については弊店の定めるプライバシーの考え方に従って、厳重な管理体制を採ることを義務付けております。
                    </dd>
                </dl>
                <dl>
                    <dt>免責事項</dt>
                    <dd>
                        天候不良や天災、配送途中における予測できない事由による商品延着につきましては免責とさせて頂きますが、お手元に商品が届くまでは、お客様がご安心出来ますように全力でサポートをさせて頂きます。<br>
                        <br>
                        <ul class="normal ml20">
                            <li>
                                本サイトに記載された情報の正確性について万全を期しておりますが、誤解を生みやすい記載や誤植を含む可能性があります<br>
                                その際に生じたいかなる損害に関しても、当社は責任を負いません。
                            </li>
                            <li>
                                掲載価格につきましても細心の注意を払っておりますが、万が一、人為的な誤りがあった場合はご容赦ください。<br>
                                価格の入力ミスの場合、ご注文の確定後であっても、ご注文を承れない場合がございます。<br>
                                その場合は、ご注文後に正規の価格をご連絡し、『ご購入の意思のご確認』をさせていただきます。(商品情報についてデッドリンク、間違った表記等がございましたらご一報いただければ幸いです。)
                            </li>
                            <li>
                                情報は予告なしに変更または更新されることがあり、当社は本サイトに記載された製品情報やプログラムを予告なしに変更することができます。
                            </li>
                            <li>
                                上記の事由に関わらず、本サイトの記載事項・リンク先にて発生した損害に付きましては一切の責任を負いかねます。
                            </li>
                            <li>
                                商品一覧表記とショッピングカート上の表記に差異が発生する場合があります。<br>
                                これはホームページの更新のタイミングによる誤差であり、基本はショッピングカートの情報を優先します。
                            </li>
                            <li>
                                商品発送時期に関しては細心の注意を払っておりますが、延着などによる二次的に発生する事由による一切の責は負いかねます。
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>

    </div><!-- /.block_about -->

</div><!-- /.main_post -->
{% endblock %}
