.datepicker {
	margin: 0 auto;
}

.datepicker table tr td.disabled {
	border-radius: 0;
	background-color: #ddd;
}

.datepicker table tr td.new, .datepicker table tr td.old {
	color: #999;
	background-color: #fff;
}