{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="../">TOP</a></li><li><a href="./">買い物カゴ</a></li><li><span>ご注文完了</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_shopping block_about gb_block complete">
        <img src="{{ app.config.front_urlpath }}/img/shopping/flow04.gif" alt="" />
        <h2 class="mt20">
            <img src="{{ app.config.front_urlpath }}/img/shopping/h2_complete.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/shopping/sm/h2_complete.png" alt=" " class="sm">
        </h2>
        <div class="row mt30">
            <span class="red">四万十うなぎオンラインショップの商品をご購入いただき、ありがとうございました。</span>
            <p class="mt10">※商品のご注文につきまして、その性質上原則としてお取り替え、返品はご容赦願います。<br>詳細についてはこちらをご覧ください。</p>
            <p class="mt10">ただいま、ご注文の確認メールをお送りさせていただきました。<br>万一、ご確認メールが届かない場合は、トラブルの可能性もありますので大変お手数ではございますがもう一度お問い合わせいただくか、お電話にてお問い合わせくださいませ。<br>今後ともご愛顧賜りますようよろしくお願い申し上げます。</p>
            <p class="mt10 mb20">四万十うなぎオンラインショップ<br>TEL：088-803-7108 （受付時間/午前10時～午後5時）<br>E-mail：<a class="gb_link" href="mailto:info@shimanto-unagi.com">info@shimanto-unagi.com</a></p>
        </div>
        <div class="row row_full">
            <a href="#" class="gb_btn btn_L"><span>トップページへ</span></a>
        </div>
    </div><!-- /.block_about -->
</div><!-- /.main_post -->
{% endblock %}
