{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block javascript %}
<script>
$(function() {

    $('.delivery').on('change', function() {
        $('#shopping-form').attr('action', '{{ url("shopping_delivery") }}').submit();
    });

    $('.payment').on('change', function() {
        $('#shopping-form').attr('action', '{{ url("shopping_payment") }}').submit();
    });

    $('.btn-shipping').click(function() {
        $('#shopping-form').attr('action', $(this).attr('href')).submit();
        $('#shopping-form').attr('action', '{{ url("shopping_confirm") }}');
        return false;
    });

    $('.btn-shipping-edit').click(function() {
        $('#shopping-form').attr('action', $(this).attr('href')).submit();
        $('#shopping-form').attr('action', '{{ url("shopping_confirm") }}');
        return false;
    });

    $('.btn-shipping-multiple').click(function() {
        $('#shopping-form').attr('action', $(this).attr('href')).submit();
        $('#shopping-form').attr('action', '{{ url("shopping_confirm") }}');
        return false;
    });

    {% if is_granted('ROLE_USER') == false %}
        var ref = [];
        var name = [];
        var input = [];
        var customerin = [];

        $('#customer').click(function() {
            // ref = $('.customer-name01');
            var edit = $('.customer-edit');
            var hidden = $('.customer-in');

            $(edit).each(function(index) {
                ref[index] = $(this);
            });
            $(hidden).each(function(index) {
                customerin[index] = $(this);
            });
            $(ref).each(function(index) {
                name[index] = $(this).text();
            });
            $(name).each(function(index) {
                input[index] = $('<input id="edit' + index + '" type="text" />').val(name[index]);
            });
            $(input).each(function(index) {
                ref[index].empty().append(input[index]);
            });

            $('#customer').prop("disabled", true);
            $('.mod-button').show();
        });

        $('#customer-ok').click(function() {
            $(ref).each(function(index) {
                var nameAfter = input[index].val();
                ref[index].empty().text(nameAfter);
                customerin[index].val(nameAfter);
                input[index].remove();
            });

            var postData = {};
            $('.customer-in').each(function() {
                postData[$(this).attr('name')] = $(this).val();
            });

            $.ajax({
                url: "{{ url('shopping_customer') }}",
                type: 'POST',
                data: postData,
                dataType: 'json',
            }).done(function(){
            }).fail(function(){
                alert('更新に失敗しました。入力内容を確認してください。');
                $(ref).each(function(index) {
                    ref[index].empty().text(name[index]);
                    input[index].remove();
                });
            });

            $('#customer').prop("disabled", false);
            $('.mod-button').hide();
        });

        $('#customer-cancel').click(function() {
            $(ref).each(function(index) {
                ref[index].empty().text(name[index]);
                input[index].remove();
            });

            $('#customer').prop("disabled", false);
            $('.mod-button').hide();
        });
    {% endif %}

});
</script>
{% endblock javascript %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('homepage') }}cart">買い物カゴ</a></li><li><span>注文内容確認</span></li>
        </ul>
    </div><!-- /.block_pathway -->
    <form id="shopping-form" method="post" action="{{ url('shopping_confirm') }}">
        {{ form_widget(form._token) }}
        <input type="hidden" id="customer-name01" class="customer-in" name="customer_name01" value="{{ Order.name01 }}">
        <input type="hidden" id="customer-name02" class="customer-in" name="customer_name02" value="{{ Order.name02 }}">
        <input type="hidden" id="customer-zip01" class="customer-in" name="customer_zip01" value="{{ Order.zip01 }}">
        <input type="hidden" id="customer-zip02" class="customer-in" name="customer_zip02" value="{{ Order.zip02 }}">
        <input type="hidden" id="customer-pref" class="customer-in" name="customer_pref" value="{{ Order.pref }}">
        <input type="hidden" id="customer-addr01" class="customer-in" name="customer_addr01" value="{{ Order.addr01 }}">
        <input type="hidden" id="customer-addr02" class="customer-in" name="customer_addr02" value="{{ Order.addr02 }}">
        <input type="hidden" id="customer-tel01" class="customer-in" name="customer_tel01" value="{{ Order.tel01 }}">
        <input type="hidden" id="customer-tel02" class="customer-in" name="customer_tel02" value="{{ Order.tel02 }}">
        <input type="hidden" id="customer-tel03" class="customer-in" name="customer_tel03" value="{{ Order.tel03 }}">
        <input type="hidden" id="customer-email" class="customer-in" name="customer_email" value="{{ Order.email }}">
        <input type="hidden" id="customer-company-name" class="customer-in" name="customer_company_name" value="{{ Order.companyName }}">

        <div class="mod_shopping block_about gb_block">
            <img src="{{ app.config.front_urlpath }}/img/shopping/flow03.gif" alt="" />
            <h2 class="mt20">
                <img src="{{ app.config.front_urlpath }}/img/shopping/h2_confirm.png" alt=" " class="md">
                <img src="{{ app.config.front_urlpath }}/img/shopping/sm/h2_confirm.png" alt=" " class="sm">
            </h2>
            <p class="mt30">下記ご注文内容で送信してもよろしいでしょうか？<br>よろしければ、一番下の「ご注文完了ページへ」ボタンをクリックしてください。</p>
            
            <h3 class="h3_title mt30">
                <img src="{{ app.config.front_urlpath }}/img/shopping/h3_confirm_01.png" alt=" " class="md">
                <img src="{{ app.config.front_urlpath }}/img/shopping/sm/h3_confirm_01.png" alt=" " class="sm">
            </h3>
            
            <table class="table_content mt10">
                <tr>
                    <th class="image"><img src="{{ app.config.front_urlpath }}/img/cart/image.gif" alt="商品画像" /></th>
                    <th class="name"><img src="{{ app.config.front_urlpath }}/img/cart/name.gif" alt="商品名" /></th>
                    <th class="price"><img src="{{ app.config.front_urlpath }}/img/cart/price.gif" alt="価格" /></th>
                    <th class="quantity"><img src="{{ app.config.front_urlpath }}/img/cart/quantity.gif" alt="数量" /></th>
                    <th class="small-total"><img src="{{ app.config.front_urlpath }}/img/cart/small-total.gif" alt="小計" /></th>
                </tr>
                {% for orderDetail in Order.orderDetails %}
                    <tr>
                        <td><img class="cart-image" src="{{ app.config.image_save_urlpath }}/{{ orderDetail.product.MainListImage|no_image_product }}" alt="{{ orderDetail.productName }}" /></td>
                        <td class="bold">{{ orderDetail.productName }}</td>
                        <td>{{ orderDetail.priceIncTax|number_format }}円</td>
                        <td>{{ orderDetail.quantity|number_format }}</td>
                        <td>{{ orderDetail.totalPrice|number_format }}円</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="bold text-right" colspan="4">小計</td>
                    <td colspan="1">{{ Order.subtotal|number_format }}円</td>
                </tr>
                <tr>
                    <td class="bold text-right" colspan="4">送料</td>
                    <td colspan="1">{{ Order.deliveryFeeTotal|number_format }}円</td>
                </tr>
                <tr>
                    <td class="bold text-right" colspan="4">手数料</td>
                    <td colspan="1">{{ Order.charge|number_format }}円</td>
                </tr>
                <tr>
                    <td class="bold text-right" colspan="4">合計</td>
                    <td class="red" colspan="1">{{ Order.total|number_format }}円</td>
                </tr>
            </table>
            {% for shipping in Order.shippings %}
                {% set idx = loop.index0 %} 
                <h3 class="h3_title mt30">
                    <img src="{{ app.config.front_urlpath }}/img/shopping/h3_confirm_02.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/shopping/sm/h3_confirm_02.png" alt=" " class="sm">
                </h3>
                
                    <div class="md mt10">
                        <div class="tb_contact_form tb fms">
                            <div class="tr">
                                <div class="th">お名前</div>
                                <div class="td">{{ shipping.name01 }} {{ shipping.name02 }}</div>
                            </div>
                            <div class="tr">
                                <div class="th">お名前（フリガナ）</div>
                                <div class="td">{{ shipping.kana01 }} {{ shipping.kana02 }}</div>
                            </div>
                            <div class="tr">
                                <div class="th">郵便番号</div>
                                <div class="td">〒{{ shipping.zip01 }}-{{ shipping.zip02 }}</div>
                            </div>
                            <div class="tr">
                                <div class="th">住所</div>
                                <div class="td">{{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}</div>
                            </div>
                            <div class="tr">
                                <div class="th">電話番号</div>
                                <div class="td">{{ shipping.tel01 }}-{{ shipping.tel02 }}-{{ shipping.tel03 }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="sm">
                        <div class="tb_contact_form_sm fms">
                            <dl>
                                <dt>お名前</dt>
                                <dd>{{ shipping.name01 }} {{ shipping.name02 }}</dd>
                            </dl>
                            <dl>
                                <dt>お名前（フリガナ）</dt>
                                <dd>{{ shipping.kana01 }} {{ shipping.kana02 }}</dd>
                            </dl>
                            <dl>
                                <dt>郵便番号</dt>
                                <dd>〒{{ shipping.zip01 }}-{{ shipping.zip02 }}</dd>
                            </dl>
                            <dl>
                                <dt>住所</dt>
                                <dd>{{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}</dd>
                            </dl>
                            <dl>
                                <dt>電話番号</dt>
                                <dd>{{ shipping.tel01 }}-{{ shipping.tel02 }}-{{ shipping.tel03 }}</dd>
                            </dl>
                        </div>
                    </div>
                
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ url('shopping_shipping_change', {'id': shipping.id}) }}" class="btn btn-default btn-sm btn-shipping-multiple">お届け先を変更する</a>
                {% else %}
                    <a href="{{ url('shopping_nonmember') }}" class="btn btn-default btn-sm btn-shipping-multiple">お届け先を変更する</a>
                {% endif %}
                <h3 class="h3_title mt30">
                    <img src="{{ app.config.front_urlpath }}/img/shopping/h3_confirm_03.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/shopping/sm/h3_confirm_03.png" alt=" " class="sm">
                </h3>
                <div class="md mt10">
                    <div class="tb_contact_form tb fms">
                        <div class="tr">
                            <div class="th">お支払方法</div>
                            <div class="td">
                                <ul id="payment_list__list" class="payment_list">
                                {% for key, child in form.payment %}
                                <li>
                                    {{ form_widget(child, {'attr': {'class': 'payment' }}) }}
                                    {% if form.payment.vars.choices[key].data.payment_image is not null %}
                                    <img src="{{ app.config.image_save_urlpath }}/{{ form.payment.vars.choices[key].data.payment_image }}">
                                    {% endif %}
                                </li>
                                {% endfor %}
                                {{ form_errors(form.payment) }}
                                </ul>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="th">お届け日</div>
                            <div class="td">{{ form_widget(form.shippings[0].shippingDeliveryDate, {attr : {class : 'text_input'}}) }}</div>
                        </div>
                        <div class="tr">
                            <div class="th">配送方法</div>
                            <div class="td">
                                {{ form_widget(form.shippings[0].delivery, {attr : {class : 'text_input'}}) }}
                                {{ form_errors(form.shippings[0].delivery) }}
                            </div>
                        </div>
                        <div class="tr">
                            <div class="th">お届け時間</div>
                            <div class="td">{{ form_widget(form.shippings[0].deliveryTime, {attr : {class : 'text_input'}}) }}</div>
                        </div>
                        <div class="tr tr_space vtop">
                            <div class="th">その他お問い合わせ</div>
                            <div class="td">{{ form_widget(form.message, {'attr': {'placeholder': 'お問い合わせ事項がございましたら、こちらにご入力ください。(3000文字まで)', 'rows': '6', class : 'text_area'}}) }}
                            {{ form_errors(form.message) }}</div>
                        </div>
                    </div>
                </div>
                <div class="sm">
                    <div class="tb_contact_form_sm fms">
                        <dl>
                            <dt>お支払方法</dt>
                            <dd>
                                <ul id="payment_list__list" class="payment_list">
                                {% for key, child in form.payment %}
                                <li>
                                    {{ form_widget(child, {'attr': {'class': 'payment' }}) }}
                                    {% if form.payment.vars.choices[key].data.payment_image is not null %}
                                    <img src="{{ app.config.image_save_urlpath }}/{{ form.payment.vars.choices[key].data.payment_image }}">
                                    {% endif %}
                                </li>
                                {% endfor %}
                                {{ form_errors(form.payment) }}
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>お届け日</dt>
                            <dd>{{ form_widget(form.shippings[0].shippingDeliveryDate) }}</dd>
                        </dl>
                        <dl>
                            <dt>お届け時間</dt>
                            <dd>{{ form_widget(form.shippings[0].deliveryTime) }}</dd>
                        </dl>
                        <dl>
                            <dt>その他お問い合わせ</dt>
                            <dd>{{ form_widget(form.message, {'attr': {'placeholder': 'お問い合わせ事項がございましたら、こちらにご入力ください。(3000文字まで)', 'rows': '6'}}) }}
                            {{ form_errors(form.message) }}</dd>
                        </dl>
                    </div>
                </div>
            {% endfor %}
            <div class="extra-form column">
                {% for f in form.getIterator %}
                    {% if f.vars.name matches '[^plg*]' %}
                        {{ form_row(f) }}
                    {% endif %}
                {% endfor %}
            </div>
            
            <div class="row row_half clearfix mt20">
                <div class="col">
                    <a href="{{ url('homepage') }}/cart" class="gb_btn btn_M"><span>前のページへ戻る</span></a>
                </div>
                <div class="col">
                    <input type="submit" class="gb_btn btn_M hover" value="ご注文完了ページへ">
                    <!--<a href="#" class="gb_btn btn_M hover"><span>ご注文完了ページへ</span></a>-->
                </div>
            </div>
            
        </div><!-- /.block_about -->
    </form>

</div><!-- /.main_post -->
{% endblock %}