{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="./">買い物カゴ</a></li><li><span>ログイン</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_shopping block_about gb_block">
        <h2 class="mt10">
            <img src="{{ app.config.front_urlpath }}/img/shopping/h2_login.png" alt=" " class="md">
            <img src="{{ app.config.front_urlpath }}/img/shopping/sm/h2_login.png" alt=" " class="sm">
        </h2>
        <ul class="gb_list mt20 no-decoration">
            <li>
                <span class="item">すでに登録されているお客様</span>
            </li>
        </ul>
        <p class="mt10">会員の方は、登録時に入力されたメールアドレスとパスワードでログインしてください。</p>
        <form action="{{ url('login_check') }}" method="post">
            <input type="hidden" name="_target_path" value="shopping" />
            <input type="hidden" name="_failure_path" value="shopping_login" />
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="mt30">
                <div class="tb_contact_form tb fms">
                    <div class="tr">
                        <div class="th">メールアドレス</div>
                        <div class="td">
                            <div class="group_textinput_plus">
                                {{ form_widget(form.login_email, {attr: {placeholder: 'メールアドレス'}}) }} 
                                <!--<label><input type="checkbox" name="login_memory">会員メールアドレスをコンピューターに記憶させる</label>-->
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <input type="hidden" name="login_memory" value="1">
                                {% else %}
                                    <label><input type="checkbox" id="login_memory" name="login_memory" value="1"> 会員メールアドレスをコンピューターに記憶させる</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">パスワード</div>
                        <div class="td">
                            <div class="group_textinput_plus">
                                {{ form_widget(form.login_pass, {attr: {placeholder: 'パスワード'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="sm mt30">
                <div class="tb_contact_form_sm fms">
                    <dl>
                        <dt>メールアドレス</dt>
                        <dd>
                            <div class="group_textinput_plus">
                                <input type="text" class="text_input"><br>
                                <label><input type="checkbox" name="login_memory">会員メールアドレスをコンピューターに記憶させる</label>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>パスワード</dt>
                        <dd>
                            <div class="group_textinput_plus">
                                <input type="password" class="text_input">
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            -->
            <p class="mt10">
                パスワードを忘れた方は<a href="{{ url('forgot') }}" class="gb_link">こちら</a>からパスワードの再発行を行ってください。<br>
                メールアドレスを忘れた方は、お手数ですが、<a href="{{ url('homepage') }}/contact" class="gb_link">お問い合わせページ</a>からお問い合せください。
            </p>

            <div class="row row_third clearfix text-center mt20">
                <div class="col">
                    <input type="submit" class="gb_btn btn_S hover" value="ログインする">
                    <!--<a href="#" class="gb_btn btn_S hover">
                        <span>ログインする</span>
                    </a>-->
                </div>
            </div>
            <!--
            <div class="row row_third clearfix mt20 sm">
                <div class="col">
                    <a href="" class="gb_btn btn_S">
                        <span>
                            <small>ログインする</small>
                        </span>
                    </a>
                </div>
            </div>
            -->
            {% if error %}
                <div id="customer_box__error_message" class="form-group">
                    <span class="text-danger">{{ error|trans|raw }}</span>
                </div>
            {% endif %}
        </form>
        
        <div class="gb_line"></div>
        
        <ul class="gb_list mt20 no-decoration">
            <li>
                <span class="item">まだ登録されていないお客様</span>
            </li>
        </ul>
        
        <p class="mt10">
            会員登録をすると便利なMyページをご利用いただけます。<br>
            また、ログインするだけで、毎回お名前や住所などを入力することなくスムーズにお買い物をお楽しみいただけます。
        </p>
        
        <div class="row row_third clearfix text-center mt20 md">
            <div class="col">
                <a href="{{ url('homepage') }}/help/agreement" class="gb_btn btn_S hover">
                    <span>登録手続きへ</span>
                </a>
            </div>
            <div class="col">
                <a href="{{ url('shopping_nonmember') }}" class="gb_btn btn_S hover">
                    <span>登録せず購入する</span>
                </a>
            </div>
        </div>
        
        <div class="row row_third clearfix mt20 sm">
            <div class="col">
                <a href="{{ url('entry') }}" class="gb_btn btn_S">
                    <span>
                        <small>登録手続きへ</small>
                    </span>
                </a>
            </div>
            <div class="col">
                <a href="{{ url('entry') }}" class="gb_btn btn_S">
                    <span>
                        <small>登録手続きへ</small>
                    </span>
                </a>
            </div>
        </div>
        
    </div><!-- /.block_about -->

</div><!-- /.main_post -->
{% endblock %}