{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block javascript %}
<script src="//ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script>
    $(function() {
        $('#zip-search').click(function() {
            AjaxZip3.zip2addr('nonmember[zip][zip01]', 'nonmember[zip][zip02]', 'nonmember[address][pref]', 'nonmember[address][addr01]');
        });
    });
</script>
{% endblock javascript %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('homepage') }}cart">買い物カゴ</a></li><li><span>お届け先指定</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_entry block_about gb_block register">
        <h2>
            <img src="{{ app.config.ftont_urlpath }}/img/mypage/h2_delivery.png" alt=" " class="md">
            <img src="{{ app.config.ftont_urlpath }}/img/mypage/sm/h2_delivery.png" alt=" " class="sm">
        </h2>
        <p class="mt20 pd10">
            下記項目にご入力ください。<br>
            入力後、一番下の「確認ページへ」ボタンをクリックしてください。
        </p>
        <form method="post" action="{{ url('shopping_nonmember') }}">
            {{ form_widget(form._token) }}
            <div>
                <div class="tb_contact_form tb fms">
                    <div class="tr">
                        <div class="th">{{ form_label(form.name) }}</div>
                        <div class="td">
                            <div class="group_textinput">
                                <label class="item"><span>姓</span>{{ form_widget(form.name.name01, {attr : {class : 'text_input', placeholder: '姓'}}) }}</label>
                                <label class="item"><span>名</span>{{ form_widget(form.name.name02, {attr : {class : 'text_input', placeholder: '名'}}) }}</label>
                                {{ form_errors(form.name.name01) }}
                                {{ form_errors(form.name.name02) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.kana) }}</div>
                        <div class="td">
                            <div class="group_textinput">
                                <label class="item"><span>姓</span>{{ form_widget(form.kana.kana01, {attr : {class : 'text_input', placeholder: 'セイ'}}) }}</label>
                                <label class="item"><span>名</span>{{ form_widget(form.kana.kana02, {attr : {class : 'text_input', placeholder: 'メイ'}}) }}</label>
                                {{ form_errors(form.kana.kana01, {attr : {class : 'text_input'}}) }}
                                {{ form_errors(form.kana.kana02, {attr : {class : 'text_input'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.zip) }}</div>
                        <div class="td">
                            <div class="group_textinput">
                                <div id="detail_box__zip" class="form-group form-inline input_zip {% if form.zip.zip01.vars.errors is not empty or form.zip.zip02.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.zip) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="tr vtop">
                        <div class="th">{{ form_label(form.address) }}</div>
                        <div class="td">
                            <div class="group_textinput_plus">
                                <div id="detail_box__address" class="{% if form.address.pref.vars.errors is not empty or form.address.addr01.vars.errors is not empty or form.address.addr02.vars.errors is not empty %}has-error{% endif %}">
                                    {{ form_widget(form.address) }}
                                    {{ form_errors(form.address) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.tel) }}</div>
                        <div class="td">
                            <div class="group_textinput_third">
                                {{ form_widget(form.tel) }}
                                {{ form_errors(form.tel) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.email) }}</div>
                        <div class="td">
                            <div class="group_textinput_third email-input">
                                <div class="form-group {% if form.email.first.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.email.first) }}</div>
                                {{ form_errors(form.email.first) }}
                            </div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">{{ form_label(form.email) }}　確認</div>
                        <div class="td">
                            <div class="group_textinput_third email-input">
                                <div class="form-group {% if form.email.second.vars.errors is not empty %}has-error{% endif %}">{{ form_widget(form.email.second, {attr: {placeholder: '確認のためもう一度入力してください'}}) }}
                                {{ form_errors(form.email.second) }}
                            </div>
                            </div>
                        </div>
                    </div>
                    {% for f in form %}
                    {% if f.vars.name matches '[^plg*]' %}
                        <div class="extra-form dl_table">
                            {{ form_row(f) }}
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            
            
            <ul class="form_btn form_nomember">
                <li>
                    <button type="submit" class="btn_send trans">
                        <img src="{{ app.config.front_urlpath }}/img/contact/btn_send.png" alt="送信" />
                    </button>
                </li>
            </ul>
        </form>
    </div>
    
</div><!-- /.main_post -->
{% endblock %}
