{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div class="main_post">
                    
    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('homepage') }}cart">買い物カゴ</a></li><li><span>お届け先指定</span></li>
        </ul>
    </div><!-- /.block_pathway -->
    <form method="post" action="{{ url('shopping_shipping', {'id': shippingId}) }}">
        <div class="block_mod_shopping gb_block">
            <img src="{{ app.config.front_urlpath }}/img/shopping/flow01.gif">
            <h2 class="mt30">
                <img src="{{ app.config.front_urlpath }}/img/shopping/h2_address.png" alt=" " class="md">
                <img src="{{ app.config.front_urlpath }}/img/shopping/sm/h2_address.png" alt=" " class="sm">
            </h2>
            <div class="mod_shopping_info_content mmt16">
                <p class="mt20">下記一覧よりお届け先住所を選択して、「選択したお届け先に送る」ボタンをクリックしてください。<br>
                一覧にご希望の住所が無い場合は、「新しいお届け先を追加する」より追加登録してください。<br>
                ※最大{{ app.config.deliv_addr_max }}件まで登録できます。</p>
                <div class="row row_third clearfix md mt30">
                        <div class="col">
                            {% if Customer.CustomerAddresses|length < app.config.deliv_addr_max %}
                                <a href="{{ url('shopping_shipping_edit', {'id': shippingId}) }}" class="gb_btn btn_S">
                                    <span>新しいお届け先を追加する</span>
                                </a>
                            {% else %}
                                <span id="list_box__deliv_addr_max_message" class="text-danger">お届け先登録上限の{{ app.config.deliv_addr_max }}件に達しています。お届け先を入力したい場合は、削除か変更を行ってください</span>
                            {% endif %}
                        </div>
                    </div>
                <table class="table_content mt20">
                    <tr>
                        <th class="select">選択</th>
                        <th class="prof">住所種類</th>
                        <th class="deliv">お届け先</th>
                        <th class="change">変更</th>
                        <th class="delete">削除</th>
                    </tr>
                    {% if Customer.CustomerAddresses|length > 0 %}
                        {% for CustomerAddress in Customer.CustomerAddresses %}
                            <tr>
                                <td class="centered">
                                    <input type="radio" id="address{{ CustomerAddress.id }}" class="no-style" name="address" value="{{ CustomerAddress.id }}" />
                                </td>
                                <td>
                                    <label for="chk_id_1">
                                        会員登録住所
                                    </label>
                                </td>
                                <td class="pt16">
                                    〒{{ CustomerAddress.zip01 }}-{{ CustomerAddress.zip02 }} {{ CustomerAddress.Pref }}{{ CustomerAddress.addr01 }}<br />
                                    {{ CustomerAddress.addr02 }}
                                </td>
                                <td class="centered">
                                </td>
                                <td class="centered">
                                </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
            <div class="row row_half clearfix mt20">
                <div class="col">
                    <a href="{{ url('shopping') }}" class="gb_btn btn_M"><span>前のページへ戻る</span></a>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block gb_btn btn_M hover">選択したお届け先に送る</button>
                    <!--<a href="#" class="gb_btn btn_M hover"><span>選択したお届け先に送る</span></a>-->
                </div>
            </div>
        </div>
    </form>

</div><!-- /.main_post -->
{% endblock %}
