{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = '' %}

{% block main %}

<link rel="stylesheet" href="{{ app.config.front_urlpath }}/css/colorbox.css" />
<style>
a, button{
    outline: none;
}
#cboxOverlay {
	background: #000;
}
#cboxLoadedContent {
	background: #fff;
}
#inline-content {
	margin: 20px;
}
#ajax-wrap {
	margin: 20px;
}
#cboxLoadedContent {
	padding: 0;
	overflow: auto;
-moz-box-shadow: 0px 1px 10px #000000;
-webkit-box-shadow: 0px 1px 10px #000000;
box-shadow: 0px 1px 10px #000000;
}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose , #cboxTitle {
	top: -30px;
}
#colorbox, #cboxOverlay, #cboxWrapper {
	overflow: visible ;
}
#cboxTitle {
	color: #fff;
}
</style>

<script src="{{ app.config.front_urlpath }}/js/jquery.colorbox.min.js"></script>

<script>
$(function(){
    $(".pic-gallery").colorbox({
        rel:'slideshow',
        slideshow:true,
        slideshowSpeed:3000,
        maxWidth:"90%",
        maxHeight:"90%",
        opacity: 0.7
    });
});
</script>

<div class="main_post">

    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage' )}}">TOP</a></li><li><span>四万十うなぎのこだわり</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_static block_about gb_block kanri unagiflow">
        <div class="block_ttl">
            <h2>
                <img src="{{ app.config.front_urlpath }}/img/about/h2_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h2_title.png" alt=" " class="sm" />
            </h2>
        </div>
        <div class="block_cont">

            <ul class="gb_anchor fms clearfix two-columns mt20 sm-mt20">
                <li>
                    <a href="#unagi" class="trans"><span>「安心・安全・おいしい」四万十うなぎ</span></a>
                </li>
                <li>
                    <a href="#onestop" class="trans"><span>一貫したワンストップ生産体制</span></a>
                </li>
                <li>
                    <a href="#flavor" class="trans"><span>こだわりのタレ</span></a>
                </li>
                <li>
                    <a href="#cooking" class="trans"><span>こだわりの焼き</span></a>
                </li>
                <li>
                    <a href="#quality" class="trans"><span>品質保証制度について</span></a>
                </li>
                <li>
                    <a href="#knowledge" class="trans"><span>うなぎ雑学</span></a>
                </li>
            </ul>

            <div id="unagi" class="cont mt20">
                <h3 class="h3_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                </h3>
                <img class="hidden" src="{{ app.config.front_urlpath }}/img/static/hidden.gif" />
                <p class="mt10">
                    四万十うなぎ株式会社は、自然豊かな高知県の四万十町で創業以来40年間、徹底した生産管理で養殖しているうなぎと共に育った会社です。<br>
                    豊富できれいな地下水を使って育てたうなぎは、身が柔らかく、ほど良く脂がのっている『安心・安全・おいしい』を追及した四万十うなぎです。<br>
                    水質管理や温度管理はもちろん、餌作りにも細心の注意を払い、皆様に安心して食べていただける安全で美味しいうなぎを提供します。
                </p>

            </div>

            <div class="gb_line mt50"></div>

            <div id="onestop" class="cont mt20">
                <h3 class="h3_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                </h3>
                <div class="gb_post bigleft clearfix">
                    <div class="cont">
                        <p>
                            四万十うなぎ株式会社は、シラスウナギの採捕から養殖、加工、販売まで徹底した生産管理で行っております。<br>
                            <br>
                            四万十うなぎは漁師が採捕した後、地元の集荷人が毎日集荷します。<br>
                            集荷したうなぎは（5万匹～10万匹）をひとまとめにし、当社工場内の地下水に7日～10日間泳がせ健康な魚体に仕上げた後、当社養殖場に池入れされます。<br>
                            当社養殖場にて6～12ヶ月間で体重1尾約200～300gに育てます。<br>
                            うなぎを池上げして当社の鰻加工場（収容能力10,000kg）に輸送し、地下天然水（四万十川主流域にある見付側の水）で3日～7日間立て上げ鰻独特の臭みを取り除き風味のある肉質に変えます。<br>
                            検品後のうなぎを活鰻、加工品（蒲焼、白焼）として卸販売しております。<br>
                            <br>
                            当社契約の高知県内養殖業者によって育てた高知県産うなぎも取り扱っております。
                        </p>
                    </div>
                    <div class="thumb">
                        <img src="{{ app.config.front_urlpath }}/img/static/kanri_photo21.jpg" alt=" ">
                        <img src="{{ app.config.front_urlpath }}/img/static/kanri_photo22.jpg" alt=" ">
                        <img src="{{ app.config.front_urlpath }}/img/static/kanri_photo23.jpg" alt=" ">
                    </div>
                </div>
            </div>

            <div class="gb_line mt50"></div>

            <div class="row row_half clearfix mt20">
                <div class="col" id="flavor">
                    <h3 class="h3_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                    </h3> 
                    <p class="mt10">
                        ベースのしょうゆは"醤の郷"小豆島で作ったマルキン醤油の伝統の味に地元四万十町の大豆と興津浜で作った塩を使ったこだわりの自社製のタレです。<br>
                        もちろん化学調味料、合成着色料、酸化防止剤などは使用しておりません。
                    </p>
                    <img class="mt10 mauto" src="{{ app.config.front_urlpath }}/img/static/kanri_photo31.jpg" alt="" />
                </div>
                <div class="col" id="cooking">
                    <h3 class="h3_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                    </h3> 
                    <img class="mt10 mauto" src="{{ app.config.front_urlpath }}/img/static/kanri_photo41.jpg" alt="" /><br>
                    <p class="mt10">
                        白焼きは強火でしっかり焼いておいしくしています。<br>
                        蒸しは四万十うなぎの本来のおいしさを逃さないよう、皮も柔らかくなるよう、注意して蒸しあげております。<br>
                        蒲焼きはしっかり4回たれ付けして、香ばしさをだしておいしい四万十うなぎの蒲焼きを作っています。<br>
                        付けて焼いて、付けて焼いて、付けて焼いて、付けて焼いて焼きあがります。
                    </p>
                </div>
            </div>

            <div class="gb_line mt50"></div>

            <div id="quality" class="cont mt20">

                <h3 class="h3_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                </h3> 

                <p class="mt20">
                    四万十うなぎ株式会社は、お客様に「安心・安全・おいしい」を追及した四万十うなぎをご提供できるように最大限の努力によって生産管理をしております。<br>
                    しかし、もし万が一臭いや小骨が気になるなど、不良品がございましたら、交換させていただきますので、遠慮なくお申し出いただきますようお願いします。<br>
                </p>
                <ul class="normal mt10 ml20">
                    <li>
                        お申込商品と明らかに異なる場合・お届け時に破損や汚損、腐食など商品が劣化していた場合<br>
                        <br>
                        以上の場合は商品受領後3日以内にご連絡下さい。<br>
                        返送方法と返送料ご返送の場合メールか電話にてまずはご連絡ください。
                        <br><br>
                    </li>
                    <li>お届け後、3日以上経過した場合・お客様が汚損、破損した場合</li>
                    <li>全て召し上がられた場合・お客様で商品を破棄された場合</li>
                </ul>
            </div>

            <div class="gb_line mt50"></div>

            <div id="knowledge" class="cont mt20">
                <h3 class="h3_title">
                    <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                </h3>
                <p class="mt20">
                    <img class="thumb fright" src="{{ app.config.front_urlpath }}/img/static/kanri_photo61.jpg" />
                    鰻の稚魚（体重0.2～0.15g 体長4～5cm）はシラスウナギと呼ばれております。<br>
                    その中で、四万十川の河口で採捕されるシラスウナギを私たちは四万十うなぎと呼んでいます。<br>
                    <br>
                    スタミナ食の代表でもあるうなぎは、海で生まれ、長い長いたびをして川に帰ってきます。<br>
                    うなぎは絶食したまま150日間も生きるとか、驚異的なスタミナ源はこうしたところにあるかも知れません。<br>
                    <br>
                    うなぎの主成分はたんぱく質で、脂肪も多く特にビタミンAは牛乳の380倍・卵の8倍も含まれており、老化防止に効用があるといわれるビタミンEも牛肉の10倍・卵の3倍含まれています。<br>
                    このほか、血栓症に効くとされているエイサコペンタエン酸（EPA）も含まれています。
                    （高知新聞より抜粋）
                </p>

            </div>
        </div>

       <div class="gb_line"></div>
        <h3 class="h3_title mt20">
            <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
        </h3>

        <div class="block_cont">

            <div class="gb_post bigleft clearfix">
                <div class="cont">
                    <p>
                        うなぎの稚魚（シラスウナギ）の採捕から養殖、加工、販売まで<br>
                        徹底した生産管理を行っています。<br>
                        <br>
                        「どんな人達が、どんなふうに四万十うなぎに関わってるの？」<br>
                        <br>
                        そんなご要望にお応えし、当社のワンストップ生産体制をご紹介します！

                    </p>
                </div>
                <div class="thumb">
                    <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo001.jpg" alt=" ">
                </div>
            </div>

            <div class="gb_line mt50"></div>
            <br>
            <div class="gb_post bigright bigger clearfix ">
                <div class="thumb">
                    <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_flow01.gif" alt=" ">
                </div>
                <div class="cont">
                    <h3 class="h3_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                    </h3>
                    <div class="column fright" ><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo101.jpg" alt="" /></div>
                    <p class="pd10 cell">
                        うなぎの稚魚（シラスウナギ）のふるさと 四万十川。<br>
                        漁師さんがうなぎの稚魚（シラスウナギ）を集荷しています。<br>
                        <br>
                        採捕期間12月頃～3月頃シーズン<br>
                        集荷したうなぎの稚魚（シラスウナギ）は中村集荷場へ。<br>
                        うなぎの稚魚（シラスウナギ）が集荷されました。<br>
                        <br>
                        1kg 約5,000～6,000尾、体長 5.5～6mm、体重 0.16～0.2g<br>
                        1ヶ月後にはかなり大きくなります。<br>
                        4月半ばには出荷予定です。
                    </p>
                </div>
            </div>

            <div class="gb_post bigright bigger clearfix">
                <div class="thumb">
                    <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_flow02.gif" alt=" ">
                </div>
                <div class="cont">
                    <h3 class="h3_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                    </h3>
                    <div class="column fright">
                        <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo201.gif" alt="" />
                        <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo202.jpg" alt="" />
                    </div>
                    <p class="pd10 cell">
                        私たちが四万十うなぎを育てています。<br>
                        皆で、厳しい環境管理の下、日々養鰻に<br>
                        励んでいます。<br>
                        <br>
                        【餌にもこだわっています。】<br>
                        朝の安定した給餌で柔らかい身が育ちます。<br>
                        ●ツケソウダラの魚粉　●アジの魚粉<br>
                        ●昆布　●四万十川の青海苔　●お茶<br>
                        ●おから（納豆菌と乳酸菌にて発酵）<br>
                    </p>
                </div>
            </div>

            <div class="gb_post bigright bigger clearfix">
                <div class="thumb">
                    <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_flow03.gif" alt=" ">
                </div>
                <div class="cont">
                    <h3 class="h3_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                    </h3>
                    <div class="column fright">
                        <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo301.jpg" alt="" />
                    </div>
                    <p class="pd10 cell">
                        養鰻場でよく育った四万十うなぎを選んで<br>
                        当社の加工工場へ運びます。<br>
                        <br>
                        新鮮な水で四万十うなぎを保存して、加工を待ちます。
                    </p>
                </div>
            </div>

            <div class="gb_post bigright bigger clearfix">
                <div class="thumb">
                    <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_flow04.gif" alt=" ">
                </div>
                <div class="cont">
                    <h3 class="h3_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                    </h3>
                    <p class="mt10">写真をクリックして拡大できます。</p>
                    <div class="gallery">
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo401_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo401.jpg" alt=""/></a>
                            <p>1. 効率よく四万十うなぎをさばくために、電気を流して気絶させます。</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo402_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo402.jpg" alt=""/></a>
                            <p>
                                2. さばきます。<br>
                                関西地方とそれ以外ではさばき方が違うんです。<br>
                                知ってました？
                            </p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo403_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo403.jpg" alt=""/></a>
                            <p>3. 焼き</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo404_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo404.jpg" alt=""/></a>
                            <p>4. 蒸らします。</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo405_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo405.jpg" alt=""/></a>
                            <p>5. 白焼きうなぎ</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo406_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo406.jpg" alt=""/></a>
                            <p>6. タレをつけます。</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo407_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo407.jpg" alt=""/></a>
                            <p>7. 再度焼きます。</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo408_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo408.jpg" alt=""/></a>
                            <p>8. さらにタレをつけます。</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo409_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo409.jpg" alt=""/></a>
                            <p>9. もう一回焼きます。</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo410_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo410.jpg" alt=""/></a>
                            <p>10. 再度焼きます。</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo411_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo411.jpg" alt=""/></a>
                            <p>11. さらにタレをつけます。</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo412_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo412.jpg" alt=""/></a>
                            <p>12. もう一回焼いて出来上がり。</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo414_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo414.jpg" alt=""/></a>
                            <p>13. 一本一本袋に入れます。</p>
                        </div>
                        <div class="pic">
                            <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo415_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo415.jpg" alt=""/></a>
                            <p>14. 丁寧に並べて真空パック</p>
                        </div>
                    </div>
                    <div class="pic mt20">
                        <a class="pic-gallery" href="{{ app.config.front_urlpath }}/img/static/unagiflow_photo416_detail.jpg"><img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo416.jpg" alt=""/></a>
                        <p>15. ひと箱ずつ手作業で梱包して出荷です！</p>
                    </div>
                </div>
            </div>

            <div class="gb_post bigright bigger clearfix">
                <div class="thumb">
                    <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_flow05.gif" alt=" ">
                </div>
                <div class="cont">
                    <h3 class="h3_title">
                        <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                        <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                    </h3>
                    <div class="links mt20">
                        <div class="link">
                            <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo501.jpg" alt="うなぎ"/>
                        </div>
                        <div class="link">
                            <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo502.jpg" alt=""/>
                            <a href="#" class="gb_link">直営店<br>「うなきち」</a>
                        </div>
                        <div class="link">
                            <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo503.jpg" alt=""/>
                            <a href="#" class="gb_link">全国販売店</a>
                        </div>
                        <div class="link">
                            <img src="{{ app.config.front_urlpath }}/img/static/unagiflow_photo504.jpg" alt=""/>
                            <a href="#" class="gb_link">オンラインショップ</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div><!-- /.block_about -->

</div><!-- /.main_post -->
{% endblock %}