{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = '' %}

{% block javascript %}

{% endblock %}

{% block main %}

<div class="main_post">

    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="{{ url('homepage') }}">TOP</a></li><li><a href="{{ url('homepage') }}help/about">会社情報</a></li><li><span>全国取り扱い店紹介</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="mod_static block_about gb_block agency">
        <div class="block_ttl">
            <h2>
                <img src="{{ app.config.front_urlpath }}/img/about/h2_agency.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h2_agency.png" alt=" " class="sm" />
            </h2>
        </div>

        <div class="cont mt50">
            <table class="regions">
                <tr>
                    <th class="name" colspan="3">
                        <h3>
                            <img src="{{ app.config.front_urlpath }}/img/about/h3_agency_01.png" alt=" " class="md" />
                            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_agency_01.png" alt=" " class="sm" />
                        </h3>
                    </th>
                    <th>HP</th>
                    <th>MAP</th>
                </tr>
                <tr>
                    <td>東京都</td>
                    <td>第一水産株式会社</td>
                    <td>東京都中央区築地5丁目2-1</td>
                    <td><a href="http://www.daiichisuisan.co.jp/" class="gb_link" target="_blank">□</a></td>
                    <td><a href="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E4%B8%AD%E5%A4%AE%E5%8C%BA%E7%AF%89%E5%9C%B05%E4%B8%81%E7%9B%AE2-1+&sll=35.673023,139.778647&sspn=0.007121,0.009645&ie=UTF8&z=17&iwloc=A" class="gb_link" target="_blank">□</a></td>
                </tr>
            </table>

            <table class="regions">
                <tr>
                    <th class="name" colspan="3">
                        <h3>
                            <img src="{{ app.config.front_urlpath }}/img/about/h3_agency_02.png" alt=" " class="md" />
                            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_agency_02.png" alt=" " class="sm" />
                        </h3>
                    </th>
                    <th>HP</th>
                    <th>MAP</th>
                </tr>
                <tr>
                    <td>京都府</td>
                    <td>大京魚類株式会社</td>
                    <td>京都府京都市下京区朱雀分木町市有地</td>
                    <td><a href="http://www.maruha-daikyo.co.jp/" class="gb_link" target="_blank">□</a></td>
                    <td><a href="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E4%BA%AC%E9%83%BD%E5%BA%9C%E4%BA%AC%E9%83%BD%E5%B8%82%E4%B8%8B%E4%BA%AC%E5%8C%BA%E6%9C%B1%E9%9B%80%E5%88%86%E6%9C%A8%E7%94%BA%EF%BC%98%EF%BC%90&sll=34.992193,135.74265&sspn=0.006961,0.009645&ie=UTF8&ll=34.991666,135.741363&spn=0.007181,0.009645&z=17&iwloc=A" class="gb_link" target="_blank">□</a></td>
                </tr>
            </table>

            <table class="regions">
                <tr>
                    <th class="name" colspan="3">
                        <h3>
                            <img src="{{ app.config.front_urlpath }}/img/about/h3_agency_03.png" alt=" " class="md" />
                            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_agency_03.png" alt=" " class="sm" />
                        </h3>
                    </th>
                    <th>HP</th>
                    <th>MAP</th>
                </tr>
                <tr>
                    <td>広島県</td>
                    <td>広島魚市場株式会社</td>
                    <td>広島市西区草津港1丁目8－1</td>
                    <td><a href="http://www.hirouo.com/" class="gb_link" target="_blank">□</a></td>
                    <td><a href="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E5%BA%83%E5%B3%B6%E5%B8%82%E8%A5%BF%E5%8C%BA%E8%8D%89%E6%B4%A5%E6%B8%AF1%E4%B8%81%E7%9B%AE8%EF%BC%8D1&sll=34.423275,133.237971&sspn=0.00723,0.009645&ie=UTF8&z=17&iwloc=A" class="gb_link" target="_blank">□</a></td>
                </tr>
                <tr>
                    <td>岡山県</td>
                    <td>秋田物産株式会社</td>
                    <td>岡山県岡山市築港元町13-22</td>
                    <td><a href="http://www3.ocn.ne.jp/~suginoko/" class="gb_link" target="_blank">□</a></td>
                    <td><a href="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E5%B2%A1%E5%B1%B1%E5%B8%82%E7%AF%89%E6%B8%AF%E5%85%83%E7%94%BA13-22+&sll=34.367471,132.40247&sspn=0.007235,0.009645&ie=UTF8&z=17&iwloc=A" class="gb_link" target="_blank">□</a></td>
                </tr>
            </table>

            <table class="regions">
                <tr>
                    <th class="name" colspan="3">
                        <h3>
                            <img src="{{ app.config.front_urlpath }}/img/about/h3_agency_04.png" alt=" " class="md" />
                            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_agency_04.png" alt=" " class="sm" />
                        </h3>
                    </th>
                    <th>HP</th>
                    <th>MAP</th>
                </tr>
                <tr>
                    <td>高知県</td>
                    <td>旭食品株式会社　宿毛支店</td>
                    <td>高知県宿毛市和田3945</td>
                    <td><a href="http://www.asask.co.jp/" class="gb_link" target="_blank">□</a></td>
                    <td><a href="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E9%AB%98%E7%9F%A5%E7%9C%8C%E5%AE%BF%E6%AF%9B%E5%B8%82%E5%92%8C%E7%94%B03945+&sll=34.603689,133.948023&sspn=0.007215,0.009645&ie=UTF8&z=17&iwloc=A" class="gb_link" target="_blank">□</a></td>
                </tr>
                <tr>
                    <td>高知県</td>
                    <td>株式会社大洋水産　高知出張所</td>
                    <td>高知県高知市弘化台19-27</td>
                    <td><a href="http://www.marunaka.net/group/taiyo/index.html" class="gb_link" target="_blank">□</a></td>
                    <td><a href="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E9%AB%98%E7%9F%A5%E5%B8%82%E5%BC%98%E5%8C%96%E5%8F%B019-27&sll=32.945597,132.748545&sspn=0.007356,0.009645&g=%E9%AB%98%E7%9F%A5%E7%9C%8C%E5%AE%BF%E6%AF%9B%E5%B8%82%E5%92%8C%E7%94%B03945&ie=UTF8&ll=33.548479,133.564841&spn=0.001826,0.002411&z=19&iwloc=A" class="gb_link" target="_blank">□</a></td>
                </tr>
            </table>

            <table class="regions">
                <tr>
                    <th class="name" colspan="3">
                        <h3>
                            <img src="{{ app.config.front_urlpath }}/img/about/h3_agency_05.png" alt=" " class="md" />
                            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_agency_05.png" alt=" " class="sm" />
                        </h3>
                    </th>
                    <th>HP</th>
                    <th>MAP</th>
                </tr>
                <tr>
                    <td>福岡県</td>
                    <td>株式会社福岡魚市</td>
                    <td>福岡県福岡市中央区長浜3丁目11-3-301</td>
                    <td><a href="http://www.fukuuo.co.jp/" class="gb_link" target="_blank">□</a></td>
                    <td><a href="http://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E7%A6%8F%E5%B2%A1%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E9%95%B7%E6%B5%9C3%E4%B8%81%E7%9B%AE11%E7%95%AA3%E5%8F%B7-301&sll=33.192843,132.546165&sspn=0.007335,0.009645&ie=UTF8&z=17&iwloc=A" class="gb_link" target="_blank">□</a></td>
                </tr>
            </table>

        </div>


    </div><!-- /.block_cont -->
</div>

{% endblock %}