{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = '' %}

{% block main %}
<div class="main_post">

    <div class="block_pathway">
        <ul class="ul_pathway">
            <li><a href="../../">TOP</a></li><li><a href="../">会社情報</a></li><li><span>よくあるご質問</span></li>
        </ul>
    </div><!-- /.block_pathway -->

    <div class="block_about gb_block">
        <div class="block_ttl">
            <h2>
                <img src="{{ app.config.front_urlpath }}/img/about/h2_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h2_title.png" alt=" " class="sm" />
            </h2>
        </div>
        <div class="gb_line"></div>
        <div class="block_desc faq">
            <div class="md">
                <div class="tb_contact_form tb fms">
                    <div class="tr">
                        <div class="th">
                            <h3 class="h3_title">
                               <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md">
                            </h3>
                        </div>
                        <div class="td">
                            <h4 class="h4_title">
                                <a href="#q01_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q01_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q01_03">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q01_04">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q01_05">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                        </div>
                    </div>
                     <div class="tr">
                        <div class="th">
                            <h3 class="h3_title">
                               <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md">
                            </h3>
                        </div>
                        <div class="td">
                            <h4 class="h4_title">
                                <a href="#q02_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q02_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q02_03">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">
                            <h3 class="h3_title">
                               <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md">
                            </h3>
                        </div>
                        <div class="td">
                            <h4 class="h4_title">
                                <a href="#q03_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_03">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_04">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_05">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_06">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_07">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_08">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_09">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_10">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_11">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_12">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_13">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_14">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">
                            <h3 class="h3_title">
                               <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md">
                            </h3>
                        </div>
                        <div class="td">
                            <h4 class="h4_title">
                                <a href="#q04_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q04_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q04_03">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">
                            <h3 class="h3_title">
                               <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md">
                            </h3>
                        </div>
                        <div class="td">
                            <h4 class="h4_title">
                                <a href="#q05_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q05_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="th">
                            <h3 class="h3_title">
                               <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md">
                            </h3>
                        </div>
                        <div class="td">
                            <h4 class="h4_title">
                                <a href="#q06_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q06_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q06_03">
                                   <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sm mt20">
                <div class="tb_contact_form_sm fms">
                    <dl>
                        <dt>
                            <h3 class="h3_title">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm">
                            </h3>
                        </dt>
                        <dd>
                            <h4 class="h4_title">
                                <a href="#q01_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q01_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q01_03">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q01_04">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q01_05">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                        </dd>
                    </dl>
                     <dl>
                        <dt>
                            <h3 class="h3_title">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm">
                            </h3>
                        </dt>
                        <dd>
                            <h4 class="h4_title">
                                <a href="#q02_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q02_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q02_03">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <h3 class="h3_title">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm">
                            </h3>
                        </dt>
                        <dd>
                            <h4 class="h4_title">
                                <a href="#q03_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_03">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_04">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_05">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_06">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_07">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_08">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_09">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_10">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_11">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_12">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_13">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q03_14">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <h3 class="h3_title">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm">
                            </h3>
                        </dt>
                        <dd>
                            <h4 class="h4_title">
                                <a href="#q04_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q04_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q04_03">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <h3 class="h3_title">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm">
                            </h3>
                        </dt>
                        <dd>
                            <h4 class="h4_title">
                                <a href="#q05_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q05_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <h3 class="h3_title">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm">
                            </h3>
                        </dt>
                        <dd>
                            <h4 class="h4_title">
                                <a href="#q06_01">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q06_02">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                            <h4 class="h4_title">
                                <a href="#q07_03">
                                   <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                                </a>
                            </h4>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="gb_line"></div>
        </div>
        <div class="faq_content">
            <div class="block_cont">
                <h5 class="h5_title" id="q01_01">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    当サイトにてご希望の商品を選んでいただき「買い物かごに入れる」ボタンをクリックしてください。<br>
                    買い物かごの画面で商品と金額を確認し「レジに進む」ボタンをクリックする事で購入手続きをすることができます。<br><br>

                    その後、「お名前」「ご住所」「電話番号」「メールアドレス」「お支払い方法」など、お買い物に必要な情報を画面の案内に従って入力してください。<br>
                    最後にご注文内容をご確認ください。間違いがなければ「完了ページへ」ボタンをクリックしていただくと注文が完了となります。<br><br>

                    注文が確定するとご入力いただいたメールアドレスに「ご注文完了メール」「正式受注完了メール」「運送便詳細メール」が届きます。<br>
                    後は、商品が届くだけです。<br><br>

                    ご注文！ありがとうございます！！<br>
                    もっと詳しく知りたい方は「<a href="#">はじめてのお客様へ</a>」の [<a href="">1・お買い物の流れ</a>] をご覧ください。<br>
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q01_02">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    追加注文は可能です。<br>
                    追加でご注文される際に、備考欄にその旨お書き添えください。<br>
                    しかしながら、発送準備、処理との関係上、対応できかねる場合もございますので、ご了承ください。<br>
                    発送に関しても変更になってしまう場合もございます。<br><br>
                    
                    別発送となる場合には、ご注文毎に手数料がかかってしまいますのでご了承ください。<br>
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q01_03">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    ゲスト購入という形で購入ができます。<br>
                    買い物かごの画面でレジに進む際「ゲスト購入に進む」をクリックしてください。<br><br>

                    ただ、何度もご利用いただく場合の商品購入には会員登録が便利です。<br>
                    会員登録をされると次回以降の購入がスムーズになります！<br>
                    会員になっていただければお得な情報が配信されるようになります。<br>
                    後は、商品が届くだけです。<br><br>
                    もっと詳しく知りたい方は「<a class="gb_link" href="#">はじめてのお客様へ</a>」の [<a class="gb_link" href="">1・お買い物の流れ</a>] をご覧ください。<br>
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q01_04">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    申し訳ございません。<br>
                    ご注文後の商品変更の場合は、承ることができません。ご了承ください。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q01_05">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    ご注文後すぐのキャンセルは当平日の正午までにご連絡ください。<br>
                    当日午後発送のご注文のキャンセルはできません。<br>
                    即発送以外の場合はご相談ください。<br><br>
                    
                    発送後のキャンセルはできません。<br>
                    その際、「ご注文完了メール」に記載しております、ご注文番号が必要となりますのでご用意ください。<br><br>
                    
                    もっと詳しく知りたい方は「<a class="gb_link" href="#">特定商取引法に関する表記</a>」の [<a class="gb_link" href="#">ご注文のキャンセル</a>] をご覧いただくか、お問い合わせ先にご連絡ください。
                </p>
            </div>
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q02_01">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    お支払いは、クレジットカード、銀行振込、商品代金引換の中からお選びいただけます。<br>
                    クレジットカードは（VISA/MASTER/DINERS）の中からお選びいただけます。<br>
                    お支払いは、銀行振込、商品代金引換の中からお選びいただけます。<br>
                    銀行振込の場合は（高知銀行）にご入金ください。ただし、前払いとさせていただきます。<br>
                    商品到着時に代金をお支払いいただく商品代金引換もございます。<br>
                    ただし、贈答品の場合、商品代金引換を選択されますとお届け先へ商品代金をお支払いいただくことになってしまいますのでご注意ください。<br>
                    なお、銀行振込や商品代金引換にかかる手数料はお客様がご負担ください。<br><br>
                    
                    もっと詳しく知りたい方は「<a class="gb_link" href="#">はじめてのお客様へ</a>」の [<a class="gb_link" href="#">3・お支払い方法について</a>] をご覧ください。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q02_02">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    領収書に関しては、代金引換の場合は商品配達時に運送会社の方から領収書が渡されます。<br>
                    銀行振込の場合は金融機関より発行の控えを領収書として代用していただきますようお願いいたします。<br>
                    当店からの領収書がご必要な場合、ご購入時に「その他お問い合わせ」欄に「領収証必要」とご記入ください。<br>
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q02_03">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    すべての商品に送料がかかります。<br>
                    また、支払い方法で銀行振込をご選択された方は銀行振込手数料、代金引換をご選択された方は代金引換決済手数料をお客様でご負担ください。
                </p>
            </div>
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_01">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    お届け指定日がない場合は、ご注文受け付け後2～7日後にお届けいたしますが、土日や祝日、連休を挟みますと、ご配達が遅れますので、予めご了承ください。<br>
                    また、日時の指定も承ります。ただし、四国以外に配送をご希望の場合は5営業日以降でご指定ください。<br>
                    （営業日は土日祝以外の平日）<br><br>
                    
                    配送はヤマト運輸の宅急便もしくは佐川急便を利用しており、<br>
                    時間指定は　午前中・12時～14時・14時～16時・16時～18時・18時～20時・20時～21時　からお選びいただけます。<br>
                    （天候・交通状況によってはご希望日時にお届けできない場合がございます。ご了承ください）<br><br>
                    
                    もっと詳しく知りたい方は「<a class="gb_link" href="#">はじめてのお客様へ</a>」の [<a class="gb_link" href="#">2・配送について</a>] をご覧ください。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_02">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    ヤマト運輸のクール宅急便か佐川急便の飛脚クール便でお送りしています<br>
                    送料は、全国一律1,080円となります。（北海道、沖縄、一部離島は1,620円）<br><br>
                    
                    もっと詳しく知りたい方は「はじめてのお客様へ」の [2・配送について] をご覧ください。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_03">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    同一場所に配送する場合は同梱は可能です。<br>
                    ただし、商品の大きさによっては同梱する事が出来ない場合がございます。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_04">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                   ヤマト運輸のクール宅急便か佐川急便の飛脚クール便でお届けいたします。<br>
                    なお、誠に勝手ながら、お客様による配送業者のご指定は承っておりません。<br>
                    あらかじめ、ご了承ください。<br><br>
                    
                    ヤマト運輸   <a class="gb_link" href="#">http://www.kuronekoyamato.co.jp/</a><br>
                    佐川急便    <a class="gb_link" href="#">http://www.sagawa-exp.co.jp/</a>
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_05">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                   海外に発送することは出来ません。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_06">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                   一度の商品購入においては複数のお相手にお送りする事はできません。<br>
                    その場合は、お相手毎に商品の購入をお願いいたします。<br><br>
                    
                    会員登録されると2回目以降の商品購入が非常に便利になります。<br>
                    ぜひご利用ください。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_07">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                   ヤマト運輸の場合は、クロネコヤマトのお荷物問い合わせシステムで配送状況をご確認いただけます。<br>
                    「お問い合わせ伝票番号」はご注文確定後に送信させていただきます「運送便詳細メール」に記載しています。<br>
                    お荷物問い合わせシステム　<a class="gb_link" href="#">http://www.kuronekoyamato.co.jp/</a><br><br>
                    
                    佐川急便の場合は、貨物追跡サービスで配送状況をご確認いただけます。<br>
                    「お問い合わせNO.」はご注文確定後に送信させていただきます「運送便詳細メール」に記載しています。<br>
                    貨物追跡サービス　<a href="#">http://www.sagawa-exp.co.jp/</a><br><br>
                    
                    配送状況が不明な場合は、当店までお問い合わせください。<br>
                    その際、「運送便詳細メール」に記載しております、ご注文番号が必要となりますのでご用意ください。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_08">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                   すべての商品が箱に梱包した状態で到着します。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_09">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    ご注文後のお届け希望日の変更の場合は、ご注文日の当平日の正午までにお問い合わせ先へご連絡ください。<br>
                    それ以降の発送日の変更はお受けできません。<br>
                    その際、「ご注文完了メール」に記載しております、ご注文番号が必要となりますのでご用意ください。<br>
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_10">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    ご購入時に、送り主変更をご選択いただき贈り主様をご記載ください。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_11">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    納品書は「正式受注完了メール」をもって納品書の代わりとさせていただきますので商品に同梱されることはありません。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_12">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    当社のうなぎは全て「冷凍」でお届けしております。<br>
                    四国からの発送となりますので、冷蔵で全国各地にお届けするのは難しいと考えております。<br><br>
                    
                    そうなれば、「冷凍」がベストな方法です。<br>
                    当社では毎日加工しておいしいうなぎの蒲焼きを製造しております。<br>
                    そんなおいしい四万十うなぎを最高の状態でお届けするため、冷凍という手段をとっております。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_13">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    はい、可能です。<br>
                    ご購入時にその旨を「その他お問い合わせ」欄にご記載いただくか、お問い合わせ先にご連絡ください。<br>
                    その際、「ご注文完了メール」に記載しております、ご注文番号が必要となりますのでご用意ください。<br>
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q03_14">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    はい、可能です。<br>
                    ご購入時にその旨を「その他お問い合わせ」欄にご記載いただくか、お問い合わせ先にご連絡ください。<br>
                    その際、「ご注文完了メール」に記載しております、ご注文番号が必要となりますのでご用意ください。<br>
                </p>
            </div>
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q04_01">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    当社では人の手により毎日一生懸命さばいております。<br>
                    当然小骨もしっかりと取り除いて蒸し、焼きの加工を行っておりますが、<br>
                    まれに、身の中に小骨が残っている場合がございます。<br>
                    ただ、この小骨もしっかり召し上がる事ができますので、お気を付けてお召し上がりください。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q04_02">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    当社の四万十うなぎは、四万十川でとれた高知県産のうなぎの稚魚（シラスウナギ）を養殖しております。<br><br>
                    詳しくは、<a class="gb_link" href="#">こちらのページ</a>をご覧ください。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q04_03">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    四万十うなぎ株式会社は、自然豊かな高知県の四万十町で創業以来40年間、徹底した生産管理で養殖しているうなぎと共に育った会社です。<br>
                    うなぎの稚魚（シラスウナギ）の採捕から養殖、加工、販売まで徹底した生産管理で行っております。<br><br>
                    詳しくは、<a class="gb_link" href="#">こちらのページ</a>をご覧ください。
                </p>
            </div>
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q05_01">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    大変失礼いたしました。<br><br>
                    
                    商品には万全を期しておりますが、万が一、商品開封時に破損などございましたらご連絡ください。<br>
                    新しいものと交換されていただきます。<br>
                    不良品の返品の期間につきましては、商品到着後3日以内にご連絡をお願いいたします。<br><br>
                    その際、「運送便詳細メール」に記載しております、ご注文番号が必要となりますのでご用意ください。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q05_02">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    大変失礼いたしました。<br><br>
                    
                    お手数ですが、当社までご連絡いただいた上で、当社着払いにてご返送ください。<br>
                    ご連絡の際は、「運送便詳細メール」に記載しております、ご注文番号が必要となりますのでご用意ください。
                </p>
            </div>
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q06_01">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    最適なアクセス環境は、WindowsはInternetExplorer6.x以降/Firefox1.5以降、MacintoshはSafari1.3以降です。<br>
                    一部のコンテンツではJavaScript、Cookie、スタイルシート及びSSLを使用している関係上、これらの設定を有効にしてご覧ください。<br><br>
                    
                    これらの設定が無効の場合、一部のコンテンツを正常にご利用いただけない場合がございます。<br>
                    ディスプレイサイズは800×600ピクセル以上が最適です。
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q06_02">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    当サイトへはご自由にリンクしていただいて構いません。<br>
                    ただし、トップページ以外は予告なくアドレスを変更する事がありますのでご注意ください。<br>
                    また、当サイトはリンクに関わる一切の責任を負いかねます。<br><br>
                    
                    以下のURLへリンクしてください。<br>
                    <a class="gb_link" href="#">http://www.shimanto-unagi.com/</a>
                </p>
            </div>
            <div class="block_cont">
                <h5 class="h5_title" id="q06_03">
                    <img src="{{ app.config.front_urlpath }}/img/about/h5_title.png" alt=" " class="md">
                    <img src="{{ app.config.front_urlpath }}/img/about/sm/h5_title.png" alt=" " class="sm">
                </h5>
                <p class="mt10">
                    当サイト内にあるコンテンツやデータの著作権・所有権は四万十うなぎ株式会社が保有します。<br>
                    商品詳細のページで提供しているソースや画像は使用フリーですのでご自由にお使いください。<br>
                    ただし、著作権は放棄していませんので、無許可の転載・販売・再配布は禁止させていただきます。
                </p>
            </div>
            <div class="row row_full mt20">
                <a href="#" class="gb_btn btn_L"><span>トップへ</span></a>
            </div>
        </div>
    </div><!-- /.block_cont -->
</div>
{% endblock %}