{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = '' %}

{% block main %}

<script src="//ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>


          <div class="main_post">
            <div class="block_pathway">
              <ul class="ul_pathway">
                <li><a href="{{ url('homepage') }}">TOP</a></li>
                <li><a href="{{ url('homepage')/Help/about }}">会社情報</a></li>
                <li><span>直営店・ホテルへ</span></li>
              </ul>
            </div>
            <!-- /.block_pathway -->
            <div class="mod_static block_about gb_block hotel unakichi">
              <div class="block_cont">
                <h2 class="h2_title">
                  <img src="{{ app.config.ftont_urlpath }}/img/about/h2_title.png" alt=" " class="md" />
                  <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h2_title.png" alt=" " class="sm" />
                </h2>
                <p class="mt50">
                  四万十うなぎ（株）直営店　うなぎ料理「うなきち」の上階はユースホステルとなっております。<br>
                  日本最後の清流といわれる「四万十川」の町、四万十町。その中心部に建つ観光・ビジネスにとても便利 なユースホステル。<br>
                  宿泊又は短期滞在（1ヵ月～1年）にご利用下さい。日当たりもよく、便利ですよ！
                </p>
                <h3 class="h3_title mt50">
                  <img src="{{ app.config.ftont_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                  <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                </h3>
                <div class="tb_contact_form tb fms md mt10">
                  <div class="tr">
                    <div class="th">住所</div>
                    <div class="td">高知県高岡郡四万十町本町1-14</div>
                  </div>
                  <div class="tr">
                    <div class="th">アクセス</div>
                    <div class="td">
                      <ul>
                        <li>
                          土佐くろしお鉄道　窪川駅より徒歩約10分<br>
                          高知自動車道　須崎ICより約60分<br><br>
                        </li>
                        <li>
                          【東京】<br>
                          　　車以外／高知竜馬空港<br>
                          　　車／南国ICから須崎ICへ～須崎～須崎ICから約60分<br><br>
                        </li>
                        <li>
                          【大阪】<br>
                          　　車以外／高知竜馬空港<br>
                          　　車／南国ICから須崎ICへ～須崎～須崎ICから約60分
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tr">
                    <div class="th">駐車場</div>
                    <div class="td">
                      <ul>
                        <li>
                          有り（有料）<br><br>
                        </li>
                        <li>
                          ※お車でお越しの方<br>
                          　　裏に4台無料<br><br>
                        </li>
                        <li>
                          ※お車以外でお越しの方<br>
                          　　高知駅から窪川駅まで約90分<br>
                          　　窪川駅よりお車で2分、徒歩10分
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tb_contact_form_sm tb fms sm sm-mt10">
                  <dl>
                    <dt>住所</dt>
                    <dd>高知県高岡郡四万十町本町1-14</dd>
                  </dl>
                  <dl>
                    <dt>アクセス</dt>
                    <dd>
                      <ul>
                        <li>
                          土佐くろしお鉄道　窪川駅より徒歩約10分<br>
                          高知自動車道　須崎ICより約60分<br><br>
                        </li>
                        <li>
                          【東京】<br>
                          　　車以外／高知竜馬空港<br>
                          　　車／南国ICから須崎ICへ～須崎～須崎ICから約60分<br><br>
                        </li>
                        <li>
                          【大阪】<br>
                          　　車以外／高知竜馬空港<br>
                          　　車／南国ICから須崎ICへ～須崎～須崎ICから約60分
                        </li>
                      </ul>
                    </dd>
                  </dl>
                  <dl>
                    <dt>駐車場</dt>
                    <dd>
                      <ul>
                        <li>
                          有り（有料）<br><br>
                        </li>
                        <li>
                          ※お車でお越しの方<br>
                          　　裏に4台無料<br><br>
                        </li>
                        <li>
                          ※お車以外でお越しの方<br>
                          　　高知駅から窪川駅まで約90分<br>
                          　　窪川駅よりお車で2分、徒歩10分
                        </li>
                      </ul>
                    </dd>
                  </dl>
                </div>
                <div class="hotel_map text-center mt10">
                  <iframe width="430" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=d&source=s_d&saddr=%E9%AB%98%E7%9F%A5%E7%9C%8C%E9%AB%98%E5%B2%A1%E9%83%A1%E5%9B%9B%E4%B8%87%E5%8D%81%E7%94%BA%E6%9C%AC%E7%94%BA%EF%BC%91%E2%88%92%EF%BC%91%EF%BC%94&daddr=&hl=ja&geocode=&mra=mi&sll=33.210136,133.135635&sspn=0.011346,0.01281&g=%E9%AB%98%E7%9F%A5%E7%9C%8C%E9%AB%98%E5%B2%A1%E9%83%A1%E5%9B%9B%E4%B8%87%E5%8D%81%E7%94%BA%E6%9C%AC%E7%94%BA1-14&ie=UTF8&start=0&ll=33.21363,133.13447&spn=0.021974,0.017166&z=14&output=embed"></iframe><br />
                  <div class="hotel_links mt10">
                    <div class="left">
                      　<img src="{{ app.config.ftont_urlpath }}/img/common/arrow01.png" alt=""/><small><a class="gb_link" target="_blank" href="http://maps.google.co.jp/maps?f=d&source=s_d&saddr=%E9%AB%98%E7%9F%A5%E7%9C%8C%E9%AB%98%E5%B2%A1%E9%83%A1%E5%9B%9B%E4%B8%87%E5%8D%81%E7%94%BA%E6%9C%AC%E7%94%BA%EF%BC%91%E2%88%92%EF%BC%91%EF%BC%94&daddr=&hl=ja&geocode=&mra=mi&sll=33.210136,133.135635&sspn=0.011346,0.01281&g=%E9%AB%98%E7%9F%A5%E7%9C%8C%E9%AB%98%E5%B2%A1%E9%83%A1%E5%9B%9B%E4%B8%87%E5%8D%81%E7%94%BA%E6%9C%AC%E7%94%BA1-14&ie=UTF8&start=0&ll=33.21363,133.13447&spn=0.021974,0.017166&z=14&output=embed" style="color:#0000FF;">google マップ</a></small>
                    </div>
                    <div class="right">
                      <img src="{{ app.config.ftont_urlpath }}/img/common/arrow01.png" alt=""/><small><a class="gb_link" target="_blank" href="http://maps.google.co.jp/maps?f=d&source=s_d&saddr=%E9%AB%98%E7%9F%A5%E7%9C%8C%E9%AB%98%E5%B2%A1%E9%83%A1%E5%9B%9B%E4%B8%87%E5%8D%81%E7%94%BA%E6%9C%AC%E7%94%BA%EF%BC%91%E2%88%92%EF%BC%91%EF%BC%94&daddr=&hl=ja&geocode=&mra=mi&sll=33.210136,133.135635&sspn=0.011346,0.01281&g=%E9%AB%98%E7%9F%A5%E7%9C%8C%E9%AB%98%E5%B2%A1%E9%83%A1%E5%9B%9B%E4%B8%87%E5%8D%81%E7%94%BA%E6%9C%AC%E7%94%BA1-14&ie=UTF8&start=0&ll=33.21363,133.13447&spn=0.021974,0.017166&z=14&output=embed" style="color:#0000FF;">yahoo マップ</a></small>
                    </div>
                  </div>
                </div>
                <div class="hotel_desc">
                  <h3 class="h3_title mt50">
                    <img src="{{ app.config.ftont_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                    <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
                  </h3>
                  <div class="gb_post clearfix">
                    <div class="tb_contact_form tb fms md mt10">
                      <div class="tr">
                        <div class="th">総客室数</div>
                        <div class="td">4部屋</div>
                      </div>
                      <div class="tr">
                        <div class="th">お食事</div>
                        <div class="td">うなきちでご予約承ります。</div>
                      </div>
                      <div class="tr">
                        <div class="th">部屋の広さ</div>
                        <div class="td">おひとり～3名様までご宿泊できます。</div>
                      </div>
                      <div class="tr">
                        <div class="th">部屋設備</div>
                        <div class="td">全室バストイレ、全室シャワー、全室冷暖房、テレビ、空の冷蔵庫</div>
                      </div>
                      <div class="tr">
                        <div class="th">宿泊料</div>
                        <div class="td">
                          <ul>
                            <li>
                              一泊	3,780円 （お一人様）<br><br>
                            </li>
                            <li>
                              一カ月	45,360円<br><br>
                            </li>
                            <li>
                              ※共益費、駐車場代、水道光熱費、その他経費、別途頂きます。
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="tr">
                        <div class="th">アメニティ</div>
                        <div class="td">ハンドタオル、歯ブラシ・歯磨き粉、バスタオル、シャンプー、リンス、ボディーソープ、石鹸</div>
                      </div>
                      <div class="tr">
                        <div class="th">施設内容</div>
                        <div class="td">洗濯機、キッチン、テレビ</div>
                      </div>
                      <div class="tr">
                        <div class="th">サービス</div>
                        <div class="td">1階はうなきちです。</div>
                      </div>
                    </div>
                    <div class="tb_contact_form_sm tb fms sm sm-mt10">
                      <dl>
                        <dt>総客室数</dt>
                        <dd>4部屋</dd>
                      </dl>
                      <dl>
                        <dt>お食事</dt>
                        <dd>うなきちでご予約承ります。</dd>
                      </dl>
                      <dl>
                        <dt>部屋の広さ</dt>
                        <dd>おひとり～3名様までご宿泊できます。</dd>
                      </dl>
                      <dl>
                        <dt>部屋設備</dt>
                        <dd>全室バストイレ、全室シャワー、全室冷暖房、テレビ、空の冷蔵庫</dd>
                      </dl>
                      <dl>
                        <dt>宿泊料</dt>
                        <dd>
                          <ul>
                            <li>
                              一泊	3,780円 （お一人様）<br><br>
                            </li>
                            <li>
                              一カ月	45,360円<br><br>
                            </li>
                            <li>
                              ※共益費、駐車場代、水道光熱費、その他経費、別途頂きます。
                            </li>
                          </ul>
                        </dd>
                      </dl>
                      <dl>
                        <dt>アメニティ</dt>
                        <dd>ハンドタオル、歯ブラシ・歯磨き粉、バスタオル、シャンプー、リンス、ボディーソープ、石鹸</dd>
                      </dl>
                      <dl>
                        <dt>施設内容</dt>
                        <dd>洗濯機、キッチン、テレビ</dd>
                      </dl>
                      <dl>
                        <dt>サービス</dt>
                        <dd>1階はうなきちです。</dd>
                      </dl>
                    </div>
                    <div class="thumb">
                      <a href="#">
                      <img src="{{ app.config.ftont_urlpath }}/img/static/hotel_photo1.jpg" alt=" " class="md">
                      <img src="{{ app.config.ftont_urlpath }}/img/static/hotel_photo1.jpg" alt=" " class="sm">
                      </a>
                      <a href="#">
                      <img src="{{ app.config.ftont_urlpath }}/img/static/hotel_photo2.jpg" alt=" " class="md">
                      <img src="{{ app.config.ftont_urlpath }}/img/static/hotel_photo2.jpg" alt=" " class="sm sm-mt10">
                      </a>
                      <p class="bold mt20">
                        チェックイン　／ 15:00から<br>
                        チェックアウト／ 10:00まで
                      </p>
                    </div>
                  </div>
                  <p class="mt10">
                    ●観光やビジネスにとても便利にご利用いただけます。<br>
                    ●四万十川に近く、自然が豊かなところです。<br>
                    ●お問い合わせは【TEL】 0880-22-2138 まで<br><br>
                    <span class="red">※お問い合わせはお電話のみの受付となります。ご了承ください。</span>
                  </p>
                </div>
              </div>
            <div class="gb_line"></div>
            <div class="block_cont">
              <h3 class="h3_title mt30">
                <img src="{{ app.config.ftont_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
                <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
              </h3>
              <div class="row row_third clearfix md mt10">
                <div class="col">
                  <div class="with-puce sec">
                    <div class="with-puce puce"><img src="{{ app.config.ftont_urlpath }}/img/guide/guide_img101.gif" alt="1"></div>
                    <div class="with-puce desc">
                      <h4 class="h4_title">
                        <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                        <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                      </h4>
                      <p class="mt10">
                        毎日新鮮なうなぎを四万十うなぎ本社から取り寄せ、秘伝のタレで焼き上げてます。
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="with-puce sec">
                    <div class="with-puce puce"><img src="{{ app.config.ftont_urlpath }}/img/guide/guide_img102.gif" alt="1"></div>
                    <div class="with-puce desc">
                      <h4 class="h4_title">
                        <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                        <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                      </h4>
                      <p class="mt10">
                        遠赤外線の電熱を使って炭火焼風に焼き上げます。
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="with-puce sec">
                    <div class="with-puce puce"><img src="{{ app.config.ftont_urlpath }}/img/guide/guide_img103.gif" alt="1"></div>
                    <div class="with-puce desc">
                      <h4 class="h4_title">
                        <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                        <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
                      </h4>
                      <p class="mt10">
                        伝統のタレを使って、おいしく焼き上げます。
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <table class="mod_products_filter mt10">
                <tr>
                  <td class="unakichi_img">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_102.gif" alt=" " class="md">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_102.gif" alt=" " class="sm">
                  </td>
                  <td class="text-left">
                    <p>
                      まずはコミュニケーション。<br>
                      あったかな家庭料理のお店を目指し、お子様からお年寄りまで、どなたが来店されても「おいしい」「来て良かった」「また来ます」と おっしゃっていただけるようなお店にしていきたいですね。
                    </p>
                  </td>
                </tr>
              </table>
              <h4 class="h4_title mt10">
                <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
              </h4>
              <div class="browser_links">
                <ul class="right">
                  <li>
                    <img src="{{ app.config.ftont_urlpath }}/img/common/arrow01.png" alt=""/><a class="gb_link" href="#"> google マップ</a>
                  </li>
                  <li>
                    <img src="{{ app.config.ftont_urlpath }}/img/common/arrow01.png" alt=""/><a class="gb_link" href="#"> yahoo マップ</a>
                  </li>
                </ul>
              </div>
              <table class="unakichi_table mod_products_filter mt10">
                <tr>
                  <th class="bold">
                    住所
                  </th>
                  <td>
                    高知県高岡郡四万十町本町1-14
                  </td>
                </tr>
                <tr>
                  <th class="bold">
                    アクセス
                  </th>
                  <td>
                    <ul>
                      <li>
                        土佐くろしお鉄道　窪川駅より　徒歩約10分
                      </li>
                      <li>
                        高知自動車道須崎ICより　約1時間
                      </li>
                      <li>
                        ●東京	車以外／高知龍馬空港
                      </li>
                      <li>
                          車／南国ICから須崎ICへ～須崎～須崎ICから約60分
                      </li>
                      <li>
                        ●大阪	車以外／高知龍馬空港
                      </li>
                      <li>
                          車／南国ICから須崎ICへ～須崎～須崎ICから約60分
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th class="bold">
                    パーキング
                  </th>
                  <td>
                    <ul>
                      <li>
                        有り（無料）
                      </li>
                      <li>
                        ※車以外／高知駅から窪川駅まで約1時間半　窪川駅より徒歩10分、お車で2分
                      </li>
                      <li>
                        ※車／裏に4台無料
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
              <h4 class="h4_title mt10">
                <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
              </h4>
              <table class="unakichi_table mod_products_filter mt10">
                <tr>
                  <th class="bold">
                    営業時間
                  </th>
                  <td>
                    AM7:30～PM9:00
                  </td>
                </tr>
                <tr>
                  <th class="bold">
                    定休日
                  </th>
                  <td>
                    <ul>
                      <li>
                        不定休
                      </li>
                      <li>
                        ※ご来店前日までにご連絡ください。
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
              <h4 class="h4_title mt10">
                <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
              </h4>
              <table class="unakichi_table mod_products_filter mt10">
                <tr>
                  <th class="bold">
                    平均予算
                  </th>
                  <td>
                    <ul>
                      <li>
                        現金のみのお支払いとなります。
                      </li>
                      <li>
                        クレジットカードは使えません。
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
              <h4 class="h4_title mt10">
                <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
              </h4>
              <table class="unakichi_table mod_products_filter mt10">
                <tr>
                  <th class="bold">
                    総席数
                  </th>
                  <td>
                    25席　※座席有り　※駐車場有り
                  </td>
                </tr>
              </table>
              <h4 class="h4_title mt10">
                <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
              </h4>
              <table class="unakichi_table mod_products_filter mt40">
                <tr>
                  <th class="bold">
                    店名
                  </th>
                  <td>
                    うなきち
                  </td>
                </tr>
                <tr>
                  <th class="bold">
                    住所
                  </th>
                  <td>
                    高知県高岡郡四万十町本町1-14
                  </td>
                </tr>
                <tr>
                  <th class="bold">
                    電話
                  </th>
                  <td>
                    <ul>
                      <li>
                        0880-22-2138
                      </li>
                      <li class="red">
                        ※お問い合わせはお電話のみの受付となります。ご了承ください。
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th class="bold">
                    営業時間
                  </th>
                  <td>
                    AM7:30～PM9:00
                  </td>
                </tr>
                <tr>
                  <th class="bold">
                    お問い合わせ時間
                  </th>
                  <td>
                    AM7:30～PM9:00
                  </td>
                </tr>
                <tr>
                  <th class="bold">
                    定休日
                  </th>
                  <td>
                    <ul>
                      <li>
                        不定休
                      </li>
                      <li>
                        ※ご来店前日までにご連絡ください。
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
              <h4 class="h4_title mt10">
                <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md">
                <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm">
              </h4>
              <table class="unakichi_table mod_products_filter mt10">
                <tr>
                  <td>
                    <ul>
                      <li>
                        携帯電話はつながります。
                      </li>
                      <li>
                        お子様連れ歓迎します。
                      </li>
                      <li>
                        二次会でのご利用もできます。
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
              <p class="mt20">まずは、お問い合わせください。</p>

              <div class="gb_line mt50"></div>

              <h3 class="h3_title mb20 mt20">
                <img src="{{ app.config.ftont_urlpath }}/img/about/h3_title.png" alt=" " class="md">
                <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm">
              </h3>
              <div class="unakichi_dishes">
                <h4 class="h4_title">
                  <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                  <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <div class="gb_post clearfix bbt3sb">
                  <div class="cont">
                    <p class="md">
                      『うなきちのうな重（上）』<br><br>
                      うなぎの弾力と上品な脂と自慢のタレが素晴らしい調和を奏でます。<br>
                      自慢のタレで焼く香りが、食欲をそそる。<br>
                    </p>
                    <p class="sm">
                      『うなきちのうな重（上）』<br><br>
                      うなぎの弾力と上品な脂と自慢のタレが素晴らしい調和を奏でます。<br>
                      自慢のタレで焼く香りが、食欲をそそる。<br>
                    </p>
                  </div>
                  <div class="thumb">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_201.jpg" alt=" " class="md">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_201.jpg" alt=" " class="sm sm_center">
                  </div>
                </div>
                <h4 class="h4_title">
                  <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                  <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <div class="gb_post clearfix bbt3sb">
                  <div class="cont">
                    <p class="md">
                      『うなぎの蒲焼き』<br><br>
                      創業以来から変わらない秘伝のタレでじっくり焼き上げました。<br>
                      ふっくらとやわらかく旨みたっぷり！こだわりの逸品です。
                    </p>
                    <p class="sm">
                      『うなぎの蒲焼き』<br><br>
                      創業以来から変わらない秘伝のタレでじっくり焼き上げました。<br>
                      ふっくらとやわらかく旨みたっぷり！こだわりの逸品です。
                    </p>
                  </div>
                  <div class="thumb">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_202.jpg" alt=" " class="md">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_202.jpg" alt=" " class="sm sm_center">
                  </div>
                </div>
                <h4 class="h4_title">
                  <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                  <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <div class="gb_post clearfix bbt3sb">
                  <div class="cont">
                    <p class="md">
                      『うなぎの柳川風』<br><br>
                      うなぎとゴボウの風味を溶き卵で、ふっくら包み込み、口当たりの良い逸品です。
                    </p>
                    <p class="sm">
                      『うなぎの柳川風』<br><br>
                      うなぎとゴボウの風味を溶き卵で、ふっくら包み込み、口当たりの良い逸品です。
                    </p>
                  </div>
                  <div class="thumb">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_203.jpg" alt=" " class="md">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_203.jpg" alt=" " class="sm sm_center">
                  </div>
                </div>
                <h4 class="h4_title">
                  <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                  <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <div class="gb_post clearfix bbt3sb">
                  <div class="cont">
                    <p class="md">
                      『うなぎのきも串焼き』<br><br>
                      うなぎ一尾にひとつしかない貴重な肝。<br>
                      ちょっとほろ苦のきも串焼き、臭みがなく栄養満天です！。
                    </p>
                    <p class="sm">
                      『うなぎのきも串焼き』<br><br>
                      うなぎ一尾にひとつしかない貴重な肝。<br>
                      ちょっとほろ苦のきも串焼き、臭みがなく栄養満天です！
                    </p>
                  </div>
                  <div class="thumb">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_204.jpg" alt=" " class="md">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_204.jpg" alt=" " class="sm sm_center">
                  </div>
                </div>
                <h4 class="h4_title">
                  <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                  <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
                </h4>
                <div class="gb_post clearfix bbt3sb">
                  <div class="cont">
                    <p class="md">
                      『うなぎのたたき』<br><br>
                      うなきちが誇る一番の味覚といえば、うなぎのタタキ！<br>
                      独特の皮の歯ごたえとともに、締まった身の旨みが広がる。<br>
                      さっぱり風味のタレと相まって、すがすがしい食感。
                    </p>
                    <p class="sm">
                      『うなぎのたたき』<br><br>
                      うなきちが誇る一番の味覚といえば、うなぎのタタキ！<br>
                      独特の皮の歯ごたえとともに、締まった身の旨みが広がる。<br>
                      さっぱり風味のタレと相まって、すがすがしい食感。
                    </p>
                  </div>
                  <div class="thumb">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_205.jpg" alt=" " class="md">
                    <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_205.jpg" alt=" " class="sm sm_center">
                  </div>
                </div>
              </div>
              <h4 class="h4_title">
                <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
              </h4>
              <div class="gb_post clearfix bbt3sb">
                <div class="cont">
                  <p class="md">
                    『うなぎの白焼き』<br><br>
                    うなぎ本来の旨みを味わうなら白焼きです。わさび醤油でさっぱりと。 ふっくらと柔らかく香ばしい、味わいです。
                  </p>
                  <p class="sm">
                    『うなぎの白焼き』<br><br>
                    うなぎ本来の旨みを味わうなら白焼きです。わさび醤油でさっぱりと。 ふっくらと柔らかく香ばしい、味わいです。
                  </p>
                </div>
                <div class="thumb">
                  <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_206.jpg" alt=" " class="md">
                  <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_206.jpg" alt=" " class="sm sm_center">
                </div>
              </div>
              <h4 class="h4_title">
                <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
              </h4>
              <div class="gb_post clearfix bbt3sb">
                <div class="cont">
                  <p class="md">
                    『天然あゆの塩焼き』<br><br>
                    「香魚」とも呼ばれるあゆ。<br>
                    独特の香りは天然ものだけです！<br>
                    塩焼きは身が引き締まって淡白な味をご賞味下さい。
                  </p>
                  <p class="sm">
                    『天然あゆの塩焼き』<br><br>
                    「香魚」とも呼ばれるあゆ。<br>
                    独特の香りは天然ものだけです！<br>
                    塩焼きは身が引き締まって淡白な味をご賞味下さい。
                  </p>
                </div>
                <div class="thumb">
                  <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_207.jpg" alt=" " class="md">
                  <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_207.jpg" alt=" " class="sm sm_center">
                </div>
              </div>
              <h4 class="h4_title">
                <img src="{{ app.config.ftont_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                <img src="{{ app.config.ftont_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
              </h4>
              <div class="gb_post clearfix bbt3sb nobar">
                <div class="cont">
                  <p class="md">
                    『うなぎ蒲焼き定食』<br><br>
                    蒲焼、ご飯、肝吸い、小鉢、うなぎの肝煮の定食になっています。<br>
                    小鉢は、季節のものをお出ししています。<br>
                    ボリュームのある定食になっています。
                  </p>
                  <p class="sm">
                    『うなぎ蒲焼き定食』<br><br>
                    蒲焼、ご飯、肝吸い、小鉢、うなぎの肝煮の定食になっています。<br>
                    小鉢は、季節のものをお出ししています。<br>
                    ボリュームのある定食になっています。
                  </p>
                </div>
                <div class="thumb">
                  <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_208.jpg" alt=" " class="md">
                  <img src="{{ app.config.ftont_urlpath }}/img/static/unakichi_img_208.jpg" alt=" " class="sm sm_center">
                </div>
              </div>
            </div>
              
            </div>
            <!-- /.block_about -->
          </div>
{% endblock %}