{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = '' %}

{% block main %}

<div class="main_post">
    <div class="block_pathway">
      <ul class="ul_pathway">
        <li><a href="{{ url('homepage') }}">TOP</a></li>
        <li><span>おすすめレシピ</span></li>
      </ul>
    </div>
    <!-- /.block_pathway -->
    <div class="mod_static block_about gb_block recipe">
      <div class="block_cont">
        <h2 class="h2_title">
          <img src="{{ app.config.front_urlpath }}/img/about/h2_title.png" alt=" " class="md" />
          <img src="{{ app.config.front_urlpath }}/img/about/sm/h2_title.png" alt=" " class="sm" />
        </h2>
        <p class="mt50">
          当店の四万十うなぎを使ったお勧めのレシピをご紹介します。<br>
          四万十うなぎ株式会社代表取締役社長大前達也の力作です。<br>
          簡単に作れますので、皆様も是非どうぞ。
        </p>
        <div class="recipe_desc">
          <h3 class="h3_title mt50">
            <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
          </h3>
          <div class="group_gb_style clearfix">
            <div class="col col1 recipe_col01_mr recipe_col01_40">
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img01.jpg" alt=" " class="md" />
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img01.jpg" alt=" " class="sm sm_center" />
            </div>
            <div class="col col02 recipe_col02_55">
              <h4 class="h4_title sm-mt10">
                <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
              </h4>
              <table class="recipe_table mod_products_filter mt10">
                <tr>
                  <th>
                    うなぎの蒲焼
                  </th>
                  <td>
                    約70g
                  </td>
                </tr>
                <tr>
                  <th>
                    うなぎのタレ
                  </th>
                  <td>
                    大さじ1
                  </td>
                </tr>
                <tr>
                  <th>
                    卵
                  </th>
                  <td>
                    4個
                  </td>
                </tr>
                <tr>
                  <th>
                    大根おろし
                  </th>
                  <td>
                    適宜
                  </td>
                </tr>
              </table>
              <table class="recipe_table mt10">
                <tr>
                  <th>
                    （A）
                  </th>
                  <td></td>
                </tr>
                <tr>
                  <th>
                    だし汁
                  </th>
                  <td>
                    70ml
                  </td>
                </tr>
                <tr>
                  <th>
                    塩
                  </th>
                  <td>
                    小さじ1/3
                  </td>
                </tr>
                <tr>
                  <th>
                    醤油
                  </th>
                  <td>
                    小さじ1/2
                  </td>
                </tr>
                <tr>
                  <th>
                    サラダ油
                  </th>
                  <td>
                    適量
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <h4 class="h4_title mt30">
            <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
          </h4>
          <ul class="numbers mt10">
            <li>
              うなぎはざく切りにしてアルミホイルにのせ、タレをかけてグリルで焼きます。<br>
              両面焼きグリル強火約2分（片面焼きグリル、強火2分、全体を混ぜて強火約1分）
            </li>
            <li>
              卵を割りほぐし、Aを加えます
            </li>
            <li>
              卵焼き鍋を温め、油を敷いて2の1/4量を流し入れて軽く混ぜ、<br>
              1を全体に散らします。奥から手前に巻き込みます。
            </li>
            <li>
              空いたスペースに油を敷いて卵を奥に押しやり、手前側にも油を敷きます。
            </li>
            <li>
              残りの卵液の1/3量を流し、焼けた部分を箸で持ち上げて卵液を下に流し込みます。
            </li>
            <li>
              5の下が焼けたら奥から手前に巻き込みます。
            </li>
            <li>
              4～6を繰り返しながら焼きます。
            </li>
            <li>
              7を切り分けて器に盛り付け、大根おろしを添えます。
            </li>
          </ul>
        </div>
        <div class="recipe_desc">
          <h3 class="h3_title mt50">
            <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
          </h3>
          <div class="group_gb_style clearfix">
            <div class="col col1 recipe_col01_mr recipe_col01_40">
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img02.jpg" alt=" " class="md" />
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img02.jpg" alt=" " class="sm sm_center" />
            </div>
            <div class="col col02 recipe_col02_55">
              <h4 class="h4_title sm-mt10">
                <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
              </h4>
              <table class="recipe_table mod_products_filter mt10">
                <tr>
                  <th>
                    うなぎの蒲焼
                  </th>
                  <td>
                    約110g
                  </td>
                </tr>
                <tr>
                  <th>
                    酒
                  </th>
                  <td>
                    少々
                  </td>
                </tr>
                <tr>
                  <th>
                    きゅうり
                  </th>
                  <td>
                    2本
                  </td>
                </tr>
                <tr>
                  <th>
                    塩
                  </th>
                  <td>
                    少々
                  </td>
                </tr>
                <tr>
                  <th>
                    ショウガ
                  </th>
                  <td>
                    1片
                  </td>
                </tr>
              </table>
              <table class="recipe_table mt10">
                <tr>
                  <th>
                    （A）
                  </th>
                  <td></td>
                </tr>
                <tr>
                  <th>
                    砂糖
                  </th>
                  <td>
                    大さじ1
                  </td>
                </tr>
                <tr>
                  <th>
                    塩
                  </th>
                  <td>
                    小さじ1/4
                  </td>
                </tr>
                <tr>
                  <th>
                    酢
                  </th>
                  <td>
                    大さじ2
                  </td>
                </tr>
                <tr>
                  <th>
                    醤油
                  </th>
                  <td>
                    小さじ1
                  </td>
                </tr>
                <tr>
                  <th>
                    すりゴマ（白）
                  </th>
                  <td>
                    小さじ1
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <h4 class="h4_title mt30">
            <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
          </h4>
          <ul class="numbers mt10">
            <li>
              うなぎはざく切りにしてアルミホイルにのせ、酒をふってグリルで焼きます。<br>
                両面焼きグリル強火約2分（片面焼きグリル強火2分、全体を混ぜて強火約1分）
            </li>
            <li>
              きゅうりは小口切りにし、塩をまぶしてしばらく置いて水分が出たら絞ります。
            </li>
            <li>
              ショウガは針ショウガにし、水にさらして水気をきります。
            </li>
            <li>
              Aの調味料を合わせます。
            </li>
            <li>
              4に、1と2を和えて器に盛り、3を天盛りにします。
            </li>
          </ul>
        </div>
        <div class="recipe_desc">
          <h3 class="h3_title mt50">
            <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
          </h3>
          <div class="group_gb_style clearfix">
            <div class="col col1 recipe_col01_mr recipe_col01_40">
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img03.jpg" alt=" " class="md" />
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img03.jpg" alt=" " class="sm sm_center" />
            </div>
            <div class="col col02 recipe_col02_55">
              <h4 class="h4_title sm-mt10">
                <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
              </h4>
              <table class="recipe_table mod_products_filter mt10">
                <tr>
                  <th>
                    エビ（殻付き）
                  </th>
                  <td>
                    中4尾
                  </td>
                </tr>
                <tr>
                  <th>
                    うなぎ蒲焼
                  </th>
                  <td>
                    約100g
                  </td>
                </tr>
                <tr>
                  <th>
                    酒
                  </th>
                  <td>
                    大さじ1
                  </td>
                </tr>
                <tr>
                  <th>
                    卵
                  </th>
                  <td>
                    1コ
                  </td>
                </tr>
              </table>
              <table class="recipe_table mod_products_filter mt10">
                <tr>
                  <th>
                    （かけつゆ）
                  </th>
                  <td></td>
                </tr>
                <tr>
                  <th>
                    みりん
                  </th>
                  <td>
                    150ml
                  </td>
                </tr>
                <tr>
                  <th>
                    醤油
                  </th>
                  <td>
                    150ml
                  </td>
                </tr>
                <tr>
                  <th>
                    水
                  </th>
                  <td>
                    4カップ
                  </td>
                </tr>
                <tr>
                  <th>
                    カツオ節
                  </th>
                  <td>
                    40g
                  </td>
                </tr>
              </table>
              <table class="recipe_table mt10">
                <tr>
                  <th>
                    （A）
                  </th>
                  <td></td>
                </tr>
                <tr>
                  <th>
                    塩
                  </th>
                  <td>
                    少々
                  </td>
                </tr>
                <tr>
                  <th>
                    砂糖
                  </th>
                  <td>
                    少々
                  </td>
                </tr>
                <tr>
                  <th>
                    サラダ油
                  </th>
                  <td>
                    小さじ１
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <h4 class="h4_title mt30">
            <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
          </h4>
          <ul class="numbers mt10">
            <li>
              かけつゆを作ります。鍋にみりんを入れアルコールを飛ばして醤油、水を加えます。<br>
                沸騰したらカツオ節を加え2～3分煮て火を止め、渡して冷やします。
            </li>
            <li>
              エビは背わたを取りグリルで焼きます。両面焼きグリル、エビ強火約6分（片面<br>
                焼きグリル、エビ強火4分、返して約3分）焼き上がったらエビは殻と尾を剥きます。
            </li>
            <li>
              うなぎの蒲焼きは食べやすい大きさに切り、アルミホイルにのせて酒をふってグリルで<br>
                焼きます。両面焼きグリル、強火約2分（片面焼きグリル、強火2分、返して約1分）
            </li>
            <li>
              ボウルに卵を割りほぐし、Aを加えてよく混ぜ合わせます。
            </li>
            <li>
              フライパンを熱してサラダ油を薄く敷き、4を流し入れ薄焼き卵を作り、短冊に切ります。
            </li>
            <li>
              ショウガはすりおろします。
            </li>
            <li>
              鍋にたっぷりの湯を沸かします。そうめんを入れてほぐし、一度沸騰したら火加減を調節して手早く茹でます。<br>
              茹で上がったらザルに上げ、すぐに水にさらして粗熱を取り、粗熱がとれたら手で揉み洗いして水気をきります。
            </li>
            <li>
              器に7を盛り付け、その上に 2 , 3 , 5 , 6 をのせ 1をかけて仕上げます。
            </li>
          </ul>
        </div>
        <div class="recipe_desc">
          <h3 class="h3_title mt50">
            <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
          </h3>
          <div class="group_gb_style clearfix">
            <div class="col col1 recipe_col01_mr recipe_col01_40">
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img04.jpg" alt=" " class="md" />
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img04.jpg" alt=" " class="sm sm_center" />
            </div>
            <div class="col col02 recipe_col02_55">
              <h4 class="h4_title sm-mt10">
                <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
              </h4>
              <table class="recipe_table mod_products_filter mt10">
                <tr>
                  <th>
                    ごぼう
                  </th>
                  <td>
                    40g
                  </td>
                </tr>
                <tr>
                  <th>
                    酢
                  </th>
                  <td>
                    少々
                  </td>
                </tr>
                <tr>
                  <th>
                    うなぎ蒲焼
                  </th>
                  <td>
                    約120g
                  </td>
                </tr>
                <tr>
                  <th>
                    卵
                  </th>
                  <td>
                    ２個
                  </td>
                </tr>
                <tr>
                  <th>
                    三つ葉
                  </th>
                  <td>
                    適量
                  </td>
                </tr>
              </table>
              <table class="recipe_table mod_products_filter mt10">
                <tr>
                  <th>
                    （A）だし汁
                  </th>
                  <td></td>
                </tr>
                <tr>
                  <th>
                    かつおだし（顆粒）
                  </th>
                  <td>
                    小さじ1
                  </td>
                </tr>
                <tr>
                  <th>
                    水
                  </th>
                  <td>
                    200ml
                  </td>
                </tr>
                <tr>
                  <th>
                    塩
                  </th>
                  <td>
                    少々
                  </td>
                </tr>
              </table>
              <table class="recipe_table mt10">
                <tr>
                  <th>
                    （B）
                  </th>
                  <td></td>
                </tr>
                <tr>
                  <th>
                    酒
                  </th>
                  <td>
                    大さじ1
                  </td>
                </tr>
                <tr>
                  <th>
                    みりん
                  </th>
                  <td>
                    大さじ2
                  </td>
                </tr>
                <tr>
                  <th>
                    砂糖
                  </th>
                  <td>
                    大さじ1
                  </td>
                </tr>
                <tr>
                  <th>
                    醤油
                  </th>
                  <td>
                    大さじ3
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <h4 class="h4_title mt30">
            <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
          </h4>
          <ul class="numbers mt10">
            <li>
              ごぼうは皮をそげてささがきにし、酢水にさらして水気を切ります。<br>
                うなぎは幅 1cmに切ります。三つ葉はざく切りにします。
            </li>
            <li>
              浅めの鍋に（A）とごぼうを入れて、中火にかけ、煮立ったら弱火にして10分煮ます。
            </li>
            <li>
              （B）を加えて、さらに5分煮て、うなぎを散らします。
            </li>
            <li>
              卵を割りほぐし、鍋に流し入れ、三つ葉を散らし、ふたをして卵が半熟になるまで火を通します。
            </li>
          </ul>
        </div>
        <div class="recipe_desc">
          <h3 class="h3_title mt50">
            <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
          </h3>
          <div class="group_gb_style clearfix">
            <div class="col col1 recipe_col01_mr recipe_col01_40">
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img05.jpg" alt=" " class="md" />
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img05.jpg" alt=" " class="sm sm_center" />
            </div>
            <div class="col col02 recipe_col02_55">
              <h4 class="h4_title sm-mt10">
                <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
              </h4>
              <table class="recipe_table mt10">
                <tr>
                  <th>
                    うなぎの蒲焼
                  </th>
                  <td>
                    約120g
                  </td>
                </tr>
                <tr>
                  <th>
                    きゅうり（千切り）
                  </th>
                  <td>
                    適量
                  </td>
                </tr>
                <tr>
                  <th>
                    わさび
                  </th>
                  <td>
                    適量
                  </td>
                </tr>
                <tr>
                  <th>
                    青しそ
                  </th>
                  <td>
                    １枚
                  </td>
                </tr>
                <tr>
                  <th>
                    蒲焼のたれ
                  </th>
                  <td>
                    15ml
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <h4 class="h4_title mt30">
            <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
          </h4>
          <ul class="numbers mt10">
            <li>
              うなぎの蒲焼をグリルで両面、香ばしくこんがりと焼きます。
            </li>
            <li>
              焼き上がった蒲焼を器に盛り、青しそ、きゅうり（千切り）、わさびをのせ、蒲焼のタレをかけます。
            </li>
          </ul>
        </div>
        <div class="recipe_desc">
          <h3 class="h3_title mt50">
            <img src="{{ app.config.front_urlpath }}/img/about/h3_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h3_title.png" alt=" " class="sm" />
          </h3>
          <div class="group_gb_style clearfix">
            <div class="col col1 recipe_col01_mr recipe_col01_40">
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img06.jpg" alt=" " class="md" />
              <img src="{{ app.config.front_urlpath }}/img/static/recipe_img06.jpg" alt=" " class="sm sm_center" />
            </div>
            <div class="col col02 recipe_col02_55">
              <h4 class="h4_title sm-mt10">
                <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
                <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
              </h4>
              <table class="recipe_table mod_products_filter mt10">
                <tr>
                  <th>
                    うなぎの蒲焼
                  </th>
                  <td>
                    約120g
                  </td>
                </tr>
                <tr>
                  <th>
                    ご飯
                  </th>
                  <td>
                    適量
                  </td>
                </tr>
                <tr>
                  <th>
                    蒲焼のタレ
                  </th>
                  <td>
                    15ml
                  </td>
                </tr>
                <tr>
                  <th>
                    青しそ（刻んだもの）
                  </th>
                  <td>
                    適宜
                  </td>
                </tr>
                <tr>
                  <th>
                    きゅうり（千切り）
                  </th>
                  <td>
                    適宜
                  </td>
                </tr>
                <tr>
                  <th>
                    きざみ海苔
                  </th>
                  <td>
                    適宜
                  </td>
                </tr>
                <tr>
                  <th>
                    ねりわさび
                  </th>
                  <td>
                    少々
                  </td>
                </tr>
              </table>
              <table class="recipe_table mt10">
                <tr>
                  <th>
                    だし汁
                  </th>
                  <td></td>
                </tr>
                <tr>
                  <th>
                    水
                  </th>
                  <td>
                    ３カップ
                  </td>
                </tr>
                <tr>
                  <th>
                    塩
                  </th>
                  <td>
                    少々
                  </td>
                </tr>
                <tr>
                  <th>
                    かつおだし（顆粒）
                  </th>
                  <td>
                    小さじ１杯
                  </td>
              </table>
              <p>※だし汁は火にかけて温めておきます。</p>
            </div>
          </div>
          <h4 class="h4_title mt30">
            <img src="{{ app.config.front_urlpath }}/img/about/h4_title.png" alt=" " class="md" />
            <img src="{{ app.config.front_urlpath }}/img/about/sm/h4_title.png" alt=" " class="sm" />
          </h4>
          <ul class="numbers mt10">
            <li>
              うなぎ蒲焼をグリルで軽く焼きます。
            </li>
            <li>
              焼いた蒲焼を1cmほどの幅に刻みます。
            </li>
            <li>
              どんぶりにご飯を一人前（お好みの量で）をもり、たれを全体に行き渡るようにかけ、<br>
                2で刻んだうなぎをのせます。
            </li>
            <li>
              刻んだうなぎの上に青しそ（刻んだもの）きゅうり（千切り）、きざみ海苔、ねりわさびをのせます。
            </li>
            <li>
              あたためた、だし汁をたっぷりかけて、お茶漬けにして食べます。
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.block_about -->
</div>

{% endblock %}