<link href="{{ app.config.root_urlpath }}/plugin/calendar/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="{{ app.config.root_urlpath }}/plugin/calendar/bootstrap-datepicker/css/calendar.css" rel="stylesheet" type="text/css" />
<link href="{{ app.config.root_urlpath }}/plugin/calendar/holiday.css" rel="stylesheet" type="text/css" />

<script src="{{ app.config.root_urlpath }}/plugin/calendar/bootstrap-datepicker/js/bootstrap-datepicker.min.js" defer="defer"></script>
<script src="{{ app.config.root_urlpath }}/plugin/calendar/bootstrap-datepicker/js/bootstrap-datepicker.ja.min.js" defer="defer"></script>


<script defer="defer">
window.onload = function() {
    holiday = {{ holiday_json|raw }}
    $('#calendar div').datepicker({
        language: "ja",
        format: 'yyyy/mm/dd',
        startDate : new Date(holiday.min),
        endDate : new Date(holiday.max),
        datesDisabled: holiday.holidays,
        daysOfWeekDisabled: holiday.weekends,
    });
}
</script>

<div id="calendar">
    <div></div>
</div>