<!-- HEADER for pc  -->
<header class="md">
    <div class="header_inner clearfix">
        <div class="logo"><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/common/logo.png" alt="四万十うなぎ" /></a></div>
        <div class="top_bar">
            {% if is_granted('ROLE_USER') %}
                <div class="login_info">ようこそ、<span class="user_name">{{ app.user.name01 }} {{ app.user.name02 }}</span> 様</div>
            {% else %}
                <div class="login_info"><a href="{{ url('mypage_login') }}" class="user_name">ログイン</a>してください</div>
            {% endif %}
            <div class="login_info">
                <a href="{{ url('homepage') }}cart" class="btn_login trans"><img src="{{ app.config.front_urlpath }}/img/common/btn_cart.png" alt="お買い物カゴ" /></a>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ url('homepage') }}mypage" class="btn_login trans"><img src="{{ app.config.front_urlpath }}/img/common/btn_mypage.png" alt="マイページ" /></a>
                {% endif %}
            </div>
        </div>
        <div class="bottom_bar">
            <div class="mod_pay"><img src="{{ app.config.front_urlpath }}/img/common/header_pay.png" alt="支払い方法" /></div>
            <div class="mod_access">
                <div class="contact_tel"><img src="{{ app.config.front_urlpath }}/img/common/header_contact.png" alt="オンラインショップお問い合わせ窓口 088-803-7108 お気軽にお問い合わせください。お問い合わせフォームはこちら" /></div>
                <a href="{{ url('homepage') }}contact" class="contact_btn trans">
                    <img src="{{ app.config.front_urlpath }}/img/common/ico_mail.png" alt="contact" />
                </a>
            </div>
        </div>
    </div>
    <nav>
        <ul class="navbar clearfix">
            <li><a href="{{ url('homepage') }}help/guide"><img src="{{ app.config.front_urlpath }}/img/common/nav01.png" alt="お買い物ガイド" /></a></li>
            <li><a href="#"><img src="{{ app.config.front_urlpath }}/img/common/nav02.png" alt="お支払い・配送について" /></a></li>
            <li><a href="{{ url('homepage') }}user_data/faq"><img src="{{ app.config.front_urlpath }}/img/common/nav03.png" alt="よくあるご質問" /></a></li>
            <li><a href="{{ url('homepage') }}help/about"><img src="{{ app.config.front_urlpath }}/img/common/nav04.png" alt="会社情報" /></a></li>
            <li><a href="{{ url('homepage') }}user_data/appeal"><img src="{{ app.config.front_urlpath }}/img/common/nav05.png" alt="四万十うなぎのこだわり" /></a></li>
        </ul>
    </nav>
</header><!-- /.HEADER for pc  -->

<!-- HEADER for sp -->
<div class="header_sm sm">
    <div class="header_top">四万十川で取れたシラスを厳しい管理の下、優しく育てた自慢のうなぎ</div>
    <div class="header_inner">
        <div class="logo">
            <a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/common/sm/logo.png" alt="四万十うなぎ" /></a>
        </div>
        <div class="top_bar clearfix">
            <a href="{{ url('homepage') }}cart" class="btn_cart"><img src="{{ app.config.front_urlpath }}/img/common/sm/btn_cart.png" alt="買い物カゴ" /></a>
            <div id="btn_menu"><img src="{{ app.config.front_urlpath }}/img/common/sm/btn_menu.png" alt="menu" /></div>
        </div>
        <div class="bottom_bar">
            <div class="login_info">
                {% if is_granted('ROLE_USER') %}
                    <p>ようこそ、<span class="user_name">{{ app.user.name01 }} {{ app.user.name02 }}</span> 様</p>
                {% else %}
                    <a href="{{ url('mypage_login') }}" class="user_name">ログイン</a>してください
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ url('homepage') }}mypage" class="btn_login"><img src="{{ app.config.front_urlpath }}/img/common/btn_mypage.png" alt="マイページ" /></a>
                {% endif %}
            </div>
            <div class="register_info">
                <img src="{{ app.config.front_urlpath }}/img/common/sm/header_pay.png" alt="支払い方法">
            </div>
        </div>
    </div>
</div><!-- HEADER for sp -->

<!-- NAV for sp -->
<div class="nav_sm sm">
    <ul class="navbar clearfix">
        <li class="nav01">
            <a href="{{ url('homepage') }}help/guide/"><img src="{{ app.config.front_urlpath }}/img/common/sm/nav01.png" alt="お買い物ガイド" /></a>
        </li>
        <li class="nav02">
            <a href="#"><img src="{{ app.config.front_urlpath }}/img/common/sm/nav02.png" alt="お支払い・配送について" /></a>
        </li>
        <li class="nav03">
            <a href="{{ url('homepage') }}help/about"><img src="{{ app.config.front_urlpath }}/img/common/sm/nav03.png" alt="会社情報" /></a>
        </li>
    </ul>
    <ul class="navbar one_half clearfix">
        <li class="nav04">
            <a href="{{ url('homepage') }}user_data/faq"><img src="{{ app.config.front_urlpath }}/img/common/sm/nav04.png" alt="よくあるご質問" /></a>
        </li>
        <li class="nav05">
            <a href="{{ url('homepage') }}user_data/appeal"><img src="{{ app.config.front_urlpath }}/img/common/sm/nav05.png" alt="四万十うなぎのこだわり" /></a>
        </li>
    </ul>
</div><!-- NAV for sp -->

<!-- Menu for sp -->

<div class="nav_menu_sm sm">
    <div class="nav_menu_sm_inner">
        <div class="nav_head clearfix">
            <h3 class="ttl"><img src="{{ app.config.front_urlpath }}/img/common/sm/menu_open_ttl.png" alt="メニュー" /></h3>
            <div class="btn clearfix">
                <a href="{{ url('homepage') }}cart" class="btn_cart_open"><img src="{{ app.config.front_urlpath }}/img/common/sm/btn_cart_open.png" alt="買い物カゴ" /></a>
                <div id="btn_close"><img src="{{ app.config.front_urlpath }}/img/common/sm/btn_close.png" alt="close" /></div>
            </div>
        </div>
        <div class="nav_cont">
            <ul class="navbar_open accordion">
                <li>
                    <a href="{{ url('homepage') }}"><span>トップページ</span></a>
                </li>
                <li>
                    <a href="{{ url('homepage') }}help/guide"><span>初めての方へ</span></a>
                </li>
                <li>
                    <a href="{{ url('homepage') }}user_data/appeal"><span>四万十うなぎのこだわり</span></a>
                </li>
                <li>
                    <a href="#"><span>商品カテゴリから選ぶ</span></a>
                    <ul>
                        <li><a href="{{ url('homepage') }}products/list"><span>全商品を見る</span></a></li>
                        <li><a href="{{ url('homepage') }}products/list?category_id=7"><span>蒲焼き</span></a></li>
                        <li><a href="{{ url('homepage') }}products/list?category_id=8"><span>塩うなぎ</span></a></li>
                        <li><a href="{{ url('homepage') }}products/list?category_id=9"><span>白焼き</span></a></li>
                        <li><a href="{{ url('homepage') }}products/list?category_id=10"><span>ちまき</span></a></li>
                        <li><a href="{{ url('homepage') }}products/list?category_id=11"><span>珍味</span></a></li>
                        <li><a href="{{ url('homepage') }}products/list?category_id=12"><span>セット商品</span></a></li>
                        <li><a href="{{ url('homepage') }}products/list?category_id=13"><span>まとめ買い</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url('homepage') }}user_data/faq"><span>よくあるご質問</span></a>
                </li>
                <li>
                    <a href="{{ url('homepage') }}contact"><span>お問い合わせ</span></a>
                </li>
                <li>
                    <a href="blog/category/news/"><span>四万十うなぎからのお知らせ</span></a>
                </li>
                <li>
                    <a href="{{ url('homepage') }}help/about"><span>会社情報</span></a>
                </li>
                <li>
                    <a href="{{ url('homepage') }}help/tradelaw"><span>特定商取引について</span></a>
                </li>
                <li>
                    <a href="{{ url('homepage') }}help/privacy"><span>個人情報保護方針</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>