<div class="block_top_slider">
    <div class="block_inner wrapper">
        <div class="div_top_slider md">
            <ul class="ul_top_slider">
                <li>
                    <a href="#"><img src="{{ app.config.front_urlpath }}/img/top/slide01.jpg" alt="四万十うなぎ" /></a>
                </li>
                <li>
                    <a href="#"><img src="{{ app.config.front_urlpath }}/img/top/slide01.jpg" alt="四万十うなぎ" /></a>
                </li>
                <li>
                    <a href="#"><img src="{{ app.config.front_urlpath }}/img/top/slide01.jpg" alt="四万十うなぎ" /></a>
                </li>
            </ul>
        </div>
        <div class="div_top_slider sm">
            <ul class="ul_top_slider">
                <li>
                    <a href="#"><img src="{{ app.config.front_urlpath }}/img/top/sm/slide01.jpg" alt="四万十うなぎ" /></a>
                </li>
                <li>
                    <a href="#"><img src="{{ app.config.front_urlpath }}/img/top/sm/slide01.jpg" alt="四万十うなぎ" /></a>
                </li>
                <li>
                    <a href="#"><img src="{{ app.config.front_urlpath }}/img/top/sm/slide01.jpg" alt="四万十うなぎ" /></a>
                </li>
            </ul>
        </div>
    </div>
</div><!-- block_top_slider -->