/*---------------------------------------
   A.FONT SIZE REPONSIVE
-----------------------------------------*/

@media (max-width: 640px) {
    body {
        font-size: 20px;
    }
}
@media (max-width: 637px) {
    body {
        font-size: 19.9px;
    }
}
@media (max-width: 634px) {
    body {
        font-size: 19.799999999999997px;
    }
}
@media (max-width: 630px) {
    body {
        font-size: 19.699999999999996px;
    }
}
@media (max-width: 627px) {
    body {
        font-size: 19.599999999999994px;
    }
}
@media (max-width: 624px) {
    body {
        font-size: 19.499999999999993px;
    }
}
@media (max-width: 621px) {
    body {
        font-size: 19.39999999999999px;
    }
}
@media (max-width: 618px) {
    body {
        font-size: 19.29999999999999px;
    }
}
@media (max-width: 614px) {
    body {
        font-size: 19.19999999999999px;
    }
}
@media (max-width: 611px) {
    body {
        font-size: 19.099999999999987px;
    }
}
@media (max-width: 608px) {
    body {
        font-size: 18.999999999999986px;
    }
}
@media (max-width: 605px) {
    body {
        font-size: 18.899999999999984px;
    }
}
@media (max-width: 602px) {
    body {
        font-size: 18.799999999999983px;
    }
}
@media (max-width: 598px) {
    body {
        font-size: 18.69999999999998px;
    }
}
@media (max-width: 595px) {
    body {
        font-size: 18.59999999999998px;
    }
}
@media (max-width: 592px) {
    body {
        font-size: 18.49999999999998px;
    }
}
@media (max-width: 589px) {
    body {
        font-size: 18.399999999999977px;
    }
}
@media (max-width: 586px) {
    body {
        font-size: 18.299999999999976px;
    }
}
@media (max-width: 582px) {
    body {
        font-size: 18.199999999999974px;
    }
}
@media (max-width: 579px) {
    body {
        font-size: 18.099999999999973px;
    }
}
@media (max-width: 576px) {
    body {
        font-size: 17.99999999999997px;
    }
}
@media (max-width: 573px) {
    body {
        font-size: 17.89999999999997px;
    }
}
@media (max-width: 570px) {
    body {
        font-size: 17.79999999999997px;
    }
}
@media (max-width: 566px) {
    body {
        font-size: 17.699999999999967px;
    }
}
@media (max-width: 563px) {
    body {
        font-size: 17.599999999999966px;
    }
}
@media (max-width: 560px) {
    body {
        font-size: 17.499999999999964px;
    }
}
@media (max-width: 557px) {
    body {
        font-size: 17.399999999999963px;
    }
}
@media (max-width: 554px) {
    body {
        font-size: 17.29999999999996px;
    }
}
@media (max-width: 550px) {
    body {
        font-size: 17.19999999999996px;
    }
}
@media (max-width: 547px) {
    body {
        font-size: 17.09999999999996px;
    }
}
@media (max-width: 544px) {
    body {
        font-size: 16.999999999999957px;
    }
}
@media (max-width: 541px) {
    body {
        font-size: 16.899999999999956px;
    }
}
@media (max-width: 538px) {
    body {
        font-size: 16.799999999999955px;
    }
}
@media (max-width: 534px) {
    body {
        font-size: 16.699999999999953px;
    }
}
@media (max-width: 531px) {
    body {
        font-size: 16.59999999999995px;
    }
}
@media (max-width: 528px) {
    body {
        font-size: 16.49999999999995px;
    }
}
@media (max-width: 525px) {
    body {
        font-size: 16.39999999999995px;
    }
}
@media (max-width: 522px) {
    body {
        font-size: 16.299999999999947px;
    }
}
@media (max-width: 518px) {
    body {
        font-size: 16.199999999999946px;
    }
}
@media (max-width: 515px) {
    body {
        font-size: 16.099999999999945px;
    }
}
@media (max-width: 512px) {
    body {
        font-size: 15.999999999999945px;
    }
}
@media (max-width: 509px) {
    body {
        font-size: 15.899999999999945px;
    }
}
@media (max-width: 506px) {
    body {
        font-size: 15.799999999999946px;
    }
}
@media (max-width: 502px) {
    body {
        font-size: 15.699999999999946px;
    }
}
@media (max-width: 499px) {
    body {
        font-size: 15.599999999999946px;
    }
}
@media (max-width: 496px) {
    body {
        font-size: 15.499999999999947px;
    }
}
@media (max-width: 493px) {
    body {
        font-size: 15.399999999999947px;
    }
}
@media (max-width: 490px) {
    body {
        font-size: 15.299999999999947px;
    }
}
@media (max-width: 486px) {
    body {
        font-size: 15.199999999999948px;
    }
}
@media (max-width: 483px) {
    body {
        font-size: 15.099999999999948px;
    }
}
@media (max-width: 480px) {
    body {
        font-size: 14.999999999999948px;
    }
}
@media (max-width: 477px) {
    body {
        font-size: 14.899999999999949px;
    }
}
@media (max-width: 474px) {
    body {
        font-size: 14.79999999999995px;
    }
}
@media (max-width: 470px) {
    body {
        font-size: 14.69999999999995px;
    }
}
@media (max-width: 467px) {
    body {
        font-size: 14.59999999999995px;
    }
}
@media (max-width: 464px) {
    body {
        font-size: 14.49999999999995px;
    }
}
@media (max-width: 461px) {
    body {
        font-size: 14.39999999999995px;
    }
}
@media (max-width: 458px) {
    body {
        font-size: 14.299999999999951px;
    }
}
@media (max-width: 454px) {
    body {
        font-size: 14.199999999999951px;
    }
}
@media (max-width: 451px) {
    body {
        font-size: 14.099999999999952px;
    }
}
@media (max-width: 448px) {
    body {
        font-size: 13.999999999999952px;
    }
}
@media (max-width: 445px) {
    body {
        font-size: 13.899999999999952px;
    }
}
@media (max-width: 442px) {
    body {
        font-size: 13.799999999999953px;
    }
}
@media (max-width: 438px) {
    body {
        font-size: 13.699999999999953px;
    }
}
@media (max-width: 435px) {
    body {
        font-size: 13.599999999999953px;
    }
}
@media (max-width: 432px) {
    body {
        font-size: 13.499999999999954px;
    }
}
@media (max-width: 429px) {
    body {
        font-size: 13.399999999999954px;
    }
}
@media (max-width: 426px) {
    body {
        font-size: 13.299999999999955px;
    }
}
@media (max-width: 422px) {
    body {
        font-size: 13.199999999999955px;
    }
}
@media (max-width: 419px) {
    body {
        font-size: 13.099999999999955px;
    }
}
@media (max-width: 416px) {
    body {
        font-size: 12.999999999999956px;
    }
}
@media (max-width: 413px) {
    body {
        font-size: 12.899999999999956px;
    }
}
@media (max-width: 410px) {
    body {
        font-size: 12.799999999999956px;
    }
}
@media (max-width: 406px) {
    body {
        font-size: 12.699999999999957px;
    }
}
@media (max-width: 403px) {
    body {
        font-size: 12.599999999999957px;
    }
}
@media (max-width: 400px) {
    body {
        font-size: 12.499999999999957px;
    }
}
@media (max-width: 397px) {
    body {
        font-size: 12.399999999999958px;
    }
}
@media (max-width: 394px) {
    body {
        font-size: 12.299999999999958px;
    }
}
@media (max-width: 390px) {
    body {
        font-size: 12.199999999999958px;
    }
}
@media (max-width: 387px) {
    body {
        font-size: 12.099999999999959px;
    }
}
@media (max-width: 384px) {
    body {
        font-size: 11.99999999999996px;
    }
}
@media (max-width: 381px) {
    body {
        font-size: 11.89999999999996px;
    }
}
@media (max-width: 378px) {
    body {
        font-size: 11.79999999999996px;
    }
}
@media (max-width: 374px) {
    body {
        font-size: 11.69999999999996px;
    }
}
@media (max-width: 371px) {
    body {
        font-size: 11.59999999999996px;
    }
}
@media (max-width: 368px) {
    body {
        font-size: 11.499999999999961px;
    }
}
@media (max-width: 365px) {
    body {
        font-size: 11.399999999999961px;
    }
}
@media (max-width: 362px) {
    body {
        font-size: 11.299999999999962px;
    }
}
@media (max-width: 358px) {
    body {
        font-size: 11.199999999999962px;
    }
}
@media (max-width: 355px) {
    body {
        font-size: 11.099999999999962px;
    }
}
@media (max-width: 352px) {
    body {
        font-size: 10.999999999999963px;
    }
}
@media (max-width: 349px) {
    body {
        font-size: 10.899999999999963px;
    }
}
@media (max-width: 346px) {
    body {
        font-size: 10.799999999999963px;
    }
}
@media (max-width: 342px) {
    body {
        font-size: 10.699999999999964px;
    }
}
@media (max-width: 339px) {
    body {
        font-size: 10.599999999999964px;
    }
}
@media (max-width: 336px) {
    body {
        font-size: 10.499999999999964px;
    }
}
@media (max-width: 333px) {
    body {
        font-size: 10.399999999999965px;
    }
}
@media (max-width: 330px) {
    body {
        font-size: 10.299999999999965px;
    }
}
@media (max-width: 326px) {
    body {
        font-size: 10.199999999999966px;
    }
}
@media (max-width: 323px) {
    body {
        font-size: 10.099999999999966px;
    }
}

@media (max-width: 640px) {

	.sm {
		display: block !important;
	}
	.md {
		display: none !important;
	}

	/*---------------------------------------
	   B.GLOBAL
	-----------------------------------------*/

	/* 01.Base */

	body {
		background-color: #fff;
	}
    body.toppage {
        background: none;
		background-color: #fff;        
    }
    body.ovh {
		overflow: hidden;
	}
	#container {
		min-width: 320px;
	}
	.wrapper {
		width: auto;
		padding: 0;
	}

	/*---------------------------------------
	   C.COMMON
	-----------------------------------------*/

	/* 01.Header */

	.header_sm .header_top {
		padding: 1em 0;
		font-size: 0.9em;
		line-height: 1;
		white-space: nowrap;
		text-align: center;
		background: #eae2d9;
	}
	.header_sm .header_inner {
		height: 13em;
		background: url(../img/common/sm/header.jpg) no-repeat 0 100%;
		background-size: auto 10.1em;
		position: relative;
	}
	.header_sm .logo {
		position: relative;
		top: 2.1em;
		left: 2.35em;
		width: 25.625%;
	}
	.header_sm .top_bar {
		position: absolute;
		top: 1em;
		right: 0.55em;
	}
	.header_sm .btn_cart,
	#btn_menu {
		display: block;
		float: left;
		width: 4.5em;
	}
	.header_sm .btn_cart img,
	#btn_menu img {
		display: block;
	}
	#btn_menu {
		margin-left: 0.75em;
	}
	.header_sm .bottom_bar {
		position: absolute;
		right: 0.7em;
		bottom: 0.7em;
		text-align: right;
	}
	.header_sm .login_info .btn_login,
	.header_sm .register_info .btn_register {
		display: inline-block;
		width: 7em;
		margin-left: 0.5em;
		vertical-align: bottom;
	}
	.header_sm .login_info .user_name {
		text-decoration: underline;
	}
	.header_sm .register_info {
		margin-top: 0.5em;
	}
    .header_sm .login_info .btn_login img,
    .header_sm .register_info img {
        width: 100%;
    }

	/* 02.Navigation */

	.nav_sm .navbar li {
		float: left;
        background-color: #000;
	}
	.nav_sm .navbar li:hover,
    .nav_sm .navbar li.active {
        background-color: #b20000;
	}
    .nav_sm .navbar li.nav01 {
		width: 34.375%;
    }
    .nav_sm .navbar li.nav02 {
		width: 40.937%;
    }
    .nav_sm .navbar li.nav03 {
		width: 24.687%;
    }
    .nav_sm .navbar li.nav04 {
		width: 43.125%;
    }
    .nav_sm .navbar li.nav05 {
		width: 56.875%;
    }
	.nav_sm .navbar li a,
	.nav_sm .navbar li a img {
		display: block;
		width: 100%;
	}
	.nav_menu_sm_inner {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		background: #fff;
		z-index: 1000;
	}
	.nav_menu_sm_inner .nav_head {
		background: #b20000 url(../img/common/sm/water_mask04.png) no-repeat 0 0;
		background-size: 5.6em auto;
		padding: 1em 0 1.2em;
	}
	.nav_menu_sm_inner .nav_head .ttl {
		float: left;
		margin-top: 1.5em;
		margin-left: 2em;
		width: 10.3em;
	}
	.nav_menu_sm_inner .nav_head .btn {
		float: right;
	}
	.nav_menu_sm_inner .nav_head .btn_cart_open {
		float: left;
		height: 5.2em;
	}
	#btn_close {
		float: left;
		margin-left: 1.5em;
		height: 5.2em;
	}
	.nav_menu_sm_inner .nav_head .btn_cart_open img,
	#btn_close img {
		display: block;
		width: auto !important;
		height: 100%;
	}
	.nav_menu_sm_inner .nav_cont {
		padding: 0 1em 1em;
	}
	.navbar_open li a {
		display: block;
		font-weight: bold;
	}
	.navbar_open li a span {
		display: block;
	}
	.navbar_open > li {
		border-bottom: 2px solid #dda6a6;
	}
	.navbar_open > li > a {
		padding: 0.65em 0.4705882352941176em;
		font-size: 1.7em;
		color: #b20000;
	}
	.navbar_open > li > a > span {
		background: url(../img/common/sm/ico_arrow.png) no-repeat 100% 50%;
		background-size: 1.294117647058824em auto;
		padding-right: 1.5em;
	}
	.navbar_open > li.has > a > span {
		background-image: url(../img/common/sm/ico_view.png);
	}
	.navbar_open > li.has.active > a > span {
		background-image: url(../img/common/sm/ico_less.png);
	}
	.navbar_open li ul {
		display: none;
		margin: 0 0.9em 2em;
		background: #f7e7dd;
		-webkit-border-radius: 0.5em;
		-moz-border-radius: 0.5em;
		-ms-border-radius: 0.5em;
		-o-border-radius: 0.5em;
		border-radius: 0.5em;
		overflow: hidden;
	}
	.navbar_open li li {
		border-top: 0.2em solid #fff;
	}
	.navbar_open li li:first-child {
		border-top: none;
	}
	.navbar_open li li a {
		font-size: 1.6em;
		padding: 0.6em 1.25em;
	}
	.navbar_open li li a span {
		background: url(../img/common/sm/arrow02.png) no-repeat 100% 50%;
		background-size: 0.5em auto;
		padding-right: 1.5em;
	}

	/* 03.Contents */

	main {
		margin: 0;
	}
	main:before {
		display: none;
	}
	main .sidebar {
		float: none;
		width: 100%;
		padding: 0;
		background: url(../img/common/sm/water_mask03.png) no-repeat 0 0;
		background-size: 5em auto;
	}
	main .main_post {
		float: none;
		width: 100%;
	}
	.block_pathway {
		padding: 1.1em 1em 0.75em;
	}
	.ul_pathway li {
		font-size: 1em;
		color: #000;
	}
	.ul_pathway li:before {
		margin: 0 0.3em;
	}
	.mod_category {
		padding: 0;
	}
	.mod_category .mod_ttl {
		padding: 3em 2em 1.2em;
	}
	.mod_category .mod_cont {
		margin: 0;
	}
	.ul_category {
		border-bottom: 1px solid #000;
	}
	.ul_category li {
		margin: 0;
		border-top: 1px solid #000;
	}
	.ul_category li a {
		display: block;
		font-size: 1.6em;
		padding: 0.4em 1.25em;
	}
	.ul_category li a span {
		display: block;
		background-image: url(../img/common/sm/bullet01.png);
		background-size: 1.125em auto;
		padding-left: 1.625em;
	}
	.ul_category li a:hover span {
		background-image: url(../img/common/sm/bullet02.png);
	}
	.gb_block {
		border-color: #fff;
		border-style: solid;
		border-width: 1em 1em 1.5em;
		padding: 2.5em 1em 5.5em;
	}
	.gb_block .block_ttl {
		padding: 0;
	}
	.gb_block .block_desc {
		margin-top: 1.75em;
		padding: 0;
	}

	/* 04.Footer */

	footer {
		background-color: #000;
		color: #fff;
	}
	.footer_inner_sm .ul_footer_info li {
		border-top: 1px solid #808080;
		height: 3.15em;
		line-height: 3.15em;
		padding: 0 1em;
		text-align: center;
	}
	.footer_inner_sm .ul_footer_info .info_contact {
		height: auto;
		line-height: 1;
		padding: 1.6em 1em  1em;
	}
	.footer_inner_sm .ul_footer_info .info_contact .desc {
		margin-top: 0.7em;
		font-weight: bold;
	}
	.footer_inner_sm .ul_footer_info .info_mail .desc span {
		background: url(../img/common/sm/ico_mail.png) no-repeat 0 50%;
		background-size: 1.666666666666667em auto;
		padding-left: 2.083333333333333em;
		font-size: 1.2em;
	}
	.footer_inner_sm .ul_footer_info .info_note .desc {
		font-size: 1.2em;
		font-weight: bold;
	}
	.footer_info {
		padding: 1.6em 0 2.1em;
	}
	.footer_nav li {
		padding: 0 1.5em;
		margin-bottom: 0.8em;
		font-size: 1.2em;
	}
	.footer_nav li:nth-child(4) {
		border-left: none;
	}
	footer .copyright {
		font-size: 0.8em;
		margin-top: 1.25em;
		line-height: 1.5;
	}


	/*---------------------------------------
	   D.PAGES
	-----------------------------------------*/

	/* 01.Top */

	.block_top_slider {
		margin-top: 0.5em;
	}
	.block_top_slider .block_inner {
		border-width: 0.4em;
	}
	.div_top_slider {
		width: 100%;
	}
	.div_top_slider .bx-pager {
		bottom: 0.9em;
	}
	.div_top_slider .bx-pager .bx-pager-item {
		padding: 0 0.2em;
	}
	.div_top_slider .bx-pager .bx-pager-item a {
		width: 0.75em;
		height: 0.75em;
	}
	.div_top_slider .bx-controls-direction {
		display: none !important;
	}
	.block_hot_news {
		background: #fff;
		border: none;
		padding: 3.1em 2em 2.5em;
	}
	.block_hot_news .block_head .ttl {
		float: none;
		padding: 0;
	}
	.block_hot_news .block_head .btn_more {
		display: none;
	}
	.block_hot_news .block_cont {
		margin-top: 1.75em;
	}
	.list_hot_news dt {
		padding: 0.6em 1em 0.6em 0.5em;
		width: 28%;
	}
	.list_hot_news dd {
		padding: 0.6em 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 70%;
	}
	.block_hot_news .block_footer {
		margin-top: 1.5em;
		text-align: right;
	}
	.block_hot_news .block_footer .btn_more {
		display: inline-block;
		font-size: 1.2em;
		font-weight: bold;
		letter-spacing: 0.175em;
		background: url(../img/common/sm/bullet04.png) no-repeat 0 50%;
		background-size: 1.25em auto;
		padding-left: 1.583333333333333em;
	}
	.block_banner_access {
		padding: 0.8em 1em 1.75em;
		background: #fff;
	}
	.block_banner_access .row {
		margin: 0.8em 0 0;
	}
	.block_banner_access .row.row_full {
		margin: 0.8em 0 0;
	}
	.block_banner_access .row:first-child {
		margin-top: 0;
	}
	.block_banner_access .row .col {
		float: none;
		padding: 0;
		width: 100% !important;
		margin-top: 0.8em;
	}
	.block_banner_access .row .col:first-child {
		margin-top: 0;
	}
	.block_product_feature {
		background: #eae2d9;
		border: none;
		padding: 0 0 4.5em 0;
		margin: 0;
		border-top: 1px solid #615752;
	}
	.block_product_feature .block_tag {
		left: 0.8em;
		top: 0;
		width: 7.1em;
	}
	.block_product_feature .block_tag img {
		display: block;
	}
	.block_product_feature .block_ttl {
		padding: 3em 2.25em 0;
	}
	.block_product_feature .block_cont {
		width: 73.4375%;
		margin: 3em auto 0;
	}
	.block_product_feature .bx-viewport {
		overflow: visible !important;
	}
	.ul_product_feature {
		margin: 0;
	}
	.ul_product_feature li {
		float: none;
		width: 100%;
		padding: 0;
	}
	.ul_product_feature li .item {
		padding: 0 0.75em;
	}
	.ul_product_feature li .thumb {
		border-width: 0.75em;
	}
	.ul_product_feature li .label {
		width: 4.7em;
		top: -0.5em;
		right: -0.9em;
	}
	.ul_product_feature li .cont {
		margin-top: 0.5em;
		font-size: 1.4em;
	}
	.ul_product_feature li .btn {
		margin-top: 1.2em;
	}
	.ul_product_feature li .btn_detail {
		display: block;
		width: 16.9em;
		margin: 0 auto;
	}

	/* 02.About */

	.block_about .block_cont {
		margin-top: 1.75em;
	}
	.gb_anchor {
		margin: 0 -0.55em;
		overflow: hidden;
	}
	.gb_anchor li {
		width: 50%;
		padding: 0 0.55em;
		margin: 0;
	}
	.gb_anchor li a {
		width: 100%;
		height: 2.363636363636364em;
		line-height: 2.363636363636364em;
		background: url(../img/common/sm/btn_anchor.png) no-repeat;
		background-size: 100% 100%;
		padding-right: 1.5em;
		font-size: 1.1em;
	}
	.gb_heading {
		margin-top: 2.5em;
		padding: 0 1em;
	}
	.h3_title,
	.h4_title,
	.h5_title {
		background-image: url(../img/common/sm/bullet_title.png) ;
		background-size: 2em auto;
		padding: 0.5em 0 0.5em 2em;
	}
	.gb_heading h4,
	.gb_heading h5 {
		margin-top: 0.5em;
	}
	.gb_post {
		margin-top: 1em;
	}
	.gb_post .thumb {
		float: none;
		width: 100%;
		padding: 0 0.5em;
		margin-top: 2.2em;
	}
	.gb_post .cont {
		float: none;
		width: 100%;
		padding: 0;
	}
	.gb_line {
		height: 0.3em;
		margin-top: 2.3em;
	}
	.gb_tag {
		margin-top: 2em;
		font-size: 1.2em;
	}
	.group_gb_btn {
		width: 100%;
		margin-top: 3em;
		padding: 0 0.15em;
	}
	.group_gb_btn .row {
		margin: 0.65em -0.2em 0;
	}
	.group_gb_btn .row .col {
		padding: 0 0.2em;
	}
    .row .column2 {
		padding: 0 0.2em;
	}
	.btn_L {
		height: 3.6em;
		line-height: 3.6em;
		background-image: url(../img/common/sm/btn_large.png);
		background-size: 100% 100%;
		background-size: 100% 100%;
	}
	.btn_L:hover,
	.group_gb_btn .btn_L.hover {
		background-image: url(../img/common/sm/btn_large_hover.png);
	}
	.btn_M {
		height: 3.6em;
		line-height: 3.6em;
		background-image: url(../img/common/sm/btn_med.png);
		background-size: 100% 100%;
	}
	.btn_M:hover,
	.group_gb_btn .btn_M.hover {
		background-image: url(../img/common/sm/btn_med_hover.png);
	}
	.btn_S {
		height: 3.5em;
		line-height: 1.2;
		background-image: url(../img/common/sm/btn_small.png);
		background-size: 100% 100%;
	}
	.btn_S span {
		display: table;
		width: 100%;
		height: 100%;
	}
	.btn_S small {
		display: table-cell;
		vertical-align: middle;
		font-size: 1em;
	}
	.btn_S:hover,
	.group_gb_btn .btn_S.hover {
		background-image: url(../img/common/sm/btn_small_hover.png);
	}
	.group_gb_style {
		margin-top: 5em;
		padding: 0 1.5em;
	}
	.group_gb_style .col {
		float: none;
		margin: 0 !important;
		padding: 0 !important;
	}
	.gb_list li span {
		background-image: url(../img/common/sm/arrow01.png);
		background-size: 1.4em auto;
		padding-left: 2em;
	}
	.group_gb_link {
		margin-top: 2.5em;
	}
	.group_gb_link li {
		margin-bottom: 1.5em;
	}
	.gb_link,
	.gb_link_dark,
	.gb_link_light {
		font-size: 1.2em;
	}
	.gb_pager {
		margin: 8em -1em 0;
		overflow: hidden;
	}
	.ul_gb_pager .pager_item {
		padding: 0 0.4em;
	}
	.ul_gb_pager .pager_item a {
		width: 2.1em;
		height: 2.2em;
		line-height: 2.2em;
		background-image: url(../img/common/sm/pagi_default.png);
		background-size: 100% 100%;
	}
	.ul_gb_pager .pager_item a.active {
		background-image: url(../img/common/sm/pagi_active.png);
	}
	.ul_gb_pager .pager_prev {
		padding-right: 0.9em;
	}
	.ul_gb_pager .pager_prev a {
		width: 10em;
		height: 2.4em;
		line-height: 2.4em;
		background-image: url(../img/common/sm/pagi_prev.png);
		background-size: 100% 100%;
		padding: 0 1.4em;
	}
	.ul_gb_pager .pager_next {
		padding-left: 0.8em;
	}
	.ul_gb_pager .pager_next a {
		width: 10em;
		height: 2.4em;
		line-height: 2.4em;
		background-image: url(../img/common/sm/pagi_next.png);
		background-size: 100% 100%;
		padding: 0 1.4em;
	}

	/* 03.Product */

	.block_products {
		padding: 1.5em;
		border-width: 1em;
	}
	.block_products .block_cont {
		margin-top: 2.2em;
	}
	.block_products .block_desc {
		margin-top: 1em;
	}
	.mod_products_filter {
		border-width: 0.15em;
		padding-bottom: 0.8em;
	}
	.mod_products_filter .ttl {
		position: static;
	}
	.mod_products_filter .filter .slect {
		margin-left: 0;
		width: 9.9em;
		height: 1.7em;
		padding-left: 1.2em;
	}
	.mod_products_pager {
		margin: 2.4em -0.5em 0;
	}
	.mod_products_list {
		margin-top: 2.5em;
	}
	.mod_products_list .row {
		border: none;
		padding: 0;
		margin: 0;
	}
	.ul_products {
		margin: 0;
	}
	.ul_products li {
		float: none;
		width: 100%;
		padding: 1.4em 0;
		border-top: 0.15em solid #fff;
	}
	.mod_products_list .row:first-child .ul_products li:first-child {
		padding-top: 0;
		border-top: none;
	}
	.ul_products li .thumb {
		float: left;
		width: 46.42857142857143%;
	}
	.ul_products li .thumb .tag {
		width: 4.2em;
	}
	.ul_products li .thumb .tag img {
		width: 100%;
	}
	.ul_products li .cont {
		margin: 0;
		padding: 0.3em 0.5em 0;
		overflow: hidden;
	}
	.ul_products li .cont .ttl {
		font-size: 1.2em;
	}
	.mod_products_pager.bottom {
		margin-top: 3em;
	}
	.mod_tel_banner {
		margin: 0;
		padding: 0 1.1em;
	}
	.block_others_products {
		background-image: none;
		border-width: 0.6em;
		padding: 1.3em 1.75em 0.6em;
		margin: 0.8em 1em 1.2em;
	}
	.block_others_products .block_cont {
		margin-top: 1.3em;
	}
	.ul_others_products {
		text-align: center;
	}
	.ul_others_products li {
		padding: 0;
		float: left;
		margin: 0 1.2em 0.6em 0;
	}
	.ul_others_products li a {
		display: inline-block;
		background-image: url(../img/common/sm/bullet04.png);
		background-size: 1.15em auto;
		padding-left: 1.8em;
	}
	.block_products .ul_gb_pager .pager_item {
		padding: 0 0.3em;
	}
	.block_products .ul_gb_pager .pager_item a {
		width: 1.85em;
		height: 1.85em;
		line-height: 1.85em;
	}
	.block_products .ul_gb_pager .pager_prev {
		padding-right: 0.5em;
	}
	.block_products .ul_gb_pager .pager_prev a {
		width: 8.1em;
		height: 1.95em;
		line-height: 1.95em;
		padding: 0 1em;
	}
	.block_products .ul_gb_pager .pager_next {
		padding-left: 0.5em;
	}
	.block_products .ul_gb_pager .pager_next a {
		width: 8.1em;
		height: 1.95em;
		line-height: 1.95em;
		padding: 0 1em;
	}

	/* 04.Product | Detail */

	.mod_product_detail .product_thumb {
		float: none;
		width: 100%;
		margin: 0;
	}
	.mod_product_detail .product_cont {
		padding-top: 1.2em;
	}
	.ul_product_slider li img {
		width: 100%;
	}
	.ul_product_slider .item .tag {
		width: 7.4em;
	}
	#bx_pager_product {
		display: none;
	}
	.mod_product_detail .bx-controls {
		margin-top: 0.6em;
		line-height: 0;
		text-align: center;
	}
	.mod_product_detail .bx-controls .bx-pager-item {
		display: inline-block;
		padding: 0 0.4em;
	}
	.mod_product_detail .bx-controls .bx-pager-item a {
		display: block;
		width: 1.3em;
		height: 1.3em;
		background: #c7c8c9;
		text-indent: -99999px;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
		border-radius: 100%;
	}
	.mod_product_detail .bx-controls .bx-pager-item a.active {
		background: #be0000;
	}
	.mod_product_detail .product_cont .ttl {
		font-size: 2.4em;
	}
	.mod_product_detail .product_cont .desc {
		font-size: 1.1em;
	}
	.mod_product_detail .product_cont .price {
		font-size: 1.7em;
		margin-top: 1.17em;
		line-height: 1.3;
	}
	.mod_product_detail .product_cont .order {
		margin-top: 1.8em;
	}
	.mod_product_detail .product_cont .order .label {
		font-size: 1.1em;
	}
	.mod_product_detail .product_cont .select_choose {
		width: 4.071428571428571em;
		height: 1.785714285714286em;
		padding-left: 1.5em;
		font-size: 1.4em;
	}
	.mod_product_detail .product_cont .btn_add_cart {
		width: 15.9em;
		margin-left: 1.6em;
	}
	.mod_product_detail .product_cont .info {
		margin-top: 1.5em;
		padding: 1em 0.6em;
	}
	.mod_product_detail .product_cont .btn_more_info {
		background-image: url(../img/common/sm/bullet04.png);
		background-size: 1.1em auto;
		padding-left: 1.6em;
	}
	.mod_product_detail .product_cont .detail {
		margin-top: 1.2em;
		padding: 0 0.6em;
	}
	.mod_product_post {
		margin-top: 3.5em;
	}
	.div_product_catch .div_ttl {
		padding: 0 0 0.7em 0;
		border-width: 0.15em;
	}
	.div_product_catch .div_cont {
		margin-top: 0.8em;
	}
	.mod_product_post .row {
		margin: 2.5em 0 0;
		padding: 0;
		border: none;
	}
	.mod_product_post .row .row_inner {
		margin: 0;
	}
	.mod_product_post .row .col {
		float: none;
		width: 100%;
		padding: 0;
		margin-top: 1.2em;
	}
	.mod_product_post .row .col:first-child {
		margin-top: 0;
	}
	.mod_product_post .row .div_ttl {
		padding-bottom: 0.6em;
		border-width: 0.15em;
	}
	.mod_product_post .row .div_cont {
		margin-top: 1em;
	}
	.dl_product_detail dl dt {
		width: 6.5em;
		padding: 0.22em 0.5em 0.22em 0;
	}
	.dl_product_detail dl dd {
		padding: 0.22em 0;
	}

	/* 05.Contact */

	.block_contact {
		border-color: #fff;
		border-style: solid;
		border-width: 1em 1em 1.5em;
	}
	.mod_contact_main {
		border: 0;
		padding: 0;
	}
	.mod_contact_main .mod_head {
		padding: 1.7em 1.25em 1.3em;
	}
	.mod_contact_main .mod_desc {
		margin-top: 1.2em;
		font-size: 1em;
	}
	.mod_contact_main .mod_note {
		font-size: 0.8em;
	}
	#contact_form {
		display: block;
		margin: 0;
	}
	.tb_contact_form_sm {

	}
	.tb_contact_form_sm > dl {
		border-top: 1px solid #fff;
	}
	.tb_contact_form_sm > dl > dt,
	.tb_contact_form_sm > dl > dd {
		padding: 1em 2.5em;
	}
	.tb_contact_form_sm > dl > dt {
		background: #f0e6d4;
	}
	.tb_contact_form_sm > dl > dd {
		background: #f7f1e7;
	}
	.group_textinput {
		margin-top: 0.8em;
	}
	.group_textinput:first-child {
		margin-top: 0;
	}
	.group_textinput .item {
		display: inline-block;
		margin: 0 0 0 1.5em;
	}
	.group_textinput .item:first-child {
		margin-left: 0;
	}
	.group_textinput .item span {
		width: 2.5em;
	}
	.tb_contact_form_sm .text_input,
	.tb_contact_form_sm .text_area,
	.tb_contact_form_sm .select_box {
		font-size: inherit;
		font-family: inherit;
		vertical-align: middle;
		border: 1px solid #9d9d9d;
		-webkit-border-radius: 0.2em;
		-moz-border-radius: 0.2em;
		-ms-border-radius: 0.2em;
		-o-border-radius: 0.2em;
		border-radius: 0.2em;
	}
	.tb_contact_form_sm .text_input {
		width: 9em;
		height: 1.7em;
		line-height: 1.7em;
		padding: 0 0.5em;
		text-align: center;
		-webkit-appearance: none;
	}
	.tb_contact_form_sm .text_area {
		display: block;
		width: 100%;
		height: 17.5em;
		resize: none;
		padding: 0.5em;
		-webkit-appearance: none;
	}
	.tb_contact_form_sm .select_box {
		display: block;
		width: 21.5em;
		height: 1.7em;
		line-height: 1.7em;
		padding: 0.1em 0 0 0.5em;
	}
	.tb_contact_form_sm .select_box.auto {
		margin: 0 auto;
	}
	.address_field {
		width: 100%;
	}
	.address_field .th {
		width: 2.5em;
		vertical-align: middle;
		padding-top: 0.8em;
	}
	.address_field .td {
		vertical-align: middle;
		padding-top: 0.8em;
	}
	.address_field .tr:first-child .th,
	.address_field .tr:first-child .td {
		padding-top: 0;
	}
	.address_field .size_large {
		display: block;
		width: 21.5em;
	}
	.address_note {
		font-size: 0.8em;
		margin: 0.3em -3.125em;
		text-align: center;
		white-space: nowrap;
	}
	.group_textinput_half span,
	.group_textinput_third span {
		margin: 0 0.6em;
		vertical-align: middle;
	}
	.group_textinput_third .text_input {
		width: 6.8em;
	}
	.group_textinput_plus .text_input {
		display: block;
		width: 100%;
	}
	.group_textinput_plus .text_note {
		font-size: 0.8em;
		margin: 0.3em 0;
	}
	.mod_contact_btn {
		background: #e6ded4;
		margin: 0;
		padding: 1.5em;
	}
	.mod_contact_btn .ul_contact_btn {
		margin-top: 1.5em;
	}
	.mod_contact_btn .ul_contact_btn:first-child {
		margin-top: 0;
	}
	.mod_contact_btn .ul_contact_btn li {
		padding: 0 0.3em;
	}
	.mod_contact_btn .ul_contact_btn li a {
		display: block;
		width: 11.2em;
	}
	.ul_radio label span {
		margin-left: 0.3em;
	}
    
    .mod_cart .seal{
        width: 100%;
        height: auto;
    }
    
    .mod_cart .seal .left,
    .mod_cart .seal .right{
        float: none;
        text-align: center;
    }
    
    .mod_cart .table_content{
        padding: 4px;
    }
    
    .table_content th,
    .table_content td{
        padding: 15px 2px;
    }
    
    .mod_cart .table_content th.name{
        width: 25%;
    }
    
    .mod_cart .table_content td.total-row,
    .mod_cart .table_content td.total{
        font-size: 13px;
    }
    
    .mod_cart .table_content td.total{
        padding-right: 5px;
    }
    
    .mod_cart .seal .right img{
        display: block;
        margin: auto;
        margin-top: 10px;
    }
    
    .mod_shopping .table_content{
        padding: 3px;
    }
    
    .payarea02 .opt-leftside,
    .payarea02 .opt-rightside{
        width: 100%;
        display: block;
        float: none;
    }
    
    .sm-mt10{
        margin-top: 10px;
    }
    
    .mod_entry.register,
    .mod_mypage.change{
        padding-left: 0;
        padding-right: 0;
    }
    
    .mod_entry .select_box.small,
    .mod_mypage .select_box.small{
        width: 20%;
        margin-right: 2%;
        display: inline-block;
    }
    
    .mod_guide #shopping .h4_title{
        background-image: none;
        padding: 1% 0;
    }
    
    .sm_center {
        margin-left: auto;
        margin-right: auto;
    }
    
    .gb_anchor.two-columns li{
        display: block;
        width: 100%;
    }
    
    .gb_anchor.two-columns li a{
        width: 100%;
        height: auto;
    }
    
    .gb_post.bigleft .cont,
    .gb_post.bigleft .thumb{
        width: 100%;
    }
    
    .gb_post.bigleft .thumb img{
        margin-bottom: 5px;
        display: inline-block;
    }
    
    .mod_static.kanri #flavor, .mod_static.kanri #cooking{
        width: 100%;
        margin: 10px 0;
    }
    
    .mod_static.unagiflow .thumb{
        text-align: center;
    }
    
    .gb_post.bigright .thumb{
        display: none;
    }
    
    .gb_post.bigright.bigger .cont{
        width: 100%;
    }

    .gb_post.bigright .fright{
        float: none;
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    
    .mod_static.unagiflow .link{
        width: 25%;
    }
    
    .mod_static.hotel .hotel_desc .gb_post .thumb {
        width: 100%;
        margin-top: 20px;
    }
    .mod_static.hotel .hotel_desc .gb_post .thumb .sm {
        display: inline-block !important;
        margin-left: auto;
        margin-right: auto;
    }
    
    .mod_static.hotel .hotel_links{
        width: 100%;
    }
    
    .mod_static.hotel .hotel_map iframe{
        width: 100%;
    }
    
    .mod_static.recipe .group_gb_style {
        padding: 0;
    }
    .mod_static.recipe table td {
        padding: 1px 0 1px 0px;
    }
    .mod_static.recipe table th {
        width: auto;
    }
    .mod_static.recipe table, .mod_static .col02 p {
        margin-left: 0;
    }
    .recipe_col01_40{
        width: auto;
    }
    .recipe_col02_55 {
        width: auto; 
    }

}


@media (max-width: 480px) {

	.navbar_open > li {
		border-width: 1px;
	}

}